﻿@using Tgs.SDIO.Util.Web.Trazabilidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_BandejaObservacionOportunidad;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Trazabilidad" block-ui="main">
</body>
<div id="IdBandejaObservacionOportunidad" ng-app="app.Trazabilidad" ng-controller="BandejaObservacionOportunidad as vm">
    

    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Filtros
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-lg-1 control-label">Oportunidad:</label>
                        <div class="col-lg-3">
                            <input id="IdOportunidadSF" class="form-control" ng-model="vm.IdOportunidadSF" placeholder="Ingrese Codigo Oportunidad" maxlength="20" autocomplete="off" ng-cloak>
                        </div>
                        <label class="col-lg-1 control-label">Concepto:</label>
                        <div class="col-lg-3">
                            <select id="IdConcepto" class="form-control input-md"
                                    ng-model="vm.IdConcepto"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.listConcepto" ng-cloak></select>
                        </div>
                        <div class="col-lg-4">
                            <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" type="submit" href="{{vm.EnlaceRegistrar}}0"> Nuevo</a>
                            <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.BuscarObservacionOportunidad()">
                                Filtrar
                            </button>
                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                Limpiar
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Mantenimiento de Observaciones de Oportunidades
                </header>
                <div class="panel-body">
                    <section id="flip-scroll">
                        <div class="table-responsive">
                            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                                   class="table table-bordered table-striped table-condensed cf"
                                   dt-instance="vm.dtInstance" style="width:100%;">
                                <thead class="cf">
                            </table>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>

    <!-- Modal Agregar-->

    <div class="modal fade" id="IdConfirmacionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="txtIdObservacionOportunidad">¿Esta seguro de querer eliminar este registro?</label>
                        <input type="hidden" id="idClave" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAgregar" ng-if="vm.btnEliminar" ng-click="vm.AceptarEliminarObservacionOportunidad()">Eliminar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script>

        function EliminarObservacionOportunidad(IdObservacion) {
            var scope = angular.element(document.getElementById("IdBandejaObservacionOportunidad")).scope();
            scope.vm.EliminarObservacionOportunidad(IdObservacion);
            scope.$apply();
        }
    </script>
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/BandejaObservacionOportunidad/js")

}





