﻿<div id="IdMedio3GController" ng-app="app.Oportunidad" ng-controller="Medio3GController as vm">
    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_Medio3G" class="alert-edit"></div>
    </div>

    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Servicio<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtServicio" ng-model="vm.servicio" class="tb form-control" autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">N° Circuito</label>
                <div class="col-md-4">
                    <input id="txtCircuito" ng-model="vm.circuito" class="form-control" autocomplete="off" />
                </div>

            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Medio</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdMedio"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListMedio" ng-cloak></select>
                </div>
                <label class="col-md-2 control-label">Tipo de Enlace</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipoEnlace"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoEnlace" ng-cloak></select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Localidad</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdLocalidad"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListLocalidad" ng-cloak></select>
                </div>
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidad" ng-model="vm.cantidad" type="text" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">BW</label>
                <div class="col-md-4">
                    <input id="txtBW" ng-model="vm.BW" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-custom btn-sm" id="btnMedio3G" type="button" ng-click="vm.GrabarMedio3G()">Grabar</button>
                </div>
            </div>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>

</div>

@section scripts{
    <script>
        var ConceptoDatosCapexDtoResponse = @Html.Raw(Json.Encode(ViewBag.dto));
    </script>

    @Scripts.Render("~/bundles/app/oportunidad/medio3g/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");

}