﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body ng-app="app.Trazabilidad" block-ui="main">
</body>

<div id="IdBandejaDatosPreventaMovil" ng-app="app.Trazabilidad" ng-controller="BandejaDatosPreventaMovil as vm">

    <div class="content-page">

        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Filtros
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <div id="divAlert_Eliminar" class="alert-edit col-lg-12"></div>
                <div class="messages"></div>
                <div class="controls">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Oportunidad:</label>
                                <div class="col-md-7">
                                    <input id="DescripcionOportunidad" class="form-control" ng-model="vm.DescripcionOportunidad" placeholder="Ingrese Descripción" maxlength="240" autocomplete="off" ng-cloak>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Cliente: </label>
                                <div class="col-md-7">
                                    <input id="DescripcionCliente" class="form-control" ng-model="vm.DescripcionCliente" placeholder="Ingrese Descripción" maxlength="240" autocomplete="off" ng-cloak>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Etapa:</label>
                                <div class="col-md-7">
                                    <select id="IdEtapa" class="form-control input-md"
                                            ng-model="vm.IdEtapa"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listEtapas" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Estado: </label>
                                <div class="col-md-7">
                                    <select id="IdEstadoCaso" class="form-control input-md"
                                            ng-model="vm.IdEstadoCaso"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listEstadosCaso" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Segmento Negocio:</label>
                                <div class="col-md-7">
                                    <select id="IdSegmentoNegocio" class="form-control input-md"
                                            ng-model="vm.IdSegmentoNegocio"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listSegmentosNegocios" ng-cloak></select>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Tipo Oportunidad: </label>
                                <div class="col-md-7">
                                    <select id="IdTipoOportunidad" class="form-control input-md"
                                            ng-model="vm.IdTipoOportunidad"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listTiposOportunidad" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Complejidad:</label>
                                <div class="col-md-7">
                                    <select id="Codigo" class="form-control input-md"
                                            ng-model="vm.Codigo"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listComplejidad" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">% Cierre: </label>
                                <div class="col-md-7">
                                    <input type="number" id="PorcentajeCierre" class="form-control" ng-model="vm.PorcentajeCierre" placeholder="Ingrese Descripción" autocomplete="off" ng-cloak>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" data-toggle="modal" data-target="#ModalRegistrarDatosPreventaMovil" ng-click="vm.ModalDatosPreventaMovil()">
                                Nuevo
                            </button>
                            <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.BuscarDatosPreventaMovil()">
                                Filtrar
                            </button>
                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                Limpiar
                            </button>
                        </div>
                        @*<div class="col-sm-12 text-right">
                            <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" type="submit" href="{{vm.EnlaceRegistrar}}0"> Nuevo</a>
                            <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.BuscarDatosPreventaMovil()">
                                Filtrar
                            </button>
                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                Limpiar
                            </button>
                        </div>*@
                    </div>
                </div>
            </div>
        </section>

        <br />
        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Seguimiento PreVenta (F4) - Casos de Oportunidad
            </header>
            <div class="panel-body">
                <section id="flip-scroll">
                    <div class="table-responsive">
                        <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                               class="table table-bordered table-striped table-condensed cf"
                               dt-instance="vm.dtInstance" style="width:200%">
                            <thead class="cf">
                        </table>
                    </div>
                </section>
            </div>
        </section>

        <!-- Modal-->

        <div class="modal fade" id="ModalRegistrarDatosPreventaMovil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p class="modal-title">Registro de Datos Preventa Movil</p>

                    </div>
                    <div id="ContenidoDatosPreventaMovil" class="modal-body-white">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    @*<div id="IdBandejaDatosPreventaMovil" ng-app="app.Trazabilidad" ng-controller="BandejaDatosPreventaMovil as vm">

            <div class="content-page">
                <div class="col-md-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <i class="fa fa-chevron-circle-down"> </i>
                            Filtros
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                            </span>
                        </header>
                        <div class="panel-body">
                            <div class="col-lg-11">
                                <div class="form-group">
                                        <label class="col-lg-2 control-label">Oportunidad:</label>
                                        <div class="col-lg-4">
                                            <input id="DescripcionOportunidad" class="form-control" ng-model="vm.DescripcionOportunidad" placeholder="Ingrese Descripción" maxlength="240" autocomplete="off" ng-cloak>
                                        </div>
                                        <label class="col-lg-2 control-label">Cliente:</label>
                                        <div class="col-lg-4">
                                            <input id="DescripcionCliente" class="form-control" ng-model="vm.DescripcionCliente" placeholder="Ingrese Descripción" maxlength="240" autocomplete="off" ng-cloak>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-lg-2 control-label">Etapa:</label>
                                        <div class="col-lg-4">
                                            <select id="IdEtapa" class="form-control input-md"
                                                    ng-model="vm.IdEtapa"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.listEtapas" ng-cloak></select>
                                        </div>
                                        <label class="col-lg-2 control-label">Estado:</label>
                                        <div class="col-lg-4">
                                            <select id="IdEstadoCaso" class="form-control input-md"
                                                    ng-model="vm.IdEstadoCaso"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.listEstadosCaso" ng-cloak></select>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-lg-2 control-label">Segmento Negocio:</label>
                                        <div class="col-lg-4">
                                            <select id="IdSegmentoNegocio" class="form-control input-md"
                                                    ng-model="vm.IdSegmentoNegocio"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.listSegmentosNegocios" ng-cloak></select>
                                        </div>
                                        <label class="col-lg-2 control-label">Tipo Oportunidad:</label>
                                        <div class="col-lg-4">
                                            <select id="IdTipoOportunidad" class="form-control input-md"
                                                    ng-model="vm.IdTipoOportunidad"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.listTiposOportunidad" ng-cloak></select>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-lg-2 control-label">Complejidad:</label>
                                        <div class="col-lg-4">
                                            <select id="Codigo" class="form-control input-md"
                                                    ng-model="vm.Codigo"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.listComplejidad" ng-cloak></select>
                                        </div>
                                        <label class="col-lg-2 control-label">% Cierre:</label>
                                        <div class="col-lg-4">
                                            <input type="number" id="PorcentajeCierre" class="form-control" ng-model="vm.PorcentajeCierre" placeholder="Ingrese Descripción" autocomplete="off" ng-cloak>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-lg-1">
                                <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" type="submit" href="{{vm.EnlaceRegistrar}}0"> Nuevo</a>
                                <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.BuscarDatosPreventaMovil()">
                                    Filtrar
                                </button>
                                <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                    Limpiar
                                </button>
                            </div>
                        </div>
                    </section>
                    <br />
                    <section class="panel">
                        <header class="panel-heading">
                            <i class="fa fa-chevron-circle-down"> </i>
                            Seguimiento PreVenta (F4) - Casos de Oportunidad
                        </header>
                        <div class="panel-body">
                            <section id="flip-scroll">
                                <div class="table-responsive">
                                    <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                                           class="table table-bordered table-striped table-condensed cf"
                                           dt-instance="vm.dtInstance" style="width:180%">
                                        <thead class="cf">
                                    </table>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
            </div>


            <div class="modal fade" id="IdConfirmacionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Confirmación</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <label for="txtIdRecurso">¿Esta seguro de querer eliminar este registro?</label>
                                <input type="hidden" id="idClave" />
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnAgregar" ng-if="vm.btnEliminar" ng-click="vm.AceptarEliminarDatosPreventaMovil()">Eliminar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@


    @section scripts{

        <script>
            function CargaModalDatosPreventaMovil() {
                var scope = angular.element(document.getElementById("idDatosPreventaMovilController")).scope();
                scope.vm.CargaModalDatosPreventaMovil(IdConceptoDatosCapex, IdServicioConcepto, IdConcepto);
                scope.$apply(IdConceptoDatosCapex, IdServicioConcepto, IdConcepto);
            }
            function EliminarDatosPreventaMovil(IdDatosPreventaMovil) {
                var scope = angular.element(document.getElementById("IdBandejaDatosPreventaMovil")).scope();
                scope.vm.EliminarDatosPreventaMovil(IdDatosPreventaMovil);
                scope.$apply();
            }
            //function EliminarDatosPreventaMovil(IdDatosPreventaMovil) {
            //    var scope = angular.element(document.getElementById("IdBandejaDatosPreventaMovil")).scope();
            //    scope.vm.EliminarDatosPreventaMovil(IdDatosPreventaMovil);
            //    scope.$apply();
            //}
        </script>

        @Scripts.Render("~/bundles/app/comun/js")
        @Scripts.Render("~/bundles/app/comun/BandejaServicio/js")
        @Scripts.Render("~/bundles/app/Trazabilidad/BandejaDatosPreventaMovil/js")

    }









