﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Funnel;

@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_Probabilidad;
    Layout = "~/Areas/Funnel/Views/Shared/_LayoutPopupFunnel.cshtml";
}

<div class="container-fluid" ng-app="app.Funnel" ng-controller="ReporteProbabilidadPorMesController as vm">
    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    Reporte
                </header>
                <div class="panel-body">
                    <div class="card-body">
                        <iframe id="FReporte" height="750" class="iframe-style"></iframe>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script type="text/javascript">
    var IdOportunidad = '@ViewBag.IdOportunidad';
</script>

@section scripts{
    @Scripts.Render("~/bundles/app/funnel/reporteProbabilidadPorMes/js")
}

