﻿@using Tgs.SDIO.Util.Web.Trazabilidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Registrar Actividad Oportunidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Trazabilidad" block-ui="main">
</body>
<div ng-app="app.Trazabilidad" ng-controller="RegistrarActividadOportunidad as vm" ng-cloak>

    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading-modal">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Datos Generales
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class='col-xs-12 col-sm-12'>
                        <div class='form-group'>
                            <h4 class="modal-title">Actividades</h4>
                            <h5 class="font-bold">Los campos con asterisco (*) son obligatorios.</h5>
                        </div>
                        <div id="divAlert">
                        </div>
                    </div>
                    <form class="form-horizontal">
                        <div class="row form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <label class="col-md-3 control-label" for="txtIdActividad">Código</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control input-md" id="txtIdActividad" ng-model="vm.IdActividad" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <label class="col-md-3 control-label" for="txtDescripcion">Código Agrupador(*):</label>
                                <div class="col-md-9">
                                    <select id="txtIdActividadPadre" class="form-control input-md"
                                            ng-model="vm.IdActividadPadre"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listActividadesPadre" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <label class="col-md-3 control-label" for="txtDescripcion">Descripción(*):</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control input-md" ng-model="vm.Descripcion" id="txtDescripcion" maxlength="250" />
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <label class="col-md-3 control-label" for="txtDescripcion">Predecesoras(*):</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control input-md" ng-model="vm.Predecesoras" id="txtPredecesoras" maxlength="150" />
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <label class="col-md-3 control-label" for="txtDescripcion">Area/Sistema(*):</label>
                                <div class="col-md-9">
                                    <select id="ddlIdAreaSeguimiento" class="form-control input-md"
                                            ng-model="vm.IdAreaSeguimiento"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listAreas" ng-cloak></select>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <label class="col-md-3 control-label" for="ddlSegmentoNegocio">Segmento Negocio(*):</label>
                                <div class="col-md-9">
                                    <div ng-dropdown-multiselect="" options="vm.SegmentoNegocioData" selected-model="vm.SegmentoNegocioModel" checkboxes="true" extra-settings="vm.SegmentoNegocioSettings"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4 control-label" for="listFases">Fase(*):</label>
                                        <div class="col-md-8">
                                            <select id="ddlIdFase" class="form-control input-md"
                                                    ng-model="vm.IdFase"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.listFases" ng-change="vm.ObtenerEtapa(vm.IdFase)" ng-cloak></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4 control-label" for="listEtapas">Etapa(*):</label>
                                        <div class="col-md-8">
                                            <select id="ddlIdEtapa" class="form-control input-md"
                                                    ng-model="vm.IdEtapa"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.listEtapas" ng-cloak></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label style="font-size:1em">
                                            <input type="checkbox" ng-model="vm.FlgCapexMayor" ng-true-value="true" ng-false-value="false" id="chckFlgCapexMayor">
                                            Capex Mayor
                                        </label>
                                    </div>
                                    <div class="col-md-4">
                                        <label style="font-size:1em">
                                            <input type="checkbox" ng-model="vm.FlgCapexMenor" ng-true-value="true" ng-false-value="false" id="chckFlgCapexMenor">
                                            Capex Menor
                                        </label>
                                    </div>
                                    <div class="col-md-4">
                                        <label style="font-size:1em">
                                            <input type="checkbox" ng-model="vm.AsegurarOferta" ng-true-value="true" ng-false-value="false" id="chckAsegurarOferta">
                                            Asegurar
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-8 control-label" for="NumeroDiaCapexMayor">N° Días Capex Mayor(*):</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control input-md" ng-model="vm.NumeroDiaCapexMayor" id="txtNumeroDiaCapexMayor" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-8 control-label" for="NumeroDiaCapexMenor">N° Días Capex Menor(*):</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control input-md" ng-model="vm.NumeroDiaCapexMenor" id="txtNumeroDiaCapexMenor" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-8 control-label" for="CantidadDiasCapexMayor">Cantidad Días Capex Mayor(*):</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control input-md" ng-model="vm.CantidadDiasCapexMayor" id="txtCantidadDiasCapexMayor" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-8 control-label" for="CantidadDiasCapexMenor">Cantidad Días Capex Menor(*):</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control input-md" ng-model="vm.CantidadDiasCapexMenor" id="txtCantidadDiasCapexMenor" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4 control-label" for="ddlEstado">Estado(*):</label>
                                        <div class="col-md-8">
                                            <select id="ddlIdEstado" class="form-control input-md"
                                                    ng-model="vm.IdEstado"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.listEstados" ng-cloak disabled="disabled"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4 control-label" for="listActividades">Tipo Actividad(*):</label>
                                        <div class="col-md-8">
                                            <select id="ddlIdTipoActividad" class="form-control input-md"
                                                    ng-model="vm.IdTipoActividad"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.listActividades" ng-cloak></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='modal-footer text-right'>
                            <button class="btn btn-primary" ng-click="vm.RegistraActividadOportunidad()"><span class="glyphicon glyphicon-list-alt"></span> Registrar</button>
                            <a class="btn btn-primary" href="{{vm.EnlaceBandeja}}"><span class="glyphicon glyphicon-share-alt"></span> Retornar</a>
                        </div>

                    </form>

                </div>
            </section>
        </div>
    </div>

</div>
@section scripts{

    <script>

        var jsonDatoActividadOportunidad = @Html.Raw(Json.Encode(ViewBag.vbDatoActividadOportunidad));
    </script>

    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/comun/BandejaServicio/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/RegistrarActividadOportunidad/js")
}

