﻿
<div id="IdRegistrarCasoNegocioController" ng-controller="RegistrarCasoNegocioController as vm">
    <div class="row">
        <div id="divAlertRegistrar" class="alert-edit col-md-12"></div>
    </div>

    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Linea de Negocio<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <select id="CmbLineaNegocio" class="form-control"
                            ng-model="vm.IdLineaNegocio"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListLineaNegocio"></select>

                </div>
                <div class="col-md-4">
                    <div class="checkbox">
                        <label>
                            <input id="idPredeterminada" type="checkbox" ng-model="vm.Predeterminada"
                                   ng-true-value="'1'" ng-false-value="'0'">Predeterminada
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Caso de Negocio</label>
                <div class="col-md-4">
                    <input id="txtCasoUso" class="form-control" ng-model="vm.CasoUso" />
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.GrabarCasoNegocio()"> Grabar</a>
                </div>
            </div>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Asociar Servicios
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Servicios<span class="text-danger">*</span></label>
                        <div class="col-md-4">
                            <select id="CmbServicios" class="form-control"
                                    ng-model="vm.IdServicios"
                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListServicios"></select>

                        </div>
                        <div class="col-md-6 text-right">
                            <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.GrabarCasoNegocioServicio()"> Agregar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="divGrid_12" style="overflow: auto; height: auto">
                <table id="tbServicios" datatable="" dt-options="vm.dtOptionsServicios" dt-columns="vm.dtColumnsServicios"
                       class="table table-bordered table-striped table-condensed cf"
                       dt-instance="vm.dtInstanceServicios" style="width:100%;">
                    <thead class="cf">
                </table>
            </div>
        </div>
    </section>

    <input type="hidden" id="IdCasoNegocio" ng-model="vm.entidad" />
</div>

@section scripts{
    <script>

    </script>

    @Scripts.Render("~/bundles/app/comun/registrocasonegocio/js");
}
