﻿@using Tgs.SDIO.Util.Web.Trazabilidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Registrar Recurso Oportunidad Masivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Trazabilidad" block-ui="main">
</body>
<div id="IdRegistrarRecursoOportunidadMasivo" ng-app="app.Trazabilidad" ng-controller="RegistrarRecursoOportunidadMasivo as vm">

    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Filtros
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-1 control-label">Oportunidad:</label>
                            <div class="col-lg-4">
                                <input id="DescripcionOportunidad" class="form-control" ng-model="vm.DescripcionOportunidad" placeholder="Ingrese Descripción" maxlength="200" autocomplete="off" ng-cloak>
                            </div>
                            <div class="col-lg-4">
                                <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.BuscarOportunidad()">
                                    Filtrar
                                </button>
                                <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltrosOportunidad()">
                                    Limpiar
                                </button>
                            </div>
                            <div class="col-md-3 text-right">
                                <a class="btn btn-primary" href="{{vm.EnlaceBandeja}}"><span class="glyphicon glyphicon-share-alt"></span> Retornar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            <br />

            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Oportunidad
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <section id="flip-scroll">
                        <div class="table-responsive">
                            <table datatable="" id="gridOportunidad" dt-options="vm.dtOptionsOportunidad" dt-columns="vm.dtColumnsOportunidad"
                                   class="table table-bordered table-striped table-condensed cf"
                                   dt-instance="vm.dtInstance" style="width:100%;"></table>
                        </div>
                    </section>
                </div>
            </section>


        </div>
    </div>
    <br />
    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Recurso
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-1 control-label">Recurso:</label>
                            <div class="col-lg-6">
                                <input id="DescripcionRecurso" class="form-control" ng-model="vm.DescripcionRecurso" placeholder="Ingrese Descripción" maxlength="140" autocomplete="off" ng-cloak>
                            </div>
                            <div class="col-lg-4">
                                <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.BuscarRecurso()">
                                    Filtrar
                                </button>
                                <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltrosRecurso()">
                                    Limpiar
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="table-responsive">
                                <table datatable="" id="gridRecurso" dt-options="vm.dtOptionsRecurso" dt-columns="vm.dtColumnsRecurso"
                                       class="table table-bordered table-striped table-condensed cf"
                                       dt-instance="vm.dtInstance" style="width:100%;"></table>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Asignar Oportunidades a Recursos
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Rol Recurso:</label>
                            <div class="col-lg-6">
                                <select id="IdRol" class="form-control input-md"
                                        ng-model="vm.IdRol"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.listRolRecurso" ng-cloak></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Fecha Inicio:</label>
                            <div class="col-lg-6">
                                <input type="date" class="form-control input-md" ng-model="vm.FInicioAsignacion" id="FInicioAsignacion" max="3000-12-31" min="2000-01-01" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Fecha Fin:</label>
                            <div class="col-lg-6">
                                <input type="date" class="form-control input-md" ng-model="vm.FFinAsignacion" id="FFinAsignacion" max="3000-12-31" min="2000-01-01" />
                            </div>
                        </div>
                        <div class="modal-footer text-right">
                            <button class="btn btn-primary col-lg-8 col-lg-offset-2" ng-click="vm.RegistraRecursoOportunidadMasivo()"><span class="glyphicon glyphicon-user"></span> Asignar</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

</div>
@section scripts{

    <script>
    </script>
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/RegistrarRecursoOportunidadMasivo/js")

}





