﻿
@using Tgs.SDIO.Util.Web.Comun;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_BandejaServicios;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Comun" block-ui="main">
</body>
<div id="IdBandejaServicio" ng-app="app.Comun" ng-controller="BandejaServicio as vm">

    <div class="content-page">

        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Filtros
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="messages"></div>
                <div class="controls">
                    <div class="row">
                        <div class="form-group col-md-12">

                            <label class="control-label col-md-2">Descripción:</label>
                            <div class="col-md-4">
                                <input id="id" class="form-control" ng-model="vm.Descripcion" placeholder="Ingrese Descripción" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" data-toggle="modal" data-target="#ModalRegistrarSubServicio" ng-click="vm.ObtenerServicio()">
                            Nuevo
                        </button>
                        <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.BuscarServicio()">
                            Filtrar
                        </button>
                        <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                            Limpiar
                        </button>
                    </div>
                </div>
            </div>
        </section>


        <br />
        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Configuración - Servicios
            </header>
            <div class="panel-body">
                <section id="flip-scroll">
                    <div class="table-responsive">
                        <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                               class="table table-bordered table-striped table-condensed cf"
                               dt-instance="vm.dtInstance" style="width:100%;">
                            <thead class="cf">
                        </table>
                    </div>
                </section>
            </div>
        </section>

    </div>


    <div class="modal fade in" id="exampleModalCenter_Nuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p class="modal-title">Registro Servicio</p>

                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    Servicio
                                    <span class="tools pull-right">

                                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                                    </span>
                                </header>
                                <div class="panel-body">
                                    <form id="contact-form">




                                        <input id="id" class="form-control" ng-model="vm.IdServicio" style="display:none" ng-cloak>
                                        <input id="id" class="form-control" ng-model="vm.IdServicioSubServicio" style="display:none" ng-cloak>
                                        <input id="id" class="form-control" ng-model="vm.IdServicioSubServicioPorservicio" style="display:none" ng-cloak>



                                        <div class="form-group col-md-12">
                                            <div class="col-sm-12">

                                            <div class="form-group">
                                                <label class="control-label col-md-2">Servicio :</label>
                                                <div class="col-md-10">
                                                    <input id="id" class="form-control" ng-model="vm.Servicio" placeholder="Ingrese Descripción" autocomplete="off" ng-cloak>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group col-md-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Linea Negocio :</label>
                                                <div class="col-md-8">
                                                    <select id="" class="form-control"
                                                            ng-model="vm.IdLineaNegocio"
                                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListLineaNegocio " ng-cloak></select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Servicio CMI:</label>
                                                <div class="col-md-8">
                                                    <select id="" class="form-control"
                                                            ng-model="vm.IdServicioCMI"
                                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListServicioCMI " ng-cloak></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group col-md-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Grupo :</label>
                                                <div class="col-md-8">
                                                    <select id="" class="form-control"
                                                            ng-model="vm.IdGrupoServicio"
                                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListGrupoServicio " ng-cloak></select>
                                                </div>

                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Medio:</label>
                                                    <div class="col-md-8">
                                                        <select id="" class="form-control"
                                                                ng-model="vm.IdMedio"
                                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListMedio " ng-cloak></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group col-md-12">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Tipo enlace :</label>
                                                    <div class="col-md-8">
                                                        <select id="" class="form-control"
                                                                ng-model="vm.IdEnlace"
                                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListEnlace " ng-cloak></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="col-md-8">
                                                    </div>
                                                    <div class="col-md-4 text-right">
                                                        <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarServicio()"> Registrar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <div class="clearfix"></div>
                                        @*<div class="col-md-8">
                                            </div>
                                            <div class="col-md-4 text-right">
                                              <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarServicio()"> Registrar</a>
                                            </div>*@

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwotable">
                                <h4 class="panel-title">
                                    <a class="btn-link collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRegistrar_ConfiguracionPago" aria-expanded="false" aria-controls="collapseTwo">
                                        <i class="fa"></i> Conceptos asociados
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseRegistrar_ConfiguracionPago" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwotable" aria-expanded="false" style="height: 0px;">
                                <div id="divAlert_2" class="alert-edit col-lg-12"></div>
                                <div class="panel-body" id="IdBandejaSubServicio">
                                    <form id="contact-form">



                                        <div class="form-group col-md-12">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-5">Grupo:</label>
                                                    <div class="col-md-7">
                                                        <select id="" class="form-control"
                                                                ng-model="vm.IdGrupoSubServicio"
                                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListGrupoSubServicio " ng-cloak></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-5">Sub Servicio:</label>
                                                    <div class="col-md-7">
                                                        <select id="" class="form-control"
                                                                ng-model="vm.IdSubServicio"
                                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListSubServicio " ng-cloak></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group col-md-12">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-5">Requiere SISEGO:</label>
                                                    <div class="col-md-7">
                                                        <select id="" class="form-control"
                                                                ng-model="vm.IdSisego" ng-cloak>
                                                            <option value="-1">--Seleccione--</option>
                                                            <option value="0">--Si--</option>
                                                            <option value="1">--No--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-5">Tipo Costo:</label>
                                                    <div class="col-md-7">
                                                        <select id="" class="form-control"
                                                                ng-model="vm.IdTipoCosto"
                                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoCosto " ng-cloak></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group col-md-12">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-5">Proveedor :</label>
                                                    <div class="col-md-7">
                                                        <select id="" class="form-control"
                                                                ng-model="vm.IdProveedor"
                                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListProveedor " ng-cloak></select>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-5">Contrato marco:</label>
                                                    <div class="col-md-7">
                                                        <input id="id" class="form-control" ng-model="vm.ContratoMarco" placeholder="Ingrese Descripción" autocomplete="off" ng-cloak>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group col-md-12">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-5">Periodo :</label>
                                                    <div class="col-md-7">
                                                        <select id="" class="form-control"
                                                                ng-model="vm.IdPeriodo"
                                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListPeriodo " ng-cloak></select>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-5">Inicio:</label>
                                                    <div class="col-md-7">
                                                        <input id="id" class="form-control" ng-model="vm.Inicio" placeholder="Ingrese Descripción" autocomplete="off" ng-cloak>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br />
                                        <div class="form-group col-md-12">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-5">Ponderado :</label>
                                                    <div class="col-md-7">
                                                        <input id="id" class="form-control" ng-model="vm.Ponderado" placeholder="Ingrese Descripción" autocomplete="off" ng-cloak>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-5">Moneda:</label>
                                                    <div class="col-md-7">
                                                        <select id="" class="form-control"
                                                                ng-model="vm.IdMoneda"
                                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListMoneda" ng-cloak></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="col-md-8">
                                        </div>
                                        <div class="col-md-4 text-right">
                                            @*<a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" data-toggle="modal" data-target="#exampleModalCenter" ng-click="vm.CargaModalServicio()" > Nuevo</a>*@
                                            <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarSubServicioPorServicio()"> Registrar</a>
                                        </div>


                                        <table datatable="" dt-options="vm.dtOptionsServicio" dt-columns="vm.dtColumnsServicio"
                                               class="table table-bordered table-striped table-hover"
                                               dt-instance="vm.dtInstanceServicio" style="width:100%;"></table>


                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal-->

<style>
    div#exampleModalCenter {
        margin-top: 10%;
    }

    /*.modal-lg {
                    width: 1240px !important;
                }*/
</style>

@section scripts{

    <script>
        function EliminarSubServicio(IdServicioSubServicio) {
            debugger
            var scope = angular.element(document.getElementById("IdBandejaSubServicio")).scope();
            scope.vm.EliminarSubServicio(IdServicioSubServicio);
            scope.$apply();
        }
        function ObtenerSubServicio(IdServicioSubServicio) {
            debugger
            var scope = angular.element(document.getElementById("IdBandejaSubServicio")).scope();
            scope.vm.ObtenerSubServicio(IdServicioSubServicio);
            scope.$apply();
        }

        function ObtenerServicio(IdServicio) {
            var scope = angular.element(document.getElementById("IdBandejaServicio")).scope();
            scope.vm.ObtenerServicio(IdServicio);
            scope.$apply();
        }

        function EliminarServicio(IdServicio) {
            var scope = angular.element(document.getElementById("IdBandejaServicio")).scope();
            scope.vm.EliminarServicio(IdServicio);
            scope.$apply();
        }
    </script>
    @Scripts.Render("~/bundles/app/comun/js")
    <script src="~/Scripts/app/Oportunidad/Oportunidad.module.js"></script>
    <script src="~/Scripts/app/Comun/Cliente/Cliente.service.js"></script>

    <script src="~/Scripts/app/Comun/Depreciacion/Depreciacion.service.js"></script>
    <script src="~/Scripts/app/Comun/DireccionComercial/DireccionComercial.service.js"></script>
    <script src="~/Scripts/app/Comun/LineaNegocio/LineaNegocio.service.js"></script>
    <script src="~/Scripts/app/Comun/Maestra/Maestra.service.js"></script>
    <script src="~/Scripts/app/Comun/Medio/Medio.service.js"></script>
    <script src="~/Scripts/app/Comun/Proveedor/Proveedor.service.js"></script>
    <script src="~/Scripts/app/Comun/RegistrarCasoNegocio/RegistrarCasoNegocio.service.js"></script>
    <script src="~/Scripts/app/Comun/Servicio/Servicio.service.js"></script>
    <script src="~/Scripts/app/Comun/ServicioCMI/ServicioCMI.service.js"></script>
    <script src="~/Scripts/app/Comun/ServicioSubServicio/ServicioSubServicio.service.js"></script>

    <script src="~/Scripts/app/Comun/SubServicio/SubServicio.service.js"></script>

    <script src="~/Scripts/app/Comun/LineaNegocio/LineaNegocio.service.js"></script>

    <script src="~/Scripts/app/Comun/BandejaServicio/BandejaServicio.controller.js"></script>
    <script src="~/Scripts/app/Comun/BandejaServicio/BandejaServicio.service.js"></script>

    @*@Scripts.Render(" ~/bundles/app/comun/BandejaServicio/js")*@

}

