﻿<div id="IdModemsController" ng-app="app.Oportunidad" ng-controller="ModemsController as vm">
    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_Modems" class="alert-edit"></div>
    </div>

    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Equipo<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtEquipoModem" class="tb form-control" onkeypress="ConceptoComplete(this,9);" autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">Cruce</label>
                <div class="col-md-4">
                    <input id="txtCruceModem" class="form-control" autocomplete="off" />
                </div>

            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">A.E. Reducido</label>
                <div class="col-md-4">
                    <input id="txtAEReducidoModem" class="form-control" autocomplete="off" disabled="disabled" />
                </div>
                <label class="col-md-2 control-label">Circuito</label>
                <div class="col-md-4">
                    <input id="txtCircuitoModem" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Modelo</label>
                <div class="col-md-4">
                    <input id="txtModeloModem" class="form-control" autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">Antigüedad (meses)</label>
                <div class="col-md-4">
                    <input id="txtMesesAntiguedadModem" ng-model="vm.MesesAntiguedad" class="form-control" autocomplete="off" ng-keydown="vm.CantidadModemsComplete();" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidadModem" ng-model="vm.Cantidad" type="text" class="form-control" ng-keydown="vm.CantidadModemsComplete();" />
                </div>
                <label class="col-md-2 control-label">C.U. Antiguo (USD)</label>
                <div class="col-md-4">
                    <input id="txtCostoUnitarioAntiguoModem" class="form-control" autocomplete="off" ng-keydown="vm.CantidadModemsComplete();" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Valor Residual (USD)</label>
                <div class="col-md-4">
                    <input id="txtValorResidualSolesModem" ng-model="vm.ValorResidual" type="text" disabled="disabled" class="form-control" />
                </div>
                <label class="col-md-2 control-label">C.U. Nuevo (USD)</label>
                <div class="col-md-4">
                    <input id="txtCostoUnitarioModem" ng-model="vm.CuSoles" class="form-control" autocomplete="off" ng-keydown="vm.CantidadModemsComplete();" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Capex (USD)</label>
                <div class="col-md-4">
                    <input id="txtCapexDolaresModem" type="text" class="form-control" disabled="disabled" />
                </div>
                <label class="col-md-2 control-label">Capex Total (S/.)</label>
                <div class="col-md-4">
                    <input id="txtCapexSolesModem" class="form-control" autocomplete="off" disabled="disabled" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Total Capex</label>
                <div class="col-md-4">
                    <input id="txtTotalCapexModem" type="text" class="form-control" disabled="disabled" />
                </div>
                <label class="col-md-2 control-label">Mes de RQ (Mes-Año)</label>
                <div class="col-md-4">
                    <input id="txtMesRecuperoModem" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes de Comprometido</label>
                <div class="col-md-4">
                    <input id="txtMesComprometidoModem" type="text" class="form-control" />
                </div>
                <label class="col-md-2 control-label">Mes Certificado</label>
                <div class="col-md-4">
                    <input id="txtMesCertificadoModem" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-custom btn-sm" id="btnModems" type="button" ng-click="vm.GrabarConceptoModems()">Grabar</button>
                </div>
            </div>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>

</div>

@section scripts{

    @Scripts.Render("~/bundles/app/oportunidad/modems/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");
}