﻿
<div id="IdFlujoCajaController" ng-controller="FlujoCajaController as vm">

    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_FlujoCaja" class="alert-edit"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Periodos</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdPeriodo"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListPeriodos" ng-cloak
                            ng-change="vm.CargaOtros();"></select>
                </div>
                @*<label class="col-md-2 control-label">Descripción</label>
                    <div class="col-md-4">
                        <input id="txtDescripcion" ng-model="vm.Descripcion" class="form-control" autocomplete="off" />
                    </div>*@
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Costo PreOperativo</label>
                <div class="col-md-4">
                    <input id="txtCostoPreOperativo" ng-model="vm.CostoPreOperativo" class="form-control" autocomplete="off" /> @*ng-show="!vm.flagOtros"*@
                    @*<input id="txtCostoPreOperativoOtros" ng-model="vm.CostoPreOperativoOtros" ng-show="vm.flagOtros" class="form-control" autocomplete="off" />*@
                </div>
                <label class="col-md-2 control-label">Ponderación</label>
                <div class="col-md-4">
                    <input id="txtPonderacion" ng-model="vm.Ponderacion" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div ng-show="vm.IdPeriodo>0" class="form-group col-md-12">
                <label ng-show="!vm.flagOtros" class="col-md-2 control-label">Inicio</label>
                <div ng-show="!vm.flagOtros" class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdInicioProyecto"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTiempoProyecto" ng-cloak></select>
                </div>
                <div class="col-md-6" ng-show="vm.flagOtros"></div>
                <label ng-show="vm.flagOtros" class="col-md-2 control-label">Año - Mes</label>
                <label ng-show="vm.IdPeriodo=='2'" class="col-md-2 control-label">Meses</label>
                <div class="col-md-4">
                    <select id="" ng-show="vm.flagOtros" class="form-control"
                            ng-model="vm.IdTiempo"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTiempoProyecto" ng-cloak></select>
                    @*<button ng-click="vm.AgregarMes()" ng-show="vm.flagOtros" class="btn btn-custom btn-sm" id="btnAgregarMes" type="button">Agregar</button>*@
                    <input id="txtDuracion" ng-model="vm.Meses" ng-show="vm.IdPeriodo=='2'" class="form-control" autocomplete="off" />
                </div>

            </div>
            <table id="tbServicios" datatable="" dt-options="vm.dtOptionsServicios" dt-columns="vm.dtColumnsServicios"
                   class="table table-bordered table-striped table-condensed cf"
                   dt-instance="vm.dtInstanceServicios" style="width:100%;">
                <thead class="cf">
            </table>
            <div ng-show="vm.IdPeriodo == 4" class="form-group col-md-12">

            </div>
            <div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" id="btnFlujoCaja" ng-click="vm.GrabarFlujoCajaConfiguracion()" type="button">Grabar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    @Scripts.Render("~/bundles/app/oportunidad/flujocaja/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");
}