﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body ng-app="app.Seguridad" block-ui="main">
    <div id="IdBandejaRecurso" ng-controller="UsuarioController as vm">
        <div class="panel panel-default">
            <div class="panel-body">
                <!---->
                <h4 class="modal-title">Mantenimiento de Usuarios</h4>
                <div class="col-12 tgestiona_filter">
                    <div id="accordion">
                        <div class="panel">
                            <div class="panel-header panel-header-tgestiona" id="headingOne">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="mb-0 cabfiltros">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <i class="fa"></i> Filtros
                                            </button>
                                        </h5>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <button class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" type="submit">Nuevo</button>
                                    </div>
                                </div>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="panel-body panel-body-filters">
                                    <div class='col-xs-12 col-sm-12'>
                                        <div class='form-group'>
                                            <div id="divAlert" class="alert-edit">
                                            </div>
                                            <div class="col-xs-6">                                                
                                                <div class="col-xs-6"><h5>Apellidos</h5></div><div class="col-xs-6"><input type="text" data-ng-model="vm.apellidos" class="form-control" /></div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="col-xs-6"><h5>Nombres</h5></div><div class="col-xs-6"><input type="text" data-ng-model="vm.nombres" class="form-control" /></div>
                                                <div class="col-xs-6"><h5>Estado</h5></div><div class="col-xs-6"><select id="selEstado" class="form-control input-md"><option>Todos</option><option>Activos</option><option>Inactivos</option></select></div>                                                
                                            </div>
                                            <br />
                                            <div class='form-group text-right'>
                                                <button id="btnBuscar" class="btn btn-sm btn-primary right" ng-click="vm.BuscarUsuario()">
                                                    <span class="glyphicon glyphicon-search"></span> Buscar
                                                </button>
                                            </div>
                                            <div class='form-group text-right'>
                                                <button id="btnUtil" class="btn btn-sm btn-primary right" ng-click="vm.CargaModalUsuarioEditar(1)">
                                                    <span class="glyphicon glyphicon-search"></span> TEST
                                                </button>
                                            </div>
                                        </div>
                                        <hr />
                                        @*<form>
                                        <div class='form-group text-right'>
                                            <div class='col-xs-12  col-sm-4 col-sm-4'>
                                                <br /><br />
                                                <button id="btnLimpiar" class="btn btn-sm btn-primary  text-right" ng-click="vm.LimpiarFiltros()">
                                                    <span class="glyphicon glyphicon-align-left"></span> {{variable1}}<br />
                                                    <span class="glyphicon glyphicon-apple"></span> Limpiarddd<br />
                                                        <span class="glyphicon glyphicon-bitcoin"></span> Limpiarddd<br />
                                                        <span class="glyphicon glyphicon-arrow-up"></span> Limpiarddd<br />
                                                        <span class="glyphicon glyphicon-dashboard"></span> Limpiarddd<br />
                                                        <span class="glyphicon glyphicon-edit"></span> Limpiarddd<br />
                                                        <span class="glyphicon glyphicon-new-window"></span> Limpiarddd<br />
                                                        <span class="glyphicon glyphicon-remove"></span> Limpiarddd<br />
                                                        <span class="glyphicon glyphicon-remove-sign"></span> Limpiarddd<br />
                                                </button>
                                                <button id="btnBuscar" class="btn btn-sm btn-primary right" ng-click="vm.BuscarRecurso()">
                                                    <span class="glyphicon glyphicon-search"></span> Buscar
                                                </button>
                                            </div>
                                        </div>
                                    </form>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
                <!--ANROMENEZ-->
                <div class="row" style="margin-top:15px;">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                                       class="table table-bordered table-striped table-hover row-border hover no-footer dtr-inline collapsed"
                                       dt-instance="vm.dtInstance" style="width:100%;"></table>

                                
                            </div>
                        </div>
                    </div>
                </div>

                <!--Modal - Usuario -->
                <div class="modal fade" id="ModalUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content modal-contentTgestiona">
                            <div class="modal-header modalheaderTgestiona">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <p class="modal-title">Usuarios</p>

                            </div>
                            <div id="ContenidoUsuario" class="modal-body modal-bodyTgestiona">

                            </div>
                        </div>
                    </div>
                </div>


            </div>
                </div>
            </div>
</body>

@section scripts{
    @Scripts.Render("~/bundles/app/seguridad/usuario/js")
    <script>
        var jsonUsuarioLoginRais = @Html.Raw(Json.Encode(ViewBag.vbusuarioLoginRais));
    </script>

    <script>
            function CargaModalEstudiosEspeciales(IdConceptoDatosCapex, IdServicioConcepto, IdConcepto) {
                var scope = angular.element(document.getElementById("idECapexController")).scope();
                scope.vm.CargaModalEstudiosEspeciales(IdConceptoDatosCapex, IdServicioConcepto, IdConcepto);
                scope.$apply(IdConceptoDatosCapex, IdServicioConcepto, IdConcepto);
            }
    </script>

}