﻿<div id="IdSatelitalesController" ng-app="app.Oportunidad" ng-controller="SatelitalesController as vm">
    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_Satelitales" class="alert-edit"></div>
    </div>
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Servicio<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtServicioSatelital" class="tb form-control" ng-model="vm.Servicio" autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">Cruce</label>
                <div class="col-md-4">
                    <input id="txtCruceSatelital" class="form-control" autocomplete="off" ng-model="vm.Cruce"  disabled="disabled" />
                </div>

            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">A.E. Reducido</label>
                <div class="col-md-4">
                    <input id="txtAEReducidoSatelital" disabled="disabled" class="form-control" autocomplete="off" ng-model="vm.AEReducido" />
                </div>
                <label class="col-md-2 control-label">Circuito</label>
                <div class="col-md-4">
                    <input id="txtCircuitoSatelital" class="form-control" autocomplete="off" ng-model="vm.Circuito" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Combo</label>
                <div class="col-md-4">
                    <input id="txtComboSatelital" class="form-control" autocomplete="off" disabled="disabled" ng-model="vm.Combo" />
                </div>
                <label class="col-md-2 control-label">Medio</label>
                <div class="col-md-4">
                    <input id="txtMedioSatelital" class="form-control" autocomplete="off" disabled="disabled" ng-model="vm.Medio" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Tipo</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdTipoSatelital"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoSatelital" ng-cloak></select>
                </div>
                <label class="col-md-2 control-label">Garantizado</label>
                <div class="col-md-4">
                    <input id="txtGarantizadoSatelital" class="form-control" autocomplete="off" ng-model="vm.Garantizado"  />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidadSatelital" type="text" class="form-control" ng-model="vm.Cantidad" ng-keydown="vm.CantidadSatelitalesComplete()" />
                </div>
                <label class="col-md-2 control-label">B.W.</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.Modelo"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoSatelital" ng-cloak></select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Antigüedad (Meses)</label>
                <div class="col-md-4">
                    <input id="txtAntiguedadSatelital" type="text" class="form-control" ng-model="vm.MesesAntiguedad" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Capex Total (USD)</label>
                <div class="col-md-4">
                    <input id="txtCapexDolaresSatelital" type="text" class="form-control" disabled="disabled"  ng-model="vm.CapexDolares" />
                </div>
                <label class="col-md-2 control-label">Capex Total (S/.)</label>
                <div class="col-md-4">
                    <input id="txtCapexSolesSatelital" class="form-control" autocomplete="off" disabled="disabled" ng-model="vm.CapexSoles" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Capex (Instalación) (S/.)</label>
                <div class="col-md-4">
                    <input id="txtCapexInstSatelital" type="text" class="form-control" ng-model="vm.CapexInstalacion"/>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Total Capex</label>
                <div class="col-md-4">
                    <input id="txtTotalCapexSatelital" type="text" class="form-control" disabled="disabled" ng-model="vm.TotalCapex" />
                </div>
                <label class="col-md-2 control-label">Mes de RQ (Mes-Año)</label>
                <div class="col-md-4">
                    <input id="txtMesRecuperoSatelital" class="form-control" autocomplete="off" ng-model="vm.MesRecupero" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes de Comprometido</label>
                <div class="col-md-4">
                    <input id="txtMesComprometidoSatelital" type="text" class="form-control" ng-model="vm.MesComprometido" />
                </div>
                <label class="col-md-2 control-label">Mes Certificado</label>
                <div class="col-md-4">
                    <input id="txtMesCertificadoSatelital" class="form-control" autocomplete="off" ng-model="vm.MesCertificado" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-custom btn-sm" id="btnSatelitales" type="button" ng-click="vm.GrabarConceptoSatelital()">Grabar</button>
                </div>
            </div>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>

</div>

@section scripts{

    @Scripts.Render("~/bundles/app/oportunidad/satelitales/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");

}
