﻿@using Tgs.SDIO.Util.Web.Funnel
@using Scripts = System.Web.Optimization.Scripts

@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_OfertasCliente;
    Layout = "~/Areas/Funnel/Views/Shared/_LayoutFunnel.cshtml";
}


<div class="row" style="margin-top:0px;" ng-app="app.Funnel" ng-controller="ReporteOfertasClienteController as vm">
    <div id="divAlert"> </div>
    <!-- Breadcrumbs-->

    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    Filtros
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="messages"></div>
                    <div class="controls">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Tipo de Reporte</label>
                                    <div class="col-md-8">
                                        <select id="tiposFiltros" class="form-control" ng-model="vm.ListaFiltros">
                                            <option value="" selected>Seleccione</option>
                                            <option value="1">Probabilidad</option>
                                            <option value="2">Madurez</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Año</label>
                                    <div class="col-md-8">
                                        <input type="text" id="txtAnioId" class="form-control" ui-mask="2099" maxlength="4" ng-model="vm.txtAnio" ng-keydown="vm.ValidarNumero($event)" autocomplete="false"
                                               placeholder="@Cadenas.RptPrincipalAnio" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true">
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Mes</label>
                                    <div class="col-md-8">
                                        <selectormeses id="idMes"></selectormeses>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.ConsultarReporte()">Filtrar</button>
                            <button class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarModelo()">Limpiar</button>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="panel">
                <header class="panel-heading">
                    Reporte
                </header>
                <div class="panel-body">
                    <div class="card-body">
                        <iframe id="FReporte" width="1200" height="650"></iframe>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>



@section scripts{
    @Scripts.Render("~/bundles/app/funnel/ReporteOfertasCliente/js")
}



