
@font-face {
	font-family: 'bree_serifregular';
	src: url('../tipografia/breeserif-regular-webfont.eot');
	src: url('../tipografia/breeserif-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../tipografia/breeserif-regular-webfont.woff2') format('woff2'),  url('../tipografia/breeserif-regular-webfont.woff') format('woff'),  url('../tipografia/breeserif-regular-webfont.ttf') format('truetype'),  url('../tipografia/breeserif-regular-webfont.svg#bree_serifregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

   

/*******************
SELECTION  STYLING 
*******************/

::selection {
	color: #000; 
	background: #f0efda; /* Safari */
}
::-moz-selection {
 color: #fff;
 background: #f0efda; /* Firefox */
}
/*******************
BODY STYLING
*******************/

* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
    background: url('../image/fondoKarina.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    text-align: left;
    text-decoration: none;
}
#wrapper {
	/* Center wrapper perfectly */
	width: 1000px; /*600*/
	height: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -200px;
}

#wrapper-recuperar {
	/* Center wrapper perfectly */
	width: 600px;
	height: 528px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -264px;
}

/*******************
LOGIN FORM
*******************/

.login-form {
	width: 300px;
	/* [disabled]margin: 0 auto;
*/
	position: relative;
	z-index: 5;
	background: #f3f3f3;
	border: 0px solid #fff;
	border-radius: 5px;
	/*box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);*/

	-webkit-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.5);
    box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.5);
    
}
/*******************
IMG FORM
*******************/

.img-form {
	top: 0;
	right: 0px;
	position: absolute;
	z-index: 6;
	border: 1px solid #095878;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	width: 263px;
	height: 430px;
	background: url(../../images/login-img.png) no-repeat center center
}
.img-recuperar {
	top: 0;
	right: 0px;
	position: absolute;
	z-index: 6;
	border: 1px solid #095878;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	width: 263px;
	height: 528px;
	background: url(../../images/recuperar-img.png) no-repeat center center
}
/*******************
HEADER
*******************/

.login-form .header {
	padding: 40px 30px 30px 30px;
}
.login-form .header h1 {
	font-family: 'bree_serifregular', serif;
	font-weight: 300;
	font-size: 26px;
	line-height: 34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}
.login-form .header span {
	font-size: 12px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}
.header-recuperar {
	padding-bottom: 10px!important;
}
/*******************
CONTENT
*******************/

.login-form .content {
	/*padding: 0 30px 25px 30px;*/
}
/* Input field */
.login-form .content .input {
	width: 188px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	padding-top: 13px;
	padding-right: 20px;
	padding-bottom: 13px;
	padding-left: 20px;
}
/* Register button */
.nombre-usuario {
	float: left;
	padding: 10px 0px 20px 0;
	font-family: 'bree_serifregular', serif;
	font-weight: normal;
	font-size: 13px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
	clear: both;
}
.nombre-usuario span {
	font-weight: normal;
}
/* Second input field */

.login-form .content .password, .login-form .content .pass-icon {
	margin-top: 25px;
}
.login-form .content .restablecer, .login-form .content .restablecer-icon {
	margin-top: 25px;
}
.login-form .content .repetir, .login-form .content .repetir-icon {
	margin-top: 25px;
}
.login-form .content .input:hover {
	background: #dfe9ec;
	color: #414848;
}
.login-form .content .input:focus {
	background: #dfe9ec;
	color: #414848;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}
.user-icon, .pass-icon, .restablecer-icon, .repetir-icon, .recuperar-icon {
	width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 0px;
	padding-right: 2px;
	z-index: 3;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
.user-icon {
	top: 144px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
    z-index: 99999;
    left: 554px;
	background: rgba(51, 113, 162, 1) url(../images/user-icon.png) no-repeat center;
}
.recuperar-icon {
	top: 200px;
    z-index: 99999;
    left: -48px;
	background: #04759B url(../images/pass-icon.png) no-repeat center;
}
.pass-icon {
	top: 218px;
    z-index: 99999;
    left: 554px;
	background: rgba(51, 113, 162, 1) url(../images/pass-icon.png) no-repeat center;
}
.restablecer-icon {
	top: 272px;
    z-index: 99999;
    left: -48px;
	background: #04759B url(../images/pass-icon.png) no-repeat center;
}
.repetir-icon {
	top: 342px;
    z-index: 99999;
    left: -48px;
	background: #04759B url(../images/pass-icon.png) no-repeat center;
}
/* Animation */
.input, .user-icon, .pass-icon, .restablecer-icon, .repetir-icon, .recuperar-icon, .button, .register {
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
/*******************
FOOTER
*******************/

.login-form .footer {
	padding: 25px 30px 30px 30px;
	overflow: auto;
	background: #d4dedf;
	border-top: 1px solid #fff;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}
/* Login button */
.login-form .footer .button {
	float: right;
	padding: 11px 25px;
	font-family: 'bree_serifregular', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	background: rgba(51, 113, 162, 1);
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}
.login-form .footer .button:hover {
	background: #096f54;
	border: 1px solid rgba(256,256,256,0.75);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}
.login-form .footer .button:focus {
	position: relative;
	bottom: -1px;
	background: #56c2e1;
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}
/* Register button */
.login-form .footer .register {
	display: block;
	float: left;
	padding: 5px 0px;
	margin-right: 20px;
	margin-top: 10px;
	background: none;
	border: none;
	cursor: pointer;
	font-family: 'bree_serifregular', serif;
	font-weight: 300;
	font-size: 13px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
	clear: both;
}
.login-form .footer .register:hover {
	color: #3f9db8;
}
.login-form .footer .register:focus {
	position: relative;
	bottom: -1px;
}


.espaciadoform{
	margin: 5px 10px!important;
}


.content-page{
    margin-left:0!important;
}

.content-page .content{
    padding:0 0!important;
    margin-top:0px!important;
}



body {
    padding-bottom: 0px !important;
}

.ajustepantalla {
    margin-top: 13vh;
}

@media all and (max-height: 1300px) and (min-height: 901px) {
    .ajustepantalla {
        margin-top: 10vh;
    }

    body.enlarged {
        min-height: 100% !important;
    }
}



@media all and (max-height: 900px) and (min-height: 700px) {
    .ajustepantalla {
        margin-top: 7vh;
    }

    body.enlarged {
        min-height: 100% !important;
    }
}

@media all and (max-height: 699px) and (min-height: 500px) {
    .ajustepantalla {
        margin-top: 4vh;
    }

    body.enlarged {
        min-height: 100% !important;
    }
}

@media all and (max-height: 499px) and (min-height: 300px) {
    .ajustepantalla {
        margin-top: 0vh;
    }

    body.enlarged {
        min-height: 100% !important;
    }
}

.text-muted {
    color: #98a6ad !important;
    font-size: 13px;
}

.text-muted:hover {
    color: #337ab7 !important;
    font-size: 13px;
}

body.enlarged {
    min-height: 100% !important;
}
