/*
Template Name: Codefox Dashboard
Author: CoderThemes
Email: coderthemes@gmail.com
File: Menu

*/
/* Metis Menu css */
.metismenu .arrow {
  float: right;
  line-height: 1.42857;
}
.metismenu .collapse {
  display: none;
}
.metismenu .collapse.in {
  display: block;
}
.metismenu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}
.topbar {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
.topbar .topbar-left {
  background: #3371a2;
  float: left;
  text-align: center;
  height: 70px;
  position: relative;
  width: 240px;
  z-index: 1;
}
.navbar-default {
  background-color: #3371a2;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 20px;
}
.navbar-default .navbar-left li a.menu-item {
  padding: 0 15px;
  line-height: 68px;
}
.logo {
  color: #313a46 !important;
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 70px;
}
.logo i {
  display: none;
}
.logo span span {
  color: #1ea69a;
}
.user-box a.user-link {
  padding-top: 17px !important;
  padding-bottom: 17px !important;
}
.user-box .user-img {
  position: relative;
  height: 36px;
  width: 36px;
  margin: 0 auto;
}
.navbar-default .right-menu-item {
  height: 36px;
  width: 36px;
  padding: 0;
  font-size: 22px;
  border: 2px solid transparent !important;
  line-height: 33px;
  text-align: center;
  margin: 17px 5px;
  background-color: transparent !important;
}
.navbar-default .right-menu-item .badge {
  position: absolute;
  top: -8px;
  right: -2px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: rgba(49, 58, 70, 0.05);
}
.side-menu {
  width: 280px;
  z-index: 10;
  background: #ffffff;
  bottom: 0;
  margin-top: 0;
  padding-bottom: 30px;
  position: fixed;
  top: 70px;
  border-right: 1px solid #e2e2e2;
}
.side-menu .waves-effect .waves-ripple {
  background-color: rgba(30, 166, 154, 0.4);
}
.enlarged .side-menu {
  position: absolute;
}
.content-page {
  margin-left: 280px;
  overflow: hidden;
}
.content-page .content {
  padding: 0 5px 10px 5px;
  margin-top: 70px;
}
.button-menu-mobile {
    border: none;
    color: #fff;
    display: inline-block;
    height: 36px;
    width: 36px;
    background-color: transparent;
    border-radius: 2px;
    font-size: 16px;
    margin: 17px 10px;
}
#sidebar-menu > ul > li > a {
  color: #313a46;
  display: block;
  padding: 10px 20px;
  margin: 2px 0;
  font-size: 17px;
}
#sidebar-menu > ul > li > a:hover,
#sidebar-menu > ul > li > a:focus,
#sidebar-menu > ul > li > a:active {
  color: #313a46;
  text-decoration: none;
  background-color: #f9f9f9;
}
#sidebar-menu > ul > li > a > span {
  vertical-align: middle;
}
#sidebar-menu {
  padding-top: 10px;
}
#sidebar-menu .menu-arrow {
  -webkit-transition: -webkit-transform 0.15s;
  -o-transition: -o-transform 0.15s;
  transition: transform .15s;
  position: absolute;
  right: 20px;
  display: inline-block;
  font-family: 'Material Design Icons';
  text-rendering: auto;
  line-height: 22px;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
#sidebar-menu .menu-arrow:before {
  content: "\F142";
}
#sidebar-menu .badge,
#sidebar-menu .label {
  margin-top: 3px;
}
#sidebar-menu li.active .menu-arrow {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#sidebar-menu ul li a i {
  display: inline-block;
  font-size: 18px;
  line-height: 17px;
  margin: 0 15px 0 3px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  color: rgba(49, 58, 70, 0.8);
}
#sidebar-menu ul li a .drop-arrow {
  float: right;
}
#sidebar-menu ul li a .drop-arrow i {
  margin-right: 0;
}
#sidebar-menu ul li:nth-of-type(2) a i {
  color: #348cd4;
}
#sidebar-menu ul li:nth-of-type(3) a i {
  color: #78c350;
}
#sidebar-menu ul li:nth-of-type(4) a i {
  color: #45bbe0;
}
#sidebar-menu ul li:nth-of-type(5) a i {
  color: #f7531f;
}
#sidebar-menu ul li:nth-of-type(6) a i {
  color: #ff9800;
}
#sidebar-menu ul li:nth-of-type(7) a i {
  color: #1ea69a;
}
#sidebar-menu ul li:nth-of-type(8) a i {
  color: #F06292;
}
#sidebar-menu ul li:nth-of-type(9) a i {
  color: #8892d6;
}
#sidebar-menu ul li:nth-of-type(10) a i {
  color: #313a46;
}
#sidebar-menu ul li:nth-of-type(11) a i {
  color: #348cd4;
}
#sidebar-menu ul li:nth-of-type(12) a i {
  color: #78c350;
}
#sidebar-menu ul li:nth-of-type(13) a i {
  color: #45bbe0;
}
#sidebar-menu ul li:nth-of-type(14) a i {
  color: #f7531f;
}
#sidebar-menu ul li:nth-of-type(15) a i {
  color: #ff9800;
}
#sidebar-menu ul li:nth-of-type(16) a i {
  color: #1ea69a;
}
#sidebar-menu ul li:nth-of-type(17) a i {
  color: #F06292;
}
#sidebar-menu ul li:nth-of-type(18) a i {
  color: #8892d6;
}
#sidebar-menu ul li:nth-of-type(19) a i {
  color: #313a46;
}
#sidebar-menu > ul > li > a.active {
  color: #313a46 !important;
  background-color: #f9f9f9;
}
.nav-second-level.nav li a,
.nav-thrid-level.nav li a {
  padding: 8px 20px 8px 10px;
  color: #797979;
}
.nav-second-level.nav li a:hover,
.nav-thrid-level.nav li a:hover {
  background-color: #ffffff;
  color: #313a46;
}
.nav-second-level.nav > li > a {
  padding-left: 62px;
}
.nav-second-level.nav li.active > a {
  color: #1c2128;
}
.nav-third-level.nav > li > a {
  padding-left: 80px;
}
.nav-third-level.nav li.active > a {
  color: #1c2128;
}
.menu-title {
  padding: 12px 20px !important;
  letter-spacing: .05em;
  pointer-events: none;
  cursor: default;
  font-size: 11px;
  text-transform: uppercase;
  color: #98a6ad;
  font-family: 'Source Sans Pro', sans-serif;
}
.enlarged .slimScrollDiv,
.enlarged .slimscroll-menu {
  overflow: inherit !important;
}
.enlarged .slimScrollBar {
  visibility: hidden;
}
.enlarged #wrapper #sidebar-menu .menu-title,
.enlarged #wrapper #sidebar-menu .menu-arrow,
.enlarged #wrapper #sidebar-menu .label,
.enlarged #wrapper #sidebar-menu .badge {
  display: none !important;
}
.enlarged #wrapper #sidebar-menu .collapse.in {
  display: none !important;
}
.enlarged #wrapper #sidebar-menu .nav.collapse {
  height: inherit !important;
}
.enlarged #wrapper #sidebar-menu ul ul {
  margin-top: -2px;
  padding-bottom: 5px;
  padding-top: 5px;
  z-index: 9999;
  background-color: #ffffff;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.08);
}
.enlarged #wrapper .left.side-menu {
  width: 70px;
  z-index: 5;
}
.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a {
  padding: 15px 20px;
  min-height: 55px;
}
.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a:hover {
  color: #313a46 !important;
  background-color: #f9f9f9;
}
.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a:active {
  color: #313a46 !important;
  background-color: #f9f9f9;
}
.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a:focus {
  color: #313a46 !important;
  background-color: #f9f9f9;
}
.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a i {
  font-size: 18px;
  margin-right: 20px !important;
}
.enlarged #wrapper .left.side-menu .label {
  position: absolute;
  top: 5px;
  left: 35px;
  text-indent: 0;
  display: block !important;
  padding: .2em .6em .3em !important;
}
.enlarged #wrapper .left.side-menu #sidebar-menu ul > li {
  position: relative;
  white-space: nowrap;
}
.enlarged #wrapper .left.side-menu #sidebar-menu ul > li:hover > a {
  position: relative;
  width: 260px;
  color: #313a46 !important;
  background-color: #f9f9f9;
}
.enlarged #wrapper .left.side-menu #sidebar-menu ul > li:hover > ul {
  display: block;
  left: 70px;
  position: absolute;
  width: 190px;
}
.enlarged #wrapper .left.side-menu #sidebar-menu ul > li:hover > ul a {
  box-shadow: none;
  padding: 8px 20px;
  position: relative;
  width: 190px;
  z-index: 6;
}
.enlarged #wrapper .left.side-menu #sidebar-menu ul > li:hover > ul a:hover {
  color: #313a46;
}
.enlarged #wrapper .left.side-menu #sidebar-menu ul > li:hover a span {
  display: inline;
}
.enlarged #wrapper .left.side-menu #sidebar-menu ul ul li:hover > ul {
  display: block;
  left: 190px;
  margin-top: -36px;
  position: absolute;
  width: 190px;
}
.enlarged #wrapper .left.side-menu #sidebar-menu ul ul li > a span.pull-right {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  position: absolute;
  right: 20px;
  top: 12px;
  transform: rotate(270deg);
}
.enlarged #wrapper .left.side-menu #sidebar-menu ul ul li.active a {
  color: #313a46;
}
.enlarged #wrapper .left.side-menu #sidebar-menu ul > li > a span {
  display: none;
  padding-left: 10px;
}
.enlarged #wrapper .left.side-menu .user-details {
  display: none;
}
.enlarged #wrapper .content-page {
  margin-left: 70px;
}
.enlarged #wrapper .footer {
  left: 70px;
}
.enlarged #wrapper .topbar .topbar-left {
  width: 70px !important;
}
.enlarged #wrapper .topbar .topbar-left .logo span {
  display: none;
  opacity: 0;
}
.enlarged #wrapper .topbar .topbar-left .logo i {
  display: block;
  line-height: 70px;
  color: #1ea69a !important;
}
.enlarged #wrapper #sidebar-menu > ul > li:hover > a.open :after {
  display: none;
}
.enlarged #wrapper #sidebar-menu > ul > li:hover > a.active :after {
  display: none;
}
#wrapper.right-bar-enabled .right-bar {
  right: 0;
}
#wrapper.right-bar-enabled .left-layout {
  left: 0;
}
/* Seach */
.app-search {
  position: relative;
}
.app-search a {
  position: absolute;
  top: 7px;
  right: 26px;
  color: rgba(152, 166, 173, 0.7);
}
.app-search a:hover {
  color: #98a6ad;
}
.app-search .form-control,
.app-search .form-control:focus {
  border: 1px solid rgba(152, 166, 173, 0.15);
  font-size: 13px;
  height: 34px;
  color: #313a46;
  padding: 7px 40px 7px 20px;
  margin: 19px 15px 0 5px;
  background: rgba(152, 166, 173, 0.1);
  box-shadow: none;
  border-radius: 30px;
  width: 190px;
}
/* Page titles */
.page-title {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}
.header-title {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 8px;
  font-weight: 600;
}
.page-title-box {
  padding: 25px 20px;
  margin: 0 -20px;
}
.page-title-box .page-title {
  margin-bottom: 0;
  float: left;
}
.page-title-box .breadcrumb {
  float: right;
  background-color: transparent !important;
}
/* Body min-height set */
body.enlarged {
  min-height: 1250px;
}
body.enlarged.bg-transparent {
  min-height: 500px;
}
.lang-option .bootstrap-select {
  margin: 18px 10px 0 10px !important;
}
.lang-option .bootstrap-select .btn-default {
  background-color: #ffffff !important;
}
/* Footer */
.footer {
  border-top: 1px solid rgba(152, 166, 173, 0.2);
  bottom: 0;
  text-align: left !important;
  padding: 19px 30px 20px;
  position: absolute;
  right: 0;
  left: 260px;
}
.notify-list {
  padding: 0 !important;
}
.notification-list {
  height: 240px;
}
.notification-list .list-group-item {
  border-left: 0;
  border-right: 0;
  border-radius: 0 !important;
}
.notification-list .list-group-item:first-of-type {
  border-top: 0;
}
.notification-list em {
  width: 36px;
  color: #ffffff;
  text-align: center;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  margin-top: 2px;
  font-size: 16px;
}
.notification-list .media-left {
  float: left;
  display: inherit;
}
.notification-list .media-body {
  display: inherit;
  width: auto;
  overflow: hidden;
  margin-left: 50px;
}
.notification-list .media-body h5 {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  margin-bottom: 0;
  overflow: hidden;
  line-height: 20px;
  font-size: 13px;
  font-weight: 700;
}
.notification-list .media-body p {
  line-height: 20px;
}
.notifi-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 11px 20px 15px;
  color: #313a46;
}

.nav-fourth-level.nav > li > a {
  padding-left: 90px;
}
.nav-fourth-level.nav li.active > a {
  color: #1c2128;
}

.icon-colored {
    height: 25px;
    width: 22px;
    margin: 0 15px 0 0 !important;
}
