/*
Template Name: Codefox Dashboard
Author: CoderThemes
Email: coderthemes@gmail.com
File: Menu
*/
/* =============
  == Components List==

   - Email
   - Maps
   - About Us
   - Contact Us
   - Member List
   - Timeline
   - Pages (Common)
   - Countdown
   - FAQ
   - Pricing
   - Account Pages

============= */
/* =============
   Email
============= */
.mails {
  /* chat-widget */
}
.mails a {
  color: #797979;
}  
.mails td {
  vertical-align: middle !important;
  position: relative;
  border: 0 !important;
}
.mails td:last-of-type {
  width: 100px;
  padding-right: 20px;
}
.mails tr:hover .text-white {
  display: none;
}
.mails .mail-select {
  padding: 15px 20px;
  min-width: 134px;
}
.mails .checkbox {
  margin-bottom: 0;
  margin-top: -4px;
  vertical-align: middle;
  display: inline-block;
  height: 17px;
}
.mails .checkbox label {
  min-height: 16px;
}
.mails .mail-list .list-group-item {
  background-color: transparent !important;
}
.mails .mail-list .list-group-item.active {
  background-color: #348cd4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
}
.mails .unread a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #313a46;
}
.mails .table-detail {
  vertical-align: top;
}
.mails .chat-right-text {
  overflow: hidden;
}
.mails .chat-widget .chat-item {
  overflow: hidden;
  padding: 10px 0;
  position: relative;
}
.mails .chat-widget .chat-item .chat-item-img {
  display: block;
  float: left;
  margin-right: 15px;
  width: 40px;
}
.mails .chat-widget .chat-item img {
  width: 40px;
}
.mails .chat-widget .chat-item .chat-item-author {
  color: #313a46;
  display: block;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
.mails .chat-widget .chat-item .chat-item-text {
  color: #a0a0a0;
  display: block;
  font-size: 12px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
/* =============
   Maps
============= */
.gmaps,
.gmaps-panaroma {
  height: 300px;
  background: #eeeeee;
  border-radius: 3px;
}
.gmaps-overlay {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
  background: #5d9cec;
  border-radius: 4px;
  padding: 10px 20px;
}
.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}
.gmaps-overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #5d9cec;
}
.gmaps-overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #5d9cec;
}
/* Vector Map */
.jvectormap-zoomin,
.jvectormap-zoomout {
  width: 10px;
  height: 10px;
  line-height: 10px;
}
.jvectormap-zoomout {
  top: 40px;
}
/* Mapael Map */
.mapael .map {
  position: relative;
}
.mapael .mapTooltip {
  position: absolute;
  background-color: #1ea69a;
  opacity: 0.95;
  border-radius: 3px;
  padding: 2px 10px;
  z-index: 1000;
  max-width: 200px;
  display: none;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
}
.mapael .zoomIn,
.mapael .zoomOut,
.mapael .zoomReset {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;
  background-color: #1ea69a;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 10px;
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.map .zoomIn {
  top: 25px;
}
.map .zoomOut {
  top: 50px;
}
/* =============
   About Us
============= */
.border {
  height: 4px;
  width: 48px;
  border-radius: 5px;
  background-color: #348cd4;
}
.about-features-box {
  margin: 20px 0;
}
.about-features-box p {
  line-height: 24px;
  width: 90%;
  margin: 0 auto;
}
.feature-icon {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 36px;
  color: #ffffff;
  line-height: 80px;
}
.about-team img {
  max-width: 150px;
  margin: 0 auto;
}
.about-team .about-team-member {
  margin: 30px 0px;
}
.about-team .about-team-member h4 {
  padding-top: 10px;
  font-weight: 600;
}
.about-team .about-team-member p {
  color: #98a6ad;
}
/* =============
   Contact Us
============= */
.contact-map {
  background-color: #f3f3f3;
}
.contact-box {
  padding: 30px;
}
.contact-detail {
  margin-bottom: 40px;
}
.contact-detail i {
  float: left;
  width: 32px;
  font-size: 20px;
}
.contact-detail p,
.contact-detail address {
  overflow: hidden;
}
.contact-detail a {
  color: #496174;
}
/* =============
   Members list
============= */
.member-card .member-thumb {
  position: relative;
}
.member-card .member-star {
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: 16px;
  background-color: #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
}
.social-links li a {
  border-radius: 50%;
  color: rgba(121, 121, 121, 0.5);
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border: 2px solid rgba(121, 121, 121, 0.5);
  text-align: center;
  width: 30px;
}
.social-links li a:hover {
  color: #797979;
  border: 2px solid #797979;
}
/* =============
   Timeline
============= */
.timeline {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  margin-bottom: 50px;
  position: relative;
  table-layout: fixed;
  width: 100%;
}
.timeline .time-show {
  margin-bottom: 30px;
  margin-right: -75px;
  margin-top: 30px;
  position: relative;
}
.timeline .time-show a {
  color: #ffffff;
}
.timeline:before {
  background-color: rgba(121, 121, 121, 0.3);
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  top: 30px;
  width: 2px;
  z-index: 0;
}
.timeline .timeline-icon {
  -webkit-border-radius: 50%;
  background: #797979;
  border-radius: 50%;
  color: #ffffff;
  display: block;
  height: 20px;
  left: -54px;
  margin-top: -10px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 20px;
}
.timeline .timeline-icon i {
  color: #ffffff;
  font-size: 13px;
  margin-top: 4px;
  position: absolute;
  left: 4px;
}
.timeline .time-icon:before {
  font-size: 16px;
  margin-top: 5px;
}
h3.timeline-title {
  color: #797979;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 5px;
  text-transform: uppercase;
}
.timeline-item {
  display: table-row;
}
.timeline-item:before {
  content: "";
  display: block;
  width: 50%;
}
.timeline-item .timeline-desk .arrow {
  border-bottom: 12px solid transparent;
  border-right: 12px solid rgba(226, 226, 226, 0.3) !important;
  border-top: 12px solid transparent;
  display: block;
  height: 0;
  left: -12px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  width: 0;
}
.timeline-item .timeline-desk .timeline-box {
  padding: 20px;
}
.timeline-item .timeline-date {
  margin-bottom: 10px;
}
.timeline-item.alt:after {
  content: "";
  display: block;
  width: 50%;
}
.timeline-item.alt .timeline-desk .arrow-alt {
  border-bottom: 12px solid transparent;
  border-left: 12px solid rgba(226, 226, 226, 0.3) !important;
  border-top: 12px solid transparent;
  display: block;
  height: 0;
  left: auto;
  margin-top: -12px;
  position: absolute;
  right: -12px;
  top: 50%;
  width: 0;
}
.timeline-item.alt .timeline-desk .album {
  float: right;
  margin-top: 20px;
}
.timeline-item.alt .timeline-desk .album a {
  float: right;
  margin-left: 5px;
}
.timeline-item.alt .timeline-icon {
  left: auto;
  right: -56px;
}
.timeline-item.alt:before {
  display: none;
}
.timeline-item.alt .panel {
  margin-left: 0;
  margin-right: 45px;
}
.timeline-item.alt h4 {
  text-align: right;
}
.timeline-item.alt p {
  text-align: right;
}
.timeline-item.alt .timeline-date {
  text-align: right;
}
.timeline-desk {
  display: table-cell;
  vertical-align: top;
  width: 50%;
}
.timeline-desk h4 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}
.timeline-desk .panel {
  background: rgba(226, 226, 226, 0.25);
  display: block;
  margin-bottom: 5px;
  margin-left: 45px;
  position: relative;
  text-align: left;
  border: 0;
}
.timeline-desk h5 span {
  color: #797979;
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
}
.timeline-desk p {
  color: #999999;
  font-size: 14px;
  margin-bottom: 0;
}
.timeline-desk .album {
  margin-top: 12px;
}
.timeline-desk .album a {
  float: left;
  margin-right: 5px;
}
.timeline-desk .album img {
  height: 36px;
  width: auto;
  border-radius: 3px;
}
.timeline-desk .notification {
  background: none repeat scroll 0 0 #ffffff;
  margin-top: 20px;
  padding: 8px;
}
.timeline-left {
  margin-left: 20px;
  width: auto;
  display: block;
}
.timeline-left:before {
  left: 0 !important;
}
.timeline-left .timeline-item {
  display: block;
}
.timeline-left .timeline-desk {
  display: block;
  width: 100%;
}
.timeline-left .panel {
  margin-bottom: 20px;
}
/* =============
   Pages - Common
============= */
.home-wrapper {
  margin: 10% 0;
}
/* =============
   Count Down
============= */
.count-down-bg {
  background: url("../images/bg-countdown.jpg");
  background-size: cover;
}
#count-down {
  margin-top: 50px;
}
#count-down .clock-presenter {
  height: 140px;
  line-height: 30px;
  padding: 0 30px;
  text-align: center;
}
#count-down .clock-presenter .digit {
  margin-top: 20px;
  font-size: 60px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 60px;
  font-weight: bold;
  height: 60px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  position: relative;
  cursor: default;
  color: #ffffff;
}
#count-down .clock-presenter .note {
  position: relative;
  bottom: 0;
  padding-top: 5px;
  cursor: default;
  font-size: 16px;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  #count-down .clock-presenter .digit {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  #count-down .clock-presenter {
    width: 50%;
    float: left;
  }
  #count-down .clock-presenter .digit {
    font-size: 36px;
  }
  #count-down .hours_dash {
    border-right: none;
  }
}
/* =============
   FAQ
============= */
.question-q-box {
  height: 30px;
  width: 30px;
  color: #ffffff;
  background-color: #1ea69a;
  text-align: center;
  border-radius: 3px;
  float: left;
  line-height: 30px;
}
.question {
  margin-top: 0;
  margin-left: 50px;
  font-weight: 400;
  font-size: 16px;
}
.answer {
  margin-left: 50px;
  color: #98a6ad;
  margin-bottom: 40px;
}
/* =============
   Pricing
============= */
.pricing-column {
  position: relative;
  margin-bottom: 40px;
}
.pricing-column .inner-box {
  position: relative;
  padding: 0 0 30px;
}
.pricing-column .plan-header {
  position: relative;
  padding: 30px 20px 25px;
  margin-top: 20px;
  background-color: #348cd4;
}
.pricing-column .plan-title {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 10px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.pricing-column .plan-price {
  font-size: 48px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 10px;
  color: #ffffff;
}
.pricing-column .plan-duration {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}
.pricing-column .plan-stats {
  position: relative;
  padding: 30px 20px 15px;
}
.pricing-column .plan-stats li {
  margin-bottom: 15px;
  line-height: 24px;
}
.ribbon {
  position: absolute;
  left: 5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
  font-family: 'Source Sans Pro', sans-serif;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  background: #1ea69a;
  background: linear-gradient(#78c350 0%, #78c350 100%);
  position: absolute;
  top: 19px;
  letter-spacing: 1px;
  left: -21px;
}
.ribbon span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #5fa739;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #5fa739;
}
.ribbon span:after {
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #5fa739;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #5fa739;
}
/* Dashboard */
#dashboard-chart-one {
  max-height: 320px;
  height: 320px;
}
#dashboard-chart-one .ct-labels .ct-horizontal {
  margin-left: -20px;
  display: block;
  text-align: center !important;
}
#dashboard-chart-one .ct-area {
  fill-opacity: 0.4;
}
#dashboard-chart-one .ct-line {
  stroke-width: 2px;
}
#dashboard-chart-one .ct-point {
  stroke-width: 6px;
}
.dash-chart {
  height: 300px;
}
.dash-chart-bar {
  height: 370px !important;
  max-height: 500px;
}
/* =============
   Account Pages
============= */
.wrapper-page {
  margin: 7% auto;
  position: relative;
  max-width: 520px;
}
.account-pages .account-content {
  padding: 30px;
}
.account-pages .account-btn {
  position: absolute;
  left: 0;
  right: 0;
}
.account-logo-box {
  padding: 10px;
  border-radius: 5px 5px 0 0;
}
.checkmark {
  width: 100px;
  margin: 0 auto;
  padding: 20px 0;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 2s ease-in-out;
  -webkit-animation: dash 2s ease-in-out;
}
.spin {
  animation: spin 2s;
  -webkit-animation: spin 2s;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
