.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


[data-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1a1a1a;	
	position:absolute;
	top:30px;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:35px;
	left:0px;
	padding:5px 8px;
	background:#1a1a1a;
	color:#fff;
	z-index:9;
	font-size: 0.75em;
	height:18px;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
	word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}



.panel-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -25px;

  font-size: 5rem;
}

.panel-header-tgestiona{
  padding:0 0!important;  
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.sinMargin{
  margin: 0 0!important;
}


.btn-primary-tgestiona{
  color: #fff;
  background-color: #3371A2;
  border-color: #3371A2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn-primary-tgestiona:hover{
  color: #fff;
  background-color: #5596CA!important;
  border-color: #5596CA!important;
}

.header-tgestiona{
  background-color: #3371a2;
  color:#fff;
}


.panel-oportunidad{
  background-color: #3371a2;
  color:#fff;
  font-weight: bold;
  border-bottom-color: #fff;
}

.panel-oportunidad-body{
  background-color: #3371a2;
  color:#fff;
}

.panel-oportunidad_v2{
  background-color: #00a1c6;
  color:#fff;
  font-weight: bold;
  border-bottom-color: #fff;
}

.panel-oportunidad-body_v2{
  background-color: #00a1c6;
  color:#fff;
}


.panel-header {
  padding: 12px 20px;
  margin-bottom: 0; 
}

.leyend_yellow{
  border-bottom: 10px solid #FFB900;
}

.leyend_red{
  border-bottom: 10px solid #FE0000;
}

.text_yes{
  color:#3D9156;
}

.text_no{
  color:#C65159;
}

.text_25{
  color:#48FF00;
}

.text_50{
  color:#F0FF00;
}

.text_75{
  color:#FF9600;
}

.text_100{
  color:#FF0000;
}

div#idBandejaOportunidad {
    margin-left: 50px;
}
.side-menu {
    width: 293px !important;
    z-index: 10;
    background: #ffffff;
    bottom: 0;
    margin-top: 0;
    padding-bottom: 30px;
    position: fixed;
    top: 70px;
    border-right: 1px solid #e2e2e2;
}
ul.nav-second-level.nav.collapse.in {
    margin-left: -30px !important;
}
#sidebar-menu .menu-arrow {
    -webkit-transition: -webkit-transform 0.15s;
    -o-transition: -o-transform 0.15s;
    transition: transform .15s;
    position: absolute;
    right: 20px;
    display: inline-block;
    font-family: 'Material Design Icons';
    text-rendering: auto;
    line-height: 22px;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.chartred{
  background: url(../images/chart_red.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 19px;
  height: 20px;
  display:inline-block;
}

.chartorange{
  background: url(../images/chart_orange.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 19px;
  height: 20px;
  display:inline-block;
}

.chartyellow{
  background: url(../images/chart_yellow.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 19px;
  height: 20px;
  display:inline-block;
}


.chartgreen{
  background: url(../images/chart_green.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 19px;
  height: 20px;
  display:inline-block;
}


.btnAddActivity, .btnAddActivity:visited, .btnAddActivity:active{
	font-size:18px!important;
	-webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
	background:none;
	color:#3371A2;
	padding:10px 35px 10px 35px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #3371A2;
}

.btnAddActivity:hover{
	-webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
	background:#3371A2;
	color:#fff;
	padding:10px 35px 10px 35px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #3371A2;
}

.btnSave{
  font-size:18px!important;
	-webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
	background:#3371A2;
	color:#fff;
	padding:10px 35px 10px 35px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #3371A2;
}

.btnSave:hover{
	-webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
	background:none;
	color:#3371A2;
	padding:10px 35px 10px 35px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #3371A2;
}

.panel-header-checklist{
  background: #3371a2;
  color:#fff!important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0BBE87;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0BBE87;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.header-detail1{
  background: #0bbe87;
  color:#fff!important;
  padding: 0 0 !important;
}

.header-detail2{
  background: #00ace8;
  color:#fff;
  padding: 0 0 !important;
}

.panel-title-tgestiona{
  margin:10px 0;
}

.panel-body-switch_content{
  padding: 5px 5px!important
}

.panel-body-switch_content-selected{
  background: #E4E4E4;
}

.panel-header-switch{
  padding: 5px 5px!important;
}

.panel-body-switch{
  padding: 0px 5px!important;
}


.btn-link-checklist{
  color:#fff;
  text-decoration: none;
}
.btn-link-checklist:hover, .btn-link-checklist:visited, .btn-link-checklist:active ,.btn-link-checklist:focus{
  color:#fff;
  text-decoration: none;
}


[data-toggle="collapse"] .fa:before {   
  content: "\f13a";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f138";
}

.content-pageModule{
  margin-left:0 !important;
}
.footerModule{
  left:0px!important;
}

.panel_module img{
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.5;
  filter: alpha(opacity=50);
  width:100%;
}

.centrarModulo {
 /* position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);*/
}


.panel_module:hover img{
  opacity: 1;
  filter: alpha(opacity=100);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.panel{
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.panel_module:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
} 


.iconTuerca{
  font-size: 38px;
}

.card_bandeja_oportunidades{
  background: #F3F3F5;
  color:#00a1c6;
  font-weight: 500;
}

.oportunidades_EnProceso{
  background: #76C343;
  color:#fff;
  padding: 1px 5px;
}

.oportunidades_textgris{
  color:#333;
  font-weight: 100;
}

.padingTuerca{
  padding: 23px 0 0 10px;
}


.resumenProy{
  text-transform: uppercase;
  color:#00a1c6;
  font-weight: 500;
}

.botonera{
  background: #dddddd;
}

.squareRed{
 color:#fb0201; 
}

.squareYellow{
color:#ffa300
}

.squareGreen{
  color:#009146;
  }

  .modalheaderTgestiona{
    background: #3371a2;
    padding: 5px 5px!important;
    color: #fff;
  }
  
  .modal-contentTgestiona{
    background: none!important;
    padding: 0 !important;
    border: none!important;
  }
  
  
  .modal-bodyTgestiona{
    background:#fff!important;
    padding: 5px 5px!important;
  }

  .modal-footer-tgestiona{
    background:#fff!important;
    padding: 5px 5px!important;
  }
  


  /*Login*/

  .bgLogin{
    background:url('../images/bgLogin4.jpg') no-repeat bottom left;
    width: 100%;
    height: 85vh;
  }

  .formLogin{
    border: 0px solid;
    padding: 30px 40px;
    margin-top: 20vh;
    -webkit-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    background: rgba(254, 254, 253, .5);
  }

  .titleLogin{
    color:#3371a2;
  }


  /*TABS */

  .tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px;
  }
  .tabs-left {
    border-right: 1px solid #ddd;
  }
  .tabs-right {
    border-left: 1px solid #ddd;
  }
  .tabs-left>li, .tabs-right>li {
    float: none;
    margin-bottom: 2px;
  }
  .tabs-left>li {
    margin-right: -1px;
  }
  .tabs-right>li {
    margin-left: -1px;
  }
  .tabs-left>li.active>a,
  .tabs-left>li.active>a:hover,
  .tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
  }
  
  .tabs-right>li.active>a,
  .tabs-right>li.active>a:hover,
  .tabs-right>li.active>a:focus {
    border-bottom: 1px solid #ddd;
    border-left-color: transparent;
  }
  .tabs-left>li>a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display:block;
  }
  .tabs-right>li>a {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
  }
  .vertical-text {
    margin-top:50px;
    border: none;
    position: relative;
  }
  .vertical-text>li {
    height: 20px;
    width: 120px;
    margin-bottom: 100px;
  }
  .vertical-text>li>a {
    border-bottom: 1px solid #ddd;
    border-right-color: transparent;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
  }
  .vertical-text>li.active>a,
  .vertical-text>li.active>a:hover,
  .vertical-text>li.active>a:focus {
    border-bottom-color: transparent;
    border-right-color: #ddd;
    border-left-color: #ddd;
  }
  .vertical-text.tabs-left {
    left: -50px;
  }
  .vertical-text.tabs-right {
    right: -50px;
  }
  .vertical-text.tabs-right>li {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .vertical-text.tabs-left>li {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .form-group.required .control-label:after {
    content:"*";
    color:red;
  }