﻿<div id="IdRoutersController" ng-app="app.Oportunidad" ng-controller="RoutersController as vm">
    <div class="row">
        <div id="lblAlerta_Routers" class="alert-edit"></div>
    </div>
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Tipo<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtTipoRouter" class="tb form-control" onkeypress="ConceptoComplete(this,8);" autocomplete="off"  ng-model="vm.Tipo" />
                </div>
                <label class="col-md-2 control-label">Cruce</label>
                <div class="col-md-4">
                    <input id="txtCruceRouter" class="form-control" autocomplete="off" disabled="disabled" ng-model="vm.Cruce" />
                </div>

            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">A.E. Reducido</label>
                <div class="col-md-4">
                    <input id="txtAEReducidoRouter" class="form-control" autocomplete="off" disabled="disabled" ng-model="vm.AEReducido"  />
                </div>
                <label class="col-md-2 control-label">Circuito</label>
                <div class="col-md-4">
                    <input id="txtCircuitoRouter" class="form-control" autocomplete="off" ng-model="vm.Circuito" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Modelo</label>
                <div class="col-md-4">
                    <input id="txtModeloRouter" class="form-control" autocomplete="off" ng-keydown="vm.CantidadRoutersComplete();" ng-model="vm.Modelo"/>
                </div>
                <label class="col-md-2 control-label">Antigüedad (meses)</label>
                <div class="col-md-4">
                    <input id="txtMesesAntiguedadRouter" class="form-control" autocomplete="off" ng-keydown="vm.CantidadRoutersComplete();"  ng-model="vm.MesesAntiguedad" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidadRouter" type="text" class="form-control" autocomplete="off" ng-keydown="vm.CantidadRoutersComplete();" ng-model="vm.Cantidad" />
                </div>
                <label class="col-md-2 control-label">C.U. Antiguo</label>
                <div class="col-md-4">
                    <input id="txtCostoUnitarioAntiguoRouter" class="form-control" autocomplete="off" ng-keydown="vm.CantidadRoutersComplete();"  ng-model="vm.CostoUnitarioAntiguo" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Valor Residual (USD)</label>
                <div class="col-md-4">
                    <input id="txtValorResidualRouter" type="text" class="form-control" disabled="disabled" ng-model="vm.ValorResidualSoles"  />
                </div>
                <label class="col-md-2 control-label">C.U. nuevo (USD)</label>
                <div class="col-md-4">
                    <input id="txtCostoUnitarioRouter" class="form-control" autocomplete="off" ng-keydown="CantidadRoutersComplete();" ng-model="vm.CostoUnitario" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Capex (USD)</label>
                <div class="col-md-4">
                    <input id="txtCapexDolaresRouter" type="text" class="form-control" disabled="disabled" ng-model="vm.CapexDolares"  />
                </div>
                <label class="col-md-2 control-label">Capex Total (S/.)</label>
                <div class="col-md-4">
                    <input id="txtCapexSolesRouter" class="form-control" autocomplete="off" disabled="disabled" ng-model="vm.CapexSoles"  />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Total Capex</label>
                <div class="col-md-4">
                    <input id="txtTotalCapexRouter" type="text" class="form-control" disabled="disabled" ng-model="vm.TotalCapex" />
                </div>
                <label class="col-md-2 control-label">Mes de RQ (Mes-Año)</label>
                <div class="col-md-4">
                    <input id="txtMesRecuperoRouter" class="form-control" autocomplete="off" ng-model="vm.MesRecupero" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes de Comprometido</label>
                <div class="col-md-4">
                    <input id="txtMesComprometidoRouter" type="text" class="form-control" ng-model="vm.MesComprometido" />
                </div>
                <label class="col-md-2 control-label">Mes Certificado</label>
                <div class="col-md-4">
                    <input id="txtMesCertificadoRouter" class="form-control" autocomplete="off" ng-model="vm.MesCertificado" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-custom btn-sm" id="btnRouters" type="button" ng-click="vm.GrabarConceptoRouter()">Grabar</button>
                </div>
            </div>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>

</div>

@section scripts{

    @Scripts.Render("~/bundles/app/oportunidad/routers/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");

}