﻿@using Scripts = System.Web.Optimization.Scripts
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body ng-app="app.CartaFianza" block-ui="main">
</body>
<div id="IdMaestroCartaFianzaController" ng-app="app.CartaFianza" ng-controller="MaestroCartaFianzaController as vm">
    
    <div id="frmCartaFianza" class="content-page">
         
        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Registrar Nueva Carta Fianza
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <form>
                    <div class="messages"></div>

                    <div class="controls">

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-5"> Ruc/Nif:</label>
                                    <div class="col-md-7">
                                        <input id="NumeroIdentificador" class="form-control" ng-model="vm.NumeroIdentificador" placeholder="RUC / NIF" autocomplete="off" ng-cloak>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Nombre Cliente:</label>
                                    <div class="col-md-7">
                                        <input id="id" class="form-control" ng-model="vm.NombreCliente" placeholder="Nombre Cliente" autocomplete="off" ng-cloak>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" data-toggle="modal" data-target="#exampleModalCenter" ng-click="vm.CargaModalCartaBuscarCliente()"> Buscar Cliente</a>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" data-toggle="modal" data-target="#exampleModalCenter" ng-click="vm.CargaModalCartaFianzaRegistro()"> Nuevo</a>

                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                Limpiar
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </section>



        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Filtros
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <form>
                    <div class="messages"></div>
                    <div class="controls">
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5"> Ruc/Nif:</label>
                                    <div class="col-md-7">
                                        <input id="NumeroIdentificador" class="form-control" ng-model="vm.NumeroIdentificador" placeholder="RUC / NIF" autocomplete="off" ng-cloak>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Nombre Cliente:</label>
                                    <div class="col-md-7">
                                        <input id="id" class="form-control" ng-model="vm.NombreCliente" placeholder="Nombre Cliente" autocomplete="off" ng-cloak>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Nombre Contrato:</label>
                                    <div class="col-md-7">
                                        <input id="NumeroContrato" class="form-control" ng-model="vm.NumeroContrato" placeholder="Numero Contrato" autocomplete="off" ng-cloak>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <!-- <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" data-toggle="modal" data-target="#exampleModalCenter" ng-click="vm.CargaModalCartaFianzaRegistro()"> Nuevo</a>-->
                            <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.BuscarCartaFianza()">
                                Filtrar
                            </button>
                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                Limpiar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <br />
        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Registro de Carta Fianza
            </header>
            <div class="panel-body">
                <section id="flip-scroll">

                    <div class="table-responsive">
                        <table id="tbEstudiosEspeciales" datatable="" dt-options="vm.dtOptionsCartaFianza" dt-columns="vm.dtColumnsCartaFianza"
                               class="table table-bordered table-striped table-condensed cf"
                               dt-instance="vm.dtInstanceCartaFianza" style="width:100%;" dt-column-defs="vm.dtColumnDefs">
                            <thead class="cf">
                        </table>
                    </div>

                </section>
            </div>
        </section>

    </div>
</div>

<!-- Modal-->
<div class="modal fade" id="ModalCartaFianza" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title">Registro de Carta Fianza</p>

            </div>
            <div id="ContenidoCartaFianza" class="modal-body ">

            </div>
        </div>
    </div>
</div>



 <!-- Modal-->
<div class="modal fade" id="ModalCartaFianzaCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title">Buscar Cliente</p>

            </div>
            <div id="ContenidoCartaFianzaCliente" class="modal-body modal-bodyTgestiona">

            </div>
        </div>
    </div>
</div>


@section scripts{

    @Scripts.Render("~/bundles/app/CartaFianza/MaestroCartaFianza/js");


}


