﻿@using Tgs.SDIO.Util.Web.Trazabilidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Registrar Recurso Oportunidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Trazabilidad" block-ui="main">
</body>
<div id="IdRegistrarRecursoOportunidad" ng-app="app.Trazabilidad" ng-controller="RegistrarRecursoOportunidad as vm" ng-cloak>
    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading-modal">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Recurso Oportunidad
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
            </section>
            <div class="panel-body">
                <div class='col-xs-12 col-sm-12'>
                    <div class='form-group'>
                        <h5 class="font-bold">Los campos con asterisco (*) son obligatorios.</h5>
                    </div>
                   
                    <div id="divAlert">
                    </div>
                </div>
                <form>
                    <div class="container">
                        <div class="row form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4 control-label" for="IdAsignacion">Código:</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-md" id="IdAsignacion" ng-model="vm.IdAsignacion" disabled="disabled" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4 control-label" for="ddlEstado">Estado(*):</label>
                                        <div class="col-md-8">
                                            <select id="ddlIdEstado" class="form-control input-md"
                                                    ng-model="vm.IdEstado"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.listEstados" ng-cloak disabled="disabled"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <label class="col-md-3 control-label" for="IdOportunidad">Oportunidad(*):</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-md" id="HDescripcionOportunidad" ng-model="vm.HDescripcionOportunidad" disabled="disabled" />
                                        <input type="hidden" class="form-control input-md" ng-model="vm.IdOportunidad" id="IdOportunidad" maxlength="150" />
                                        <span class="input-group-addon" id="btnBuscarO" ng-click="vm.LimpiarFiltrosO()">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <label class="col-md-3 control-label" for="IdRecurso">Recurso(*):</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-md" id="HDescripcionRecurso" ng-model="vm.HDescripcionRecurso" disabled="disabled" />
                                        <input type="hidden" class="form-control input-md" ng-model="vm.IdRecurso" id="IdRecurso" maxlength="150" />
                                        <span class="input-group-addon" id="btnBuscarR" ng-click="vm.LimpiarFiltrosR()">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4 control-label" for="listFases">Rol Recurso(*):</label>
                                        <div class="col-md-8">
                                            <select id="IdRol" class="form-control input-md"
                                                    ng-model="vm.IdRol"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.listRolRecurso" ng-cloak></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4 control-label" for="PorcentajeDedicacion">% Dedicación:</label>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control input-md" ng-model="vm.PorcentajeDedicacion" id="PorcentajeDedicacion" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4 control-label" for="FInicioAsignacion">Fecha Inicio:</label>
                                        <div class="col-md-8">
                                            <input type="date" class="form-control input-md" ng-model="vm.FInicioAsignacion" id="FInicioAsignacion" max="3000-12-31" min="2000-01-01" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4 control-label" for="FFinAsignacion">Fecha Fin:</label>
                                        <div class="col-md-8">
                                            <input type="date" class="form-control input-md" ng-model="vm.FFinAsignacion" id="FFinAsignacion" max="3000-12-31" min="2000-01-01" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <label class="col-md-3 control-label" for="Observaciones">Observaciones:</label>
                                <div class="col-md-9">
                                    <textarea id="Observaciones" ng-model="vm.Observaciones" class="form-control input-md" maxlength="1900"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class='modal-footer text-right'>
                            <button class="btn btn-primary" ng-click="vm.RegistraRecursoOportunidad()"><span class="glyphicon glyphicon-list-alt"></span> Registrar</button>
                            <a class="btn btn-primary" href="{{vm.EnlaceBandeja}}"><span class="glyphicon glyphicon-share-alt"></span> Retornar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @************************************************* Modal Busqueda Oportunidad **************************************************************@
    <div class="modal fade" id="dlgBuscarO" tabindex="-1" role="dialog" aria-labelledby="ldl-details-modal"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" id="modalDetail">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase">
                        <asp:Label ID="lblNrofactura" Text="Label">Búsqueda de Oportunidad</asp:Label>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modalBody" class="modal-body panel">
                    <div class="container">
                        <div class="row">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Oportunidad:</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control input-md" id="DescripcionOportunidad" ng-model="vm.DescripcionOportunidad" placeholder="Ingrese Descripción" />
                                    </div>
                                    <div class="col-lg-4">
                                        <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltrosO()">
                                            Limpiar
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">ID Oportunidad SF:</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control input-md" id="IdOportunidadSF" ng-model="vm.IdOportunidadSF" placeholder="Ingrese Codigo" />
                                    </div>
                                    <div class="col-lg-4">
                                        <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona waves-effect m-l-5" type="submit" ng-click="vm.BuscarOportunidadST()">
                                            Filtrar
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="col-lg-12 dflt-marginTop-2">

                                <table datatable="" dt-options="vm.dtOptionsO" dt-columns="vm.dtColumnsO"
                                       class="row-border hover dataTable no-footer dtr-inline collapsed"
                                       dt-instance="vm.dtInstanceO" style="width:100%;"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @************************************************* Modal Busqueda Oportunidad **************************************************************@
    @************************************************* Modal Busqueda Recurso **************************************************************@
    <div class="modal fade" id="dlgBuscarR" tabindex="-1" role="dialog" aria-labelledby="ldl-details-modal"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" id="modalDetail">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase">
                        <asp:Label ID="lblNrofactura" Text="Label">Búsqueda de Recurso</asp:Label>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modalBody" class="modal-body panel">
                    <div class="container">
                        <div class="row">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">Recurso:</label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control input-md" id="DescripcionRecurso" ng-model="vm.DescripcionRecurso" placeholder="Ingrese Descripción" />
                                                </div>
                                                <div class="col-lg-4">
                                                    <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona waves-effect m-l-5" type="submit" ng-click="vm.BuscarRecurso()">
                                                        Filtrar
                                                    </button>
                                                    <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltrosR()">
                                                        Limpiar
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 dflt-marginTop-2">
                                <table datatable="" dt-options="vm.dtOptionsR" dt-columns="vm.dtColumnsR"
                                       class="row-border hover dataTable no-footer dtr-inline collapsed"
                                       dt-instance="vm.dtInstanceR" style="width:100%;"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @************************************************* Modal Busqueda Recurso **************************************************************@
</div>
@section scripts{
    <script>
        var jsonDatoRecursoOportunidad = @Html.Raw(Json.Encode(ViewBag.vbDatoRecursoOportunidad));
        function SeleccionarOportunidadSF(IdOportunidad) {
            var scope = angular.element(document.getElementById("IdRegistrarRecursoOportunidad")).scope();
            scope.vm.SeleccionarOportunidadSF(IdOportunidad);
            scope.$apply();
        }
        function SeleccionarRecurso(IdRecurso) {
            var scope = angular.element(document.getElementById("IdRegistrarRecursoOportunidad")).scope();
            scope.vm.SeleccionarRecurso(IdRecurso);
            scope.$apply();
        }
    </script>

    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/RegistrarRecursoOportunidad/js")
}



