﻿<div id="IdSoftwareController" ng-app="app.Oportunidad" ng-controller="SoftwareController as vm">
    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_Software" class="alert-edit"></div>
    </div>

    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Equipo<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtEquipoSoftware" class="tb form-control" onkeypress="ConceptoComplete(this,12);" autocomplete="off" ng-model="vm.Equipo"  />
                </div>
                <label class="col-md-2 control-label">Cruce</label>
                <div class="col-md-4">
                    <input id="txtCruceSoftware" class="form-control" autocomplete="off" ng-model="vm.Cruce" />
                </div>

            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">A.E. Reducido</label>
                <div class="col-md-4">
                    <input id="txtAEReducidoSoftware" class="form-control" autocomplete="off" ng-model="vm.AEReducido"   />
                </div>
                <label class="col-md-2 control-label">Marca</label>
                <div class="col-md-4">
                    <input id="txtMarcaSoftware" class="form-control" autocomplete="off" ng-model="vm.Marca" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Modelo</label>
                <div class="col-md-4">
                    <input id="txtModeloSoftware" class="form-control" ng-model="vm.Modelo"  autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">Antigüedad (meses)</label>
                <div class="col-md-4">
                    <input id="txtAntiguedadSoftware" ng-model="vm.MesesAntiguedad"  class="form-control" autocomplete="off" ng-keydown="vm.CantidadSoftwareComplete();" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidadSoftware" type="text" ng-model="vm.Cantidad"  class="form-control" ng-keydown="vm.CantidadSoftwareComplete();" />
                </div>
                <label class="col-md-2 control-label">C.U. Antiguo (USD)</label>
                <div class="col-md-4">
                    <input id="txtCUAntiguoSoftware" class="form-control"  ng-model="vm.CostoUnitarioAntiguo"  autocomplete="off" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Valor Residual (USD)</label>
                <div class="col-md-4">
                    <input id="txtValorResidualSoftware" type="text" ng-model="vm.ValorResidualSoles" class="form-control" />
                </div>
                <label class="col-md-2 control-label">C.U. Nuevo (USD)</label>
                <div class="col-md-4">
                    <input id="txtCostoUnitarioSoftware" ng-model="vm.CostoUnitario"  class="form-control" autocomplete="off" ng-keydown="vm.CantidadSoftwareComplete();" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Capex (USD)</label>
                <div class="col-md-4">
                    <input id="txtCapexDolaresSoftware" ng-model="vm.CapexDolares"  type="text" class="form-control" />
                </div>
                <label class="col-md-2 control-label">Capex Total (S/.)</label>
                <div class="col-md-4">
                    <input id="txtCapexSolesSoftware" ng-model="vm.CapexSoles" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Total Capex</label>
                <div class="col-md-4">
                    <input id="txtTotalCapexSoftware" ng-model="vm.TotalCapex" type="text" class="form-control" />
                </div>
                <label class="col-md-2 control-label">Mes de RQ (Mes-Año)</label>
                <div class="col-md-4">
                    <input id="txtMesRecuperoSoftware" ng-model="vm.MesRecupero" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes de Comprometido</label>
                <div class="col-md-4">
                    <input id="txtMesComprometidoSoftware" ng-model="vm.MesComprometido" type="text" class="form-control" />
                </div>
                <label class="col-md-2 control-label">Mes Certificado</label>
                <div class="col-md-4">
                    <input id="txtCertificadoSoftware" ng-model="vm.MesCertificado" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-custom btn-sm" id="btnSoftware" type="button" ng-click="vm.GrabarConceptoSoftware()">Grabar</button>
                </div>
            </div>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>

</div>

@section scripts{

    @Scripts.Render("~/bundles/app/oportunidad/software/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");

}