﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="formDatos" class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Alert -->
            <div class="row">
                <asp:Label id="lblAlerta" Width="100%" Text="" Visible="false"></asp:Label>
                <button id="btnLimpiar" Style="display: none;" onclick="btnLimpiar_click" />
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default" style="border: 0px;">
                    <div class="panel-heading" role="tab" id="headingCliente">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCliente" aria-expanded="true" aria-controls="collapseCliente" class="a-Modal" style="color: #797979;">
                                <i class="mdi mdi-pocket"></i>Cliente
                            </a>
                        </h4>
                    </div>
                    <div id="collapseCliente" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingCliente">
                        <div class="panel-body">
                            <input type="text" id="txtidCliente" style="visibility:hidden" />

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Descripción <span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input type="text" id="txtDescripcion" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Cliente <span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input type="text" id="txtCliente" class="form-control" onkeyup="complete(this);" autocomplete="off" />
                                    </div>
                                    <label class="col-md-2 control-label">Sector <span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input type="text" id="txtSector" class="form-control" disabled="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Gerente Comercial <span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <select id="idGerente" class="form-control" Visible="False"></select>
                                        <input type="text" id="txtGerente" class="form-control" disabled="" />
                                    </div>
                                    <label class="col-md-2 control-label">Dirección Comercial <span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input type="text" id="txtDireccion" class="form-control" disabled="" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="border: 0px;">
                    <div class="panel-heading" role="tab" id="headingProyecto">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseProyecto" aria-expanded="true" aria-controls="collapseProyecto" class="a-Modal" style="color: #797979;">
                                <i class="mdi mdi-pocket"></i>Proyecto
                            </a>
                        </h4>
                    </div>
                    <div id="collapseProyecto" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingProyecto">
                        <div class="panel-body">


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Número de Sales Force <span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input type="text" id="txtNumeroSales" onchange="Formato(this);" onclick="Formato(this);" class="form-control" />
                                    </div>
                                    <label class="col-md-2 control-label">Número de Caso <span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input type="text" id="txtNumeroCaso" onchange="Formato(this);" onclick="Formato(this);" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Fecha <span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <div class='input-group date' style="cursor: pointer;">
                                            <input type="text" class="form-control" onchange="DatePicker(this);" onkeypress="DatePicker(this);" onclick="DatePicker(this);" placeholder="dd-mm-yyyy" style="width: 100px" id="datepicker2" autocomplete="off" />
                                        </div>
                                    </div>
                                    <label class="col-md-2 control-label">Alcance del Proyecto <span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input type="text" id="txtAlcance" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Periodo <span class="text-danger">*</span></label>
                                    <div class="col-md-2">
                                        <input id="txtPeriodo" type="text" class="form-control" />

                                    </div>
                                    <label class="col-md-2 control-label">Meses </label>

                                    <label class="col-md-2 control-label">Implantación <span class="text-danger">*</span></label>
                                    <div class="col-md-2">
                                        <input type="text" id="txtTiempoImplantacion" onchange="Formato(this);" onclick="Formato(this);" class="form-control" />
                                    </div>
                                    <label class="col-md-2 control-label">Meses </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Tipo de Proyecto: </label>
                                    <div class="col-md-4">
                                        <select id="idTipoProyecto" class="form-control"></select>
                                    </div>
                                    <label class="col-md-2 control-label">Tipo de Servicio </label>
                                    <div class="col-md-4">
                                        <select id="idTipoServicio" class="form-control"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Nº Proyecto Anterior </label>
                                    <div class="col-md-4">
                                        <input type="text" id="txtProyectoAnterior" onchange="Formato(this);" onclick="Formato(this);" class="form-control" />
                                    </div>
                                    <label class="col-md-2 control-label">Línea(s) de Negocio <span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <select  id="idLineaProducto" class="form-control"
                                                     SelectionMode="Multiple"
                                                     AutoPostBack="false"></selectx>
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label class="col-md-2 control-label">Estado del Proyecto </label>
                                    <div class="col-md-4">
                                        <select id="idEstadoProyecto" class="form-control" disabled="disabled"></select>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="border: 0px;">
                    <div class="panel-heading" role="tab" id="headingFinanzas">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFinanzas" aria-expanded="true" aria-controls="collapseFinanzas" class="a-Modal" style="color: #797979;">
                                <i class="mdi mdi-pocket"></i>Finanzas
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFinanzas" class="panel-collapse collapse  in" role="tabpanel" aria-labelledby="headingFinanzas">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Analista Financiero <span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <select id="idAnalista" class="form-control"></select>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Pre Venta: </label>
                                    <div class="col-md-4">
                                        <input type="text" id="txtPreVenta" class="form-control" disabled="" />
                                    </div>
                                    <label class="col-md-2 control-label">Product Manager <span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <select id="idProduct" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row m-t-20">
                <div class="col-md-12 text-right">
                 
                 <button id="btnShow" class="btn btn-primary waves-effect " onclick="click('btnGuardarProyecto'); return false;">Guardar</button>
                   
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
