﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Oportunidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_Contenedor;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Oportunidad" block-ui="main">
</body>

<div id="idOportunidadContenedorController" ng-app="app.Oportunidad" ng-controller="OportunidadContenedorController as vm">
    <div id="alertContenedor" class="col-md-12"></div>
    <div class="col-xs-1">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left sideways">
            <li class="active"><a href="#datos" data-toggle="tab">Datos</a></li>
            <li><a href="#detalle" data-toggle="tab">Detalle</a></li>
            <li><a href="#resumen" data-toggle="tab">Resumen</a></li>
            <li><a href="#PreImplatacion" data-toggle="tab">PreImplatación</a></li>
        </ul>
    </div>
    <div class="col-xs-11">
        <div class="panel-content">
            <div class="col-md-12">
                <!-- Tab panes -->
                <div class="tab-content" style="padding: 2px 0 0 0;">
                    <div class="tab-pane active" id="datos">
                        <div class="card-box">
                            @Html.Action("Index", "RegistrarOportunidad", new { area = "Oportunidad" })
                        </div>
                    </div>
                    <div class="tab-pane" id="detalle">
                        <div class="card-box">
                            @Html.Action("Detalle", "OportunidadContenedor", new { area = "Oportunidad" })
                        </div>
                    </div>
                    <div class="tab-pane" id="resumen">
                        <div class="card-box">
                        </div>
                    </div>
                    <div class="tab-pane" id="PreImplatacion">
                        <div class="card-box">
                            @*@Html.Action("actionName", "controllerName", new { area = "Oportunidad" });*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/app/oportunidad/contenedor/js");
    <script>var jsonOportunidad= @Html.Raw(Json.Encode(ViewBag.VbOportunidad));</script>
    <script>var jsonOptionAnalistaFin= @Html.Raw(Json.Encode(ViewBag.vbOptionAnalistaFin));</script>
    <script>var jsonOptionCoordinadorFin= @Html.Raw(Json.Encode(ViewBag.vbOptionCoordinadorFin));</script>
    <script>var jsonOptionPreVenta= @Html.Raw(Json.Encode(ViewBag.vbOptionPreVenta));</script>
    <script>var jsonListEstado= @Html.Raw(Json.Encode(ViewBag.VbListEstado));</script>
    <script>var jsonAccionGrabar= @Html.Raw(Json.Encode(ViewBag.VbAccionGrabar));</script>
}