﻿<div id="idOportunidadContenedorController" ng-app="app.Oportunidad" ng-controller="OportunidadContenedorController as vm">
    <div id="frmOportunidadContenedor">

        <div class="row">
            <section class="panel">
                <header class="panel-heading">
                    Detalle Oportunidad
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="col-md-2 control-label">Linea de Negocio<span class="text-danger">*</span></label>
                                <div class="col-md-2">
                                    <select id="CmbLineaNegocio" class="form-control"
                                            ng-model="vm.IdLineaNegocio"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListLineaNegocio" ng-cloak
                                            ng-change="vm.ListarCasoNegocio();"></select>

                                </div>
                                <label class="col-md-2 control-label">Caso de Negocio</label>
                                <div class="col-md-2">
                                    <select id="CmbCasoNegocio" class="form-control"
                                            ng-model="vm.IdCaso"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.ListCasoNegocio"></select>

                                </div>
                                <div class="col-md-4 text-right">
                                    <a class="btn btn-primary btn-sm" ng-click="vm.CargarCasoNegocio()"> Registrar</a>
                                    <a class="btn btn-primary btn-sm" ng-click="vm.CargarCasoNegocio()"> Servicios</a>
                                    <a class="btn btn-sm btn-primary " ng-click="vm.EliminarCasoNegocio(0,0,6);"><i class="fa fa-trash-o" title="Eliminar Caso Negocio"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="">
                    <ul class="nav nav-tabs navtab-bg">
                        <li id="caratulaTab" class="active">
                            <a href="#caratula" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="mdi mdi-application "></i></span>
                                <span class="hidden-xs">Caratula</span>
                            </a>
                        </li>
                        <li id="ecapexTab">
                            <a href="#ecapex" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="mdi mdi-application "></i></span>
                                <span class="hidden-xs">ECapex</span>
                            </a>
                        </li>
                        <li id="contableTab" class="">
                            <a href="#contable" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="mdi mdi-server"></i></span>
                                <span class="hidden-xs">FC. Contable</span>
                            </a>
                        </li>
                        <li id="financieroTab" class="">
                            <a href="#financiero" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="mdi mdi-server"></i></span>
                                <span class="hidden-xs">FC. Financiero</span>
                            </a>
                        </li>
                        <li id="indicadoresTab" class="">
                            <a href="#indicadores" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="mdi mdi-view-module"></i></span>
                                <span class="hidden-xs">Indicadores</span>
                            </a>
                        </li>
                        <li id="documentosTab" class="">
                            <a href="#documentos" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="mdi mdi-view-module"></i></span>
                                <span class="hidden-xs">Documentos</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="caratula">

                            <div class="content-page">
                                @Html.Action("Index", "Caratula", new { area = "Oportunidad" })
                            </div>
                        </div>
                        <div class="tab-pane" id="ecapex">
                            <div class="content-page">
                                @Html.Action("Index", "ECapex", new { area = "Oportunidad" })
                            </div>
                        </div>
                        <div class="tab-pane" id="contable">
                            <div class="content-page">

                            </div>
                        </div>
                        <div class="tab-pane" id="financiero">
                            <div class="content-page">

                            </div>
                        </div>
                        <div class="tab-pane" id="indicadores">
                            <div class="content-page">

                            </div>
                        </div>
                        <div class="tab-pane" id="documentos">
                            <div class="content-page">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>