﻿<div id="IdGabineteController" ng-app="app.Oportunidad" ng-controller="GabineteController as vm">
    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_Gabinete" class="alert-edit"></div>
    </div>
    
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Equipo<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtEquipoGabinete" class="tb form-control" onkeypress="ConceptoComplete(this,13);" autocomplete="off"  ng-model="vm.Equipo"  />
                </div>
                <label class="col-md-2 control-label">Cruce</label>
                <div class="col-md-4">
                    <input id="txtCruceGabinete" class="form-control" autocomplete="off" ng-model="vm.Cruce" />
                </div>

            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">A.E. Reducido</label>
                <div class="col-md-4">
                    <input id="txtAEReducidoGabinete" class="form-control" autocomplete="off"  ng-model="vm.AEReducido"  />
                </div>
                <label class="col-md-2 control-label">Marca</label>
                <div class="col-md-4">
                    <input id="txtMarcaGabinete" class="form-control" autocomplete="off"  ng-model="vm.Marca"  />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Modelo</label>
                <div class="col-md-4">
                    <input id="txtModeloGabinete" class="form-control" autocomplete="off" ng-model="vm.Modelo" />
                </div>
                <label class="col-md-2 control-label">Antigüedad (meses)</label>
                <div class="col-md-4">
                    <input id="txtAntiguedadGabinete" class="form-control" autocomplete="off" ng-keydown="vm.CantidadGabineteComplete();" ng-model="vm.MesesAntiguedad" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidadGabinete" type="text" class="form-control" ng-keydown="vm.CantidadGabineteComplete();" ng-model="vm.Cantidad" />
                </div>
                <label class="col-md-2 control-label">C.U. Antiguo (USD)</label>
                <div class="col-md-4">
                    <input id="txtCUAntiguoGabinete" class="form-control" autocomplete="off" disabled="disabled" ng-model="vm.CostoUnitarioAntiguo"  />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Valor Residual (USD)</label>
                <div class="col-md-4">
                    <input id="txtValorResidualGabinete" type="text" class="form-control" disabled="disabled" ng-model="vm.ValorResidualSoles"  />
                </div>
                <label class="col-md-2 control-label">C.U. Nuevo (USD)</label>
                <div class="col-md-4">
                    <input id="txtCostoUnitarioGabinete" class="form-control" autocomplete="off" ng-keydown="vm.CantidadGabineteComplete();"  ng-model="vm.CostoUnitario" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Capex (USD)</label>
                <div class="col-md-4">
                    <input id="txtCapexDolaresGabinete" type="text" class="form-control" disabled="disabled"  ng-model="vm.CapexDolares"/>
                </div>
                <label class="col-md-2 control-label">Capex Total (S/.)</label>
                <div class="col-md-4">
                    <input id="txtCapexSolesGabinete" class="form-control" autocomplete="off" disabled="disabled"  ng-model="vm.CapexSoles" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Total Capex</label>
                <div class="col-md-4">
                    <input id="txtTotalCapexGabinete" type="text" class="form-control" disabled="disabled" ng-model="vm.TotalCapex" />
                </div>
                <label class="col-md-2 control-label">Mes de RQ (Mes-Año)</label>
                <div class="col-md-4">
                    <input id="txtMesRecuperoGabinete" class="form-control" autocomplete="off"  ng-model="vm.MesRecupero"/>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes de Comprometido</label>
                <div class="col-md-4">
                    <input id="txtMesComprometidoGabinete" type="text" class="form-control" ng-model="vm.MesComprometido"/>
                </div>
                <label class="col-md-2 control-label">Mes Certificado</label>
                <div class="col-md-4">
                    <input id="txtCertificadoGabinete" class="form-control" autocomplete="off"  ng-model="vm.MesCertificado"/>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-custom btn-sm" id="btnGabinete" type="button" ng-click="vm.GrabarConceptoGabinetes()">Grabar</button>
                </div>
            </div>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>

</div>

@section scripts{

    @Scripts.Render("~/bundles/app/oportunidad/gabinete/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");
}