﻿
<div id="idCaratulaController" ng-app="app.Oportunidad" ng-controller="CaratulaController as vm">
    <br />
    <section id="SectionServicioCMI" class="panel">
        <header id="headingServicioCMI" class="panel-heading">
            Servicio Cmi
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div id="ContentServicioCMI" class="panel-body">
            <section id="flip-scroll">
                <table id="tbServicioCMI" datatable="" dt-options="vm.dtOptionsServicioCMI" dt-columns="vm.dtColumnsServicioCMI"
                       class="table table-bordered table-striped table-condensed cf"
                       dt-instance="vm.dtInstanceServicioCMI" style="width:100%;">
                    <thead class="cf">
                </table>
            </section>
        </div>
    </section>
    <section id="SectionCircuitos" class="panel">
        <header id="headingCircuitos" class="panel-heading">
            Circuitos
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div id="collapseCircuitos" class="panel-body">
            <section id="flip-scroll">
                <table id="tbCircuitos" datatable="" dt-options="vm.dtOptionsCircuitos" dt-columns="vm.dtColumnsCircuitos"
                       class="table table-bordered table-striped table-condensed cf"
                       dt-instance="vm.dtInstanceCircuitos" style="width:100%;">
                    <thead class="cf">
                </table>
            </section>
        </div>
    </section>

    <section id="SectionMedio3G" class="panel">
        <header id="headingMedio3G" class="panel-heading">
            Medio3G
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div id="collapseMedio3G" class="panel-body">
            <section id="flip-scroll">
                <table id="tbMedio3G" datatable="" dt-options="vm.dtOptionsMedio3G" dt-columns="vm.dtColumnsMedio3G"
                       class="table table-bordered table-striped table-condensed cf"
                       dt-instance="vm.dtInstanceMedio3G" style="width:100%;">
                    <thead class="cf">
                </table>
            </section>
        </div>
    </section>

    <section id="SectionOpex" class="panel">
        <header id="headingOpex" class="panel-heading">
            Opex
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div id="collapseOpex" class="panel-body">
            <section id="flip-scroll">
                <table id="tbOpex" datatable="" dt-options="vm.dtOptionsOpex" dt-columns="vm.dtColumnsOpex"
                       class="table table-bordered table-striped table-condensed cf"
                       dt-instance="vm.dtInstanceOpex" style="width:100%;">
                    <thead class="cf">
                </table>
            </section>
        </div>
    </section>

    <section id="SectionRouter" class="panel">
        <header id="headingRouter" class="panel-heading">
            Router Sonda
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-cog"></a>
                <a href="javascript:;" class="fa fa-times"></a>
            </span>
        </header>
        <div id="collapseRouter" class="panel-body">
            <section id="flip-scroll">
                <table id="tbRouterSonda" datatable="" dt-options="vm.dtOptionsRouterSonda" dt-columns="vm.dtColumnsRouterSonda"
                       class="table table-bordered table-striped table-condensed cf"
                       dt-instance="vm.dtInstanceRouterSonda" style="width:100%;">
                    <thead class="cf">
                </table>
            </section>
        </div>
    </section>

    <section id="SectionSeguridadOpex" class="panel">
        <header id="headingSeguridadOpex" class="panel-heading">
            Seguridad Opex
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-cog"></a>
                <a href="javascript:;" class="fa fa-times"></a>
            </span>
        </header>
        <div id="collapseSeguridadOpex" class="panel-body">
            <section id="flip-scroll">
                <table id="tbSeguridadOpex" datatable="" dt-options="vm.dtOptionsSeguridadOpex" dt-columns="vm.dtColumnsSeguridadOpex"
                       class="table table-bordered table-striped table-condensed cf"
                       dt-instance="vm.dtInstanceSeguridadOpex" style="width:100%;">

                    <thead class="cf">
                </table>
            </section>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="ModalGenerico" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content modal-contentTgestiona">
                <div class="modal-header modalheaderTgestiona">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ vm.tituloModal }}</h4>

                </div>
                <div id="ContenidoModal" class="modal-body">

                </div>
            </div>
        </div>
    </div>


</div>
