﻿@{
    Layout = "~/Views/Shared/_Login.cshtml";
}


<div class="ajustepantalla ng-scope" ng-app="app.Seguridad" ng-controller="LoginController as vmc">

    <div class="form-body">
        <div class="website-logo animated  zoomIn">
            <a href="#">
                <div class="logo">
                    <img class="logo-size" src="~/Content/login/images/company_logo.png" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder  animated  zoomIn">
                <div class="bg"></div>
                <div class="info-holder">

                </div>
            </div>
            <div class="form-holder  animated  fadeInRight">
                <div class="form-content">
                    <div class="form-items">
                        <h4 class="header-title m-t-0" style="color: #fff;">Sistema de la Dirección de Ingeniería y Operaciones </h4>
                        @*<h3>Bienvenido</h3>*@
                       @* <p>Ingrese Usuario y Contraseña</p>*@
                        <div class="page-links">

                        </div>
                        <form class="login-form pull-right ng-valid ng-valid-maxlength ng-dirty ng-valid-parse">
                            <input class="form-control" ng-valid ng-valid-maxlength ng-dirty ng-valid-parse ng-touched" autocomplete="off" ng-model="vmc.TxtUsuario" ng-blur="vmc.CompletarCip()" maxlength="30" placeholder="Ingrese su usuario">

                            <input type="password" autocomplete="off" ng-model="vmc.TxtClave" ng-keydown="$event.keyCode === 13 && vmc.Login()" class="form-control" placeholder="Ingrese su contraseña">

                            <div class="form-button">

                                <button type="submit" ng-click="vmc.Login()" class="btn btn-primary" style="    background-color: #003245;" >Ingresar</button>
                                <br />
                                <p style="margin-top:15px;">
                                    @Html.ActionLink("Recuperar contraseña", "Index", "OlvidoClave", new { Area = "Seguridad" }, new { @class = "text-muted" })
                                    <br /><br />
                                    @Html.ActionLink("Cambio de contraseña", "Index", "CambioClave", new { Area = "Seguridad" }, new { @class = "text-muted" })
                                </p>
                            </div>
                        </form>
                        <div class="other-links">
                            <p>Derechos Reservados Telefonica 2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    @Scripts.Render("~/bundles/app/seguridad/login/js")

}