﻿
<div id="idECapexController" ng-app="app.Oportunidad" ng-controller="ECapexController as vm">

    <br />
    <section class="panel">
        <header class="panel-heading">
            Estudios Especiales
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbEstudiosEspeciales" datatable="" dt-options="vm.dtOptionsEstudiosEspeciales" dt-columns="vm.dtColumnsEstudiosEspeciales"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vm.dtInstanceEstudiosEspeciales" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading">
            Equipos Especiales
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbEquiposEE" datatable="" dt-options="vm.dtOptionsEquiposEspeciales" dt-columns="vm.dtColumnsEquiposEspeciales"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vm.dtInstanceEquiposEspeciales" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading">
            Routers
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbRouter" datatable="" dt-options="vm.dtOptionsRouter" dt-columns="vm.dtColumnsRouter"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vm.dtInstanceRouter" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading">
            Modems
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-cog"></a>
                <a href="javascript:;" class="fa fa-times"></a>
            </span>
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbModems" datatable="" dt-options="vm.dtOptionsModems" dt-columns="vm.dtColumnsModems"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vm.dtInstanceModems" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>
    <section class="panel">
        <header class="panel-heading">
            Equipos de Seguridad
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbESeguridad" datatable="" dt-options="vm.dtOptionsESeguridad" dt-columns="vm.dtColumnsESeguridad"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vm.dtInstanceESeguridad" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>
    <section class="panel">
        <header class="panel-heading">
            Hardware
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbHardware" datatable="" dt-options="vm.dtOptionsHardware" dt-columns="vm.dtColumnsHardware"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vm.dtInstanceHardware" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>
    <section class="panel">
        <header class="panel-heading">
            Software
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbSoftware" datatable="" dt-options="vm.dtOptionsSoftware" dt-columns="vm.dtColumnsSoftware"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vm.dtInstanceSoftware" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading">
            Gabinetes
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbGabinetes" datatable="" dt-options="vm.dtOptionsGabinetes" dt-columns="vm.dtColumnsGabinetes"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vm.dtInstanceGabinetes" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>


    <section class="panel">
        <header class="panel-heading">
            3.5 Ghz
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbGhz" datatable="" dt-options="vm.dtOptionsGhz" dt-columns="vm.dtColumnsGhz"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vm.dtInstanceGhz" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>


    <section class="panel">
        <header class="panel-heading">
            SolarWind
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbSolarWind" datatable="" dt-options="vm.dtOptionsSolarWind" dt-columns="vm.dtColumnsSolarWind"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vm.dtInstanceSolarWind" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading">
            Smart Vpn
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbSmartVPN" datatable="" dt-options="vm.dtOptionsSmartVPN" dt-columns="vm.dtColumnsSmartVPN"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vm.dtInstanceSmartVPN" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading">
            Satelitales
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <section id="flip-scroll">
                <div class="table-responsive">
                    <table id="tbSatelitales" datatable="" dt-options="vm.dtOptionsSatelitales" dt-columns="vm.dtColumnsSatelitales"
                           class="table table-bordered table-striped table-condensed cf"
                           dt-instance="vm.dtInstanceSatelitales" style="width:100%;">
                        <thead class="cf">
                    </table>
                </div>
            </section>
        </div>
    </section>

    <div id="frmECapex" class="container">
        <!--Modal - ESTUDIOS ESPECIALES -->
        <div class="modal fade" id="ModalEstudiosEspeciales" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Estudios Especiales</h4>

                    </div>
                    <div id="ContenidoEstudiosEspeciales" class="modal-body">

                    </div>
                </div>
            </div>
        </div>

        <!--Modal - EQUIPOS ESTUDIOS ESPECIALES -->
        <div class="modal fade" id="ModalEquiposEspeciales" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Equipos Estudios Especiales</h4>

                    </div>
                    <div id="ContenidoEquiposEspeciales" class="modal-body modal-bodyTgestiona">

                    </div>
                </div>
            </div>
        </div>

        <!--Modal - ROUTERS -->
        <div class="modal fade" id="ModalRouter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Routers</h4>

                    </div>
                    <div id="ContenidoRouter" class="modal-body modal-bodyTgestiona">

                    </div>
                </div>
            </div>
        </div>

        <!--Modal - MODEMS -->
        <div class="modal fade" id="ModalModems" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modems</h4>

                    </div>
                    <div id="ContenidoModems" class="modal-body modal-bodyTgestiona">

                    </div>
                </div>
            </div>
        </div>

        <!--Modal - EQUIPOS DE SEGURIDAD -->
        <div class="modal fade" id="ModalEquipoSeguridad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Equipos Seguridad</h4>

                    </div>
                    <div id="ContenidoEquipoSeguridad" class="modal-body modal-bodyTgestiona">

                    </div>
                </div>
            </div>
        </div>

        <!--Modal - HARDWARE -->
        <div class="modal fade" id="ModalHardware" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Hardware</h4>

                    </div>
                    <div id="ContenidoHardware" class="modal-body modal-bodyTgestiona">

                    </div>
                </div>
            </div>
        </div>

        <!--Modal - SOFTWARE -->
        <div class="modal fade" id="ModalSoftware" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Software</h4>

                    </div>
                    <div id="ContenidoSoftware" class="modal-body modal-bodyTgestiona">

                    </div>
                </div>
            </div>
        </div>

        <!--Modal - GABINETES -->
        <div class="modal fade" id="ModalGabinete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Gabinete</h4>

                    </div>
                    <div id="ContenidoGabinete" class="modal-body modal-bodyTgestiona">

                    </div>
                </div>
            </div>
        </div>

        <!--Modal - 3.5 Ghz -->
        <div class="modal fade" id="ModalGhz" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">3.5 Ghz</h4>

                    </div>
                    <div id="ContenidoGhz" class="modal-body modal-bodyTgestiona">

                    </div>
                </div>
            </div>
        </div>

        <!--Modal - SolarWind -->
        <div class="modal fade" id="ModalSolarWind" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">SolarWind</h4>

                    </div>
                    <div id="ContenidoSolarWind" class="modal-body modal-bodyTgestiona">

                    </div>
                </div>
            </div>
        </div>

        <!--Modal - SMART VPN -->
        <div class="modal fade" id="ModalSmart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Smart Vpn</h4>
                    </div>
                    <div id="ContenidoSmart" class="modal-body modal-bodyTgestiona">

                    </div>
                </div>
            </div>
        </div>

        <!--Modal - SATELITALES -->
        <div class="modal fade" id="ModalSatelitales" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content modal-contentTgestiona">
                    <div class="modal-header modalheaderTgestiona">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Satelitales</h4>
                    </div>
                    <div id="ContenidoSatelitales" class="modal-body modal-bodyTgestiona">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/app/comun/concepto/js")
    @Scripts.Render("~/bundles/app/oportunidad/ecapex/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");

}

