﻿<div id="IdRegistrarSubServicioController" ng-controller="RegistrarSubServicio as vm">
    <br />  
    <div class="row">
        <div id="divAlert_Registrar" class="alert-edit col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <label class="control-label col-md-2">Descripción:</label>
                <div class="col-md-4">
                    <input id="id" class="form-control" ng-model="vm.DescripcionNuevo" placeholder="Ingrese Descripción" autocomplete="off" ng-cloak>
                </div>

                <label class="control-label col-md-2">Tipo servicio:</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdtipoServicio"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoServicio" ng-cloak></select>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <label class="control-label col-md-2">Costo instalación:</label>
                <div class="col-md-4">
                    <input id="id" class="form-control" ng-model="vm.CostoInstalacion" placeholder="Costo instalación" ng-change="vm.costo()" autocomplete="off" ng-cloak>
                </div>

                <label class="control-label col-md-2"> Depreciación:</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdDepreciacion"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListDepreciacion" ng-cloak></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">

                <div class="modal-footer">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarSubServicio()"> Grabar</a>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script>

    </script>
    <script src="~/Scripts/app/Comun/Comun.module.js"></script>
    @Scripts.Render("~/bundles/app/comun/RegistrarSubServicio/js")
}
