﻿@using System.Web.Mvc.Html

<div id="IdCircuitoController" ng-app="app.Oportunidad" ng-controller="CircuitoController as vm">
    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_Circuito" class="alert-edit"></div>
    </div>

    <div class="col-12 tgestiona_filter">
        <div id="accordion">
            <div class="panel">
                <div class="panel-header panel-header-tgestiona" id="headingCircuitos">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="mb-0 cabfiltros">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCircuitos" aria-expanded="true" aria-controls="collapseCircuitos">
                                    <i class="fa"></i> Datos Generales
                                </button>
                            </h5>
                        </div>
                    </div>
                </div>
                <div id="collapseCircuitos" class="panel-collapse collapse in" data-parent="#accordion" aria-expanded="true" style="" aria-labelledby="headingCircuitos">
                    <div class="panel-body panel-body-filters">
                        <form>

                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label">Servicio<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input id="txtServicio" ng-model="vm.servicio" class="tb form-control" autocomplete="off" />
                                    </div>
                                    <label class="col-md-2 control-label">N° Circuito</label>
                                    <div class="col-md-4">
                                        <input id="txtNumeroCircuito" ng-model="vm.circuito" class="form-control" autocomplete="off" />
                                    </div>

                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label">Medio</label>
                                    <div class="col-md-4">
                                        <select id="" class="form-control"
                                                ng-model="vm.IdMedio"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListMedio" ng-cloak></select>
                                    </div>
                                    <label class="col-md-2 control-label">Tipo de Enlace</label>
                                    <div class="col-md-4">
                                        <select id="" class="form-control"
                                                ng-model="vm.IdTipoEnlace"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoEnlace" ng-cloak></select>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label">Activo / Pasivo</label>
                                    <div class="col-md-4">
                                        <select id="" class="form-control"
                                                ng-model="vm.IdEstado"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListEstado" ng-cloak></select>
                                    </div>
                                    <label class="col-md-2 control-label">Localidad</label>
                                    <div class="col-md-4">
                                        <select id="" class="form-control"
                                                ng-model="vm.IdLocalidad"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListLocalidad" ng-cloak></select>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label">Cantidad</label>
                                    <div class="col-md-4">
                                        <input id="txtCantidad" ng-model="vm.cantidad" type="text" class="form-control" autocomplete="off" />
                                    </div>
                                    <label class="col-md-2 control-label">BW</label>
                                    <div class="col-md-4">
                                        <input id="txtBW" ng-model="vm.BW" class="form-control" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="text-right">
                                        <button class="btn btn-custom btn-sm" id="btnCircuito" type="button" ng-click="vm.GrabarCircuito()">{{vm.idCircuito>0?"Guardar":"Registrar"}}</button>
                                        <button class="btn btn-warning btn-sm" id="btnCancelar" type="button" ng-click="vm.CerrarModal()">Cancelar</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 tgestiona_filter">
        <div id="accordion">
            <div class="panel">
                <div class="panel-header panel-header-tgestiona" id="headingFlujoCaja">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="mb-0 cabfiltros">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFlujoCaja" aria-expanded="true" aria-controls="collapseFlujoCaja">
                                    <i class="fa"></i> Flujo Caja
                                </button>
                            </h5>
                        </div>
                    </div>
                </div>
                <div id="collapseFlujoCaja" class="panel-collapse collapse in" data-parent="#accordion" aria-expanded="true" style="" aria-labelledby="headingFlujoCaja">
                    <div class="panel-body panel-body-filters">
                        <form>
                            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{

    @Scripts.Render("~/bundles/app/oportunidad/Circuitos/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");

}