﻿@model Tgs.SDIO.Web.Models.Error

@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Error en la aplicación";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body ng-app="app.Seguridad">

</body>
</html>

@section scripts{
    @Scripts.Render("~/bundles/app/seguridad/login/js")

}

