﻿@using Tgs.SDIO.Web.Utilitarios

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDIO</title>


    @Styles.Render("~/bundles/bootstrap/Master/css")

    @Scripts.Render("~/bundles/jquery/js")

    @Scripts.Render("~/bundles/angular/js")
    @Styles.Render("~/bundles/Assets/css")

</head>
<body>
    <input name="__RequestVerificationToken" type="hidden" value='@Tgs.SDIO.Web.Utilitarios.CustomAntiForgeryToken.GetAntiForgeryToken()'>


    @*Bienvenido: @SessionFacade.Usuario.FirstName*@

    <section id="container">
        <!--header start-->
        <header class="header fixed-top clearfix">
            <!--logo start-->
            <!--logo start-->
            <div class="brand">

                <a href="javascript:;" class="logo">
                    <img src="~/Content/image/logo.png" style="width:150px;" alt="">
                </a>
            
            </div>
            <!--logo end-->

            <div class="top-nav clearfix">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">

                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle icon-user" href="#">
                            <!--<img alt="" src="images/avatar1_small.jpg">-->
                            <i class="fa fa-user"></i>
                            <span class="username">@SessionFacade.Usuario.FirstName</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <li><a href="@Url.Action("Index", "Principal",new {area = ""})"><i class=" fa fa-suitcase"></i>Datos de Usuario</a></li>
                            @* <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>*@

                            <li><a href="@Url.Action("CerrarSesion", "Login",new {area = "Seguridad"})"><i class="fa fa-key"></i> Salir</a></li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->

                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar end-->
        <!--main content start-->
        <section >
            <section class="wrapper">
                <div class="row">
                   
                    <div class="col-md-12">
                        <!-- page start-->
                        @RenderBody()
                        <!-- page end-->
                    </div>
                </div>
            </section>
        </section>


        <!--main content end-->
        <!--right sidebar start-->
        <div class="right-sidebar">

            <div class="right-stat-bar">
                <ul class="right-side-accordion">
                    <li class="widget-collapsible">
                        <a href="#" class="head widget-head red-bg active clearfix">
                            <span class="pull-left">work progress (5)</span>
                            <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
                        </a>
                        <ul class="widget-container">
                            <li>
                                <div class="prog-row side-mini-stat clearfix">
                                    <div class="side-graph-info">
                                        <h4>Target sell</h4>
                                        <p>
                                            25%, Deadline 12 june 13
                                        </p>
                                    </div>
                                    <div class="side-mini-graph">
                                        <div class="target-sell">
                                        </div>
                                    </div>
                                </div>
                                <div class="prog-row side-mini-stat">
                                    <div class="side-graph-info">
                                        <h4>product delivery</h4>
                                        <p>
                                            55%, Deadline 12 june 13
                                        </p>
                                    </div>
                                    <div class="side-mini-graph">
                                        <div class="p-delivery">
                                            <div class="sparkline" data-type="bar" data-resize="true" data-height="30" data-width="90%" data-bar-color="#39b7ab" data-bar-width="5" data-data="[200,135,667,333,526,996,564,123,890,564,455]">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="prog-row side-mini-stat">
                                    <div class="side-graph-info payment-info">
                                        <h4>payment collection</h4>
                                        <p>
                                            25%, Deadline 12 june 13
                                        </p>
                                    </div>
                                    <div class="side-mini-graph">
                                        <div class="p-collection">
                                            <span class="pc-epie-chart" data-percent="45">
                                                <span class="percent"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="prog-row side-mini-stat">
                                    <div class="side-graph-info">
                                        <h4>delivery pending</h4>
                                        <p>
                                            44%, Deadline 12 june 13
                                        </p>
                                    </div>
                                    <div class="side-mini-graph">
                                        <div class="d-pending">
                                        </div>
                                    </div>
                                </div>
                                <div class="prog-row side-mini-stat">
                                    <div class="col-md-12">
                                        <h4>total progress</h4>
                                        <p>
                                            50%, Deadline 12 june 13
                                        </p>
                                        <div class="progress progress-xs mtop10">
                                            <div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                                                <span class="sr-only">50% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <!--right sidebar end-->

    </section>

    <!--Core js-->
    <!--Core js-->

    
    <!--Core js-->
    @Scripts.Render("~/bundles/bootstrap/layout/js")
    @Scripts.Render("~/bundles/Assets/js")
    @Scripts.Render("~/bundles/app/base/js")
    @RenderSection("scripts", required: false)
</body>
</html>


<script type="text/javascript">
    var siteFullUrl = '@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))';
</script>
