﻿<!DOCTYPE html>
<html lang="es" >

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="Coderthemes" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>SDIO</title>
   
    @Styles.Render("~/bundles/login/css")
    @Scripts.Render("~/bundles/login/js")
</head>

<body ng-app="app.Seguridad" block-ui="main" >


 
<input name="__RequestVerificationToken" type="hidden" value='@Tgs.SDIO.Web.Utilitarios.CustomAntiForgeryToken.GetAntiForgeryToken()'>
    @RenderBody()


  

 @Scripts.Render("~/bundles/angular/js")
@Scripts.Render("~/bundles/Assets/js")
@Scripts.Render("~/bundles/app/base/js")
@RenderSection("scripts", required: false)
</body>

</html>
