﻿@model List<Tgs.SDIO.DataContracts.Dto.Response.Seguridad.OpcionMenuResponse>

<div id="sidebar" class="nav-collapse">
    <!-- sidebar menu start-->
    <div class="leftside-navigation">

        @foreach (var menu in Model)
            {
            <ul class="sidebar-menu" id="nav-accordion">
              @if (menu.OpcionMenuDto.IdOpcion == "15")
              {
             
                <li>
                    <a  href="@Url.Action("DashboardFunnel", "Principal", new {area = ""})">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
              }
                @if (menu.OpcionMenuDto.IdOpcion == "27")
                {
                    <li>
                        <a href="@Url.Action("Oferta", "Principal", new {area = ""})">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                }

                @foreach (var submenu in menu.OpcionMenuDtoLista)
                {
                    <li class="sub-menu">
                        <a href="javascript:;">
                           
                            <i class= "@submenu.UrlPagina"></i>
                            @submenu.NombreOpcion<span class="menu-arrow"></span>
                        </a>
                        @if (submenu.OpcionSubMenuDto.Count > 0)
                        {
                            <ul class="sub">
                                @foreach (var opcionInterna in submenu.OpcionSubMenuDto)
                                {
                                    <li><a href="@Url.Content("~/" + opcionInterna.UrlPagina)">@opcionInterna.NombreOpcion </a></li>

                                }
                            </ul>
                        }
                        else
                        {   <ul class="sub">
                            <li><a href="@Url.Content("~/" + submenu.UrlPagina)">@submenu.NombreOpcion </a></li>
                        </ul>
                        }
                    </li>
                }

                <li>
                    <a href="@Url.Action("CerrarSesion", "Login", new {area = "Seguridad"})"><i class="fi-air-play"></i> <span> Salir </span> </a>
                </li>
            </ul>
        }

    </div>
    <!-- sidebar menu end-->
</div>
