﻿
@{
    ViewBag.Title = "Modulo";
    Layout = "~/Views/Shared/_Layout_Modulo.cshtml";
}
@model List<Tgs.SDIO.DataContracts.Dto.Response.Seguridad.OpcionMenuResponse>
<div class="container">
    <h1 style="    text-align: center;
    color: #0d99aa;
    padding: 10px;
    border-bottom: 5px solid #0d99aa;">Seleccione el Módulo para Ingresar</h1>
    <br />
    <div class="row">
        @foreach (var menu in Model)
        {
            <div class="col-sm-4 col-md-3">
                @if (menu.OpcionMenuDto.IdOpcion=="15")
                {
                 
                        <a href="@Url.Content("~/Principal/dashboardFunnel/" + menu.OpcionMenuDto.IdOpcion)">


                            <div class="feed-box text-center">
                                <section class="panel">
                                    <div class="panel-body">
                                        <div class="corner-ribon blue-ribon">

                                        </div>

                                        <img alt="" src="@Url.Content("~/Content/plantilla/images/modulo/"+ menu.OpcionMenuDto.IdOpcion+".png")" title="">

                                        <h1>@menu.OpcionMenuDto.NombreOpcion</h1>
                                        <p></p>
                                    </div>
                                </section>
                            </div>
                        </a>
                    }
                @if (menu.OpcionMenuDto.IdOpcion == "27")
                {

                    <a href="@Url.Content("~/Principal/Index/" + menu.OpcionMenuDto.IdOpcion)">


                        <div class="feed-box text-center">
                            <section class="panel">
                                <div class="panel-body">
                                    <div class="corner-ribon blue-ribon">

                                    </div>

                                    <img alt="" src="@Url.Content("~/Content/plantilla/images/modulo/"+ menu.OpcionMenuDto.IdOpcion+".png")" title="">

                                    <h1>@menu.OpcionMenuDto.NombreOpcion</h1>
                                    <p></p>
                                </div>
                            </section>
                        </div>
                    </a>
                }
                @if (menu.OpcionMenuDto.IdOpcion == "57")
                {

                    <a href="@Url.Content("~/Principal/Index/" + menu.OpcionMenuDto.IdOpcion)">


                        <div class="feed-box text-center">
                            <section class="panel">
                                <div class="panel-body">
                                    <div class="corner-ribon blue-ribon">

                                    </div>

                                    <img alt="" src="@Url.Content("~/Content/plantilla/images/modulo/"+ menu.OpcionMenuDto.IdOpcion+".png")" title="">

                                    <h1>@menu.OpcionMenuDto.NombreOpcion</h1>
                                    <p></p>
                                </div>
                            </section>
                        </div>
                    </a>
                }
                @if (menu.OpcionMenuDto.IdOpcion == "86")
                {

                    <a href="@Url.Content("~/Principal/DashboardCartaFianza/" + menu.OpcionMenuDto.IdOpcion)">


                        <div class="feed-box text-center">
                            <section class="panel">
                                <div class="panel-body">
                                    <div class="corner-ribon blue-ribon">

                                    </div>

                                    <img alt="" src="@Url.Content("~/Content/plantilla/images/modulo/"+ menu.OpcionMenuDto.IdOpcion+".png")" title="">

                                    <h1>@menu.OpcionMenuDto.NombreOpcion</h1>
                                    <p></p>
                                </div>
                            </section>
                        </div>
                    </a>
                }
                @if (menu.OpcionMenuDto.IdOpcion == "30")
                {

                    <a href="@Url.Content("~/Principal/DashboardTrazabilidad/" + menu.OpcionMenuDto.IdOpcion)">


                        <div class="feed-box text-center">
                            <section class="panel">
                                <div class="panel-body">
                                    <div class="corner-ribon blue-ribon">

                                    </div>

                                    <img alt="" src="@Url.Content("~/Content/plantilla/images/modulo/"+ menu.OpcionMenuDto.IdOpcion+".png")" title="">

                                    <h1>@menu.OpcionMenuDto.NombreOpcion</h1>
                                    <p></p>
                                </div>
                            </section>
                        </div>
                    </a>
                }
            </div>
        }
    </div>
</div>
