﻿@model Int32
@if (Model > 1)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="">
            @Html.ActionLink("Cambiar Perfil", "PerfilUsuario", "Login", new { Area = "Seguridad" }, new { @class = "dropdown-toggle info-number", @id = "perfil-cambio", @style = "color:#ffffff !important;text-align:center" })
        </li>
    </ul>
}


