﻿@using Tgs.SDIO.Util.Web.Funnel
@using Scripts = System.Web.Optimization.Scripts

@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_ReportMadurez;
    Layout = "~/Areas/Funnel/Views/Shared/_LayoutFunnel.cshtml";
}


<div class="row" style="margin-top:0px;" ng-app="app.Funnel" ng-controller="ReportMadurezController as vm">
    <div id="divAlert"> </div>
    <!-- Breadcrumbs-->
    @*<ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">FUNNEL</a>
        </li>
        <li class="breadcrumb-item active">@Titulos.Titulo_ReportMadurez</li>
    </ol>*@
    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    Filtros
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="messages"></div>
                    <div class="controls">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@Cadenas.RptPrincipalAnio</label>
                                    <div class="col-md-8">
                                        <selectoranios id="idAnio"></selectoranios>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@Cadenas.RptPrincipalMes</label>
                                    <div class="col-md-8">
                                        <selectormeses id="idMeses"></selectormeses>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@Cadenas.RptMadurezLineaNegocio</label>
                                    <div class="col-md-8" ng-init="vm.ListarLineaNegocio();">
                                        <select id="" class="form-control"
                                                ng-model="vm.IdLineaNegocio"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListLineaNegocio" ng-cloak></select>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@Cadenas.RptMadurezSector</label>
                                    <div class="col-md-8" ng-init="vm.ListarSector();">
                                        <select id="" class="form-control"
                                                ng-model="vm.IdSector"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListSector" ng-cloak></select>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@Cadenas.RptMadurezProbabilidad</label>
                                    <div class="col-md-8" ng-init="vm.ListarProbabilidades();">
                                        <select id="" class="form-control"
                                                ng-model="vm.IdProbabilidad"
                                                ng-options="item.ProbabilidadExito as item.Descripcion for item in vm.ListProbabilidades" ng-cloak></select>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@Cadenas.RptMadurezEtapa</label>
                                    <div class="col-md-8" ng-init="vm.ListarEtapa();">
                                        <select id="" class="form-control"
                                                ng-model="vm.IdEtapa"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListEtapa" ng-cloak></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 text-right">
                            
                            <button class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.ConsultarReporte()">Filtrar</button>
                            <button class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarModelo()">Limpiar</button>
                            <button class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.ExportarReporte()">Exportar</button>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <section class="panel">
                <header class="panel-heading">
                    Reporte
                </header>
                <div class="panel-body">
                    <div class="card-body">
                        <iframe id="FReporte" height="900" class="iframe-style"></iframe>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/app/funnel/reporteMadurez/js") 
}
