﻿<div id="IdRegistrarDatosPreventaMovilController" ng-controller="RegistrarDatosPreventaMovil as vm">
    <br />
    <div class="row">
        <div id="divAlert_Registrar" class="alert-edit col-md-12"></div>
    </div>
    <section class="panel">
        <header class="panel-heading">
            <i class="fa fa-chevron-circle-down"> </i>
            Detalle de la Oportunidad
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <div id="divAlert_Eliminar" class="alert-edit col-lg-12"></div>
            <div class="messages"></div>
            <div class="controls">
                <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label col-md-5">ID Oportunidad:</label>
                <div class="col-md-7">
                    <input id="IdOportunidadSF" class="form-control" ng-model="vm.IdOportunidadSF" placeholder="Ingrese Oportunidad" maxlength="20" autocomplete="off" ng-cloak>
                </div>
            </div>
        </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label col-md-5">Nombre de la oportunidad: </label>
                        <div class="col-md-7">
                            <input id="DescripcionOportunidad" class="form-control" ng-model="vm.DescripcionOportunidad" placeholder="Ingrese Descripción de Oportunidad" maxlength="250" autocomplete="off" ng-cloak>
                        </div>
                    </div>
                </div>
              </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Tipo Oportunidad:</label>
                            <div class="col-md-7">
                                <select id="IdTipoOportunidad" class="form-control input-md"
                                        ng-model="vm.IdTipoOportunidad"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.listTiposOportunidad" ng-cloak></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Función Propietario: </label>
                            <div class="col-md-7">
                                <select id="IdFuncionPropietario" class="form-control input-md"
                                        ng-model="vm.IdFuncionPropietario"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.listFuncionesProp" ng-cloak></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Etapa Oportunidad:</label>
                            <div class="col-md-7">
                                <select id="IdEtapa" class="form-control input-md"
                                        ng-model="vm.IdEtapa"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.listEtapas" ng-cloak></select>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Nombre Cliente: </label>
                            <div class="col-md-7">
                                <input type="number" id="DescripcionCliente" class="form-control" ng-model="vm.DescripcionCliente" placeholder="Ingrese Descripción de Cliente" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Motivo Oportunidad:</label>
                            <div class="col-md-7">
                                <select id="IdMotivoOportunidad" class="form-control input-md"
                                        ng-model="vm.IdMotivoOportunidad"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.listMotivos" ng-cloak></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">RUC Cliente: </label>
                            <div class="col-md-7">
                                <input type="number" id="NumeroIdentificadorFiscal" class="form-control" ng-model="vm.NumeroIdentificadorFiscal" placeholder="Ingrese Ruc" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Sector Comercial:</label>
                            <div class="col-md-7">
                                <select id="IdSector" class="form-control input-md"
                                        ng-model="vm.IdSector"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.listSectores" ng-cloak></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Segmento Negocio:</label>
                            <div class="col-md-7">
                                <select id="IdSegmentoNegocio" class="form-control input-md"
                                        ng-model="vm.IdSegmentoNegocio"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.listSegmentosNegocios" ng-cloak></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="panel">
        <header class="panel-heading">
            <i class="fa fa-chevron-circle-down"> </i>
            Detalle del Caso
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <div id="divAlert_Eliminar" class="alert-edit col-lg-12"></div>
            <div class="messages"></div>
            <div class="controls">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Número de Caso:</label>
                            <div class="col-md-7">
                                <input id="IdCasoSF" class="form-control" ng-model="vm.IdCasoSF" placeholder="Ingrese Numero de Caso" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Estado: </label>
                            <div class="col-md-7">
                                <select id="IdEstadoCaso" class="form-control input-md"
                                        ng-model="vm.IdEstadoCaso"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.listEstadosCaso" ng-cloak></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">N° de Caso Princ:</label>
                            <div class="col-md-7">
                                <input id="IdCaso" class="form-control" ng-model="vm.IdCaso" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Asunto: </label>
                            <div class="col-md-7">
                                <input id="Asunto" class="form-control" ng-model="vm.Asunto" placeholder="Ingrese Asunto" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Fecha/Hora Apertura:</label>
                            <div class="col-md-7">
                                <input type="datetime" class="form-control input-md" ng-model="vm.FechaApertura" id="FechaApertura" max="3000-12-31" min="2000-01-01" />

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Fecha/Hora Cierre:</label>
                            <div class="col-md-7">
                                <input type="datetime" class="form-control input-md" ng-model="vm.FechaCierre" id="FechaCierre" max="3000-12-31" min="2000-01-01" />
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="row" style="margin-top:5px">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Fecha/Hora Apertura:</label>
                            <div class="col-md-7">
                                <input id="DescripcionRecurso" class="form-control" ng-model="vm.DescripcionRecurso" placeholder="Ingrese Recurso" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </section>
    <section class="panel">
        <header class="panel-heading">
            <i class="fa fa-chevron-circle-down"> </i>
            Información Genérica Obligatoria
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <div id="divAlert_Eliminar" class="alert-edit col-lg-12"></div>
            <div class="messages"></div>
            <div class="controls">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Operador Actual:</label>
                            <div class="col-md-7">
                                <select id="IdOperadorActual" class="form-control input-md"
                                        ng-model="vm.IdOperadorActual"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.listOperadores" ng-cloak></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Líneas Actuales: </label>
                            <div class="col-md-7">
                                <input id="LineasActuales" class="form-control" ng-model="vm.LineasActuales" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Meses de Contrato Actual: </label>
                            <div class="col-md-7">
                                <input id="MesesContratoActual" class="form-control" ng-model="vm.MesesContratoActual" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Recurrente Mensual Actual:</label>
                            <div class="col-md-7">
                                <input id="RecurrenteMensualActual" class="form-control" ng-model="vm.RecurrenteMensualActual" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">FCV Actual: </label>
                            <div class="col-md-7">
                                <input id="FCVActual" class="form-control" ng-model="vm.FCVActual" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Arpu Servicio Actual: </label>
                            <div class="col-md-7">
                                <input id="ArpuServicioActual" class="form-control" ng-model="vm.ArpuServicioActual" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="panel">
        <header class="panel-heading">
            <i class="fa fa-chevron-circle-down"> </i>
            Concurso y EEMM (Estudio de Mercado)
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
            </span>
        </header>
        <div class="panel-body">
            <div id="divAlert_Eliminar" class="alert-edit col-lg-12"></div>
            <div class="messages"></div>
            <div class="controls">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">N° Líneas:</label>
                            <div class="col-md-7">
                                <input id="Lineas" class="form-control" ng-model="vm.Lineas" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Meses de Contrato: </label>
                            <div class="col-md-7">
                                <input id="MesesContrato" class="form-control" ng-model="vm.MesesContrato" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Recurrente Mensual: </label>
                            <div class="col-md-7">
                                <input id="RecurrenteMensualVR" class="form-control" ng-model="vm.RecurrenteMensualVR" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">FCV:</label>
                            <div class="col-md-7">
                                <input id="FCVVR" class="form-control" ng-model="vm.FCVVR" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Arpu Serviciol: </label>
                            <div class="col-md-7">
                                <input id="ArpuServicioVR" class="form-control" ng-model="vm.ArpuServicioVR" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">F. Presentación: </label>
                            <div class="col-md-7">
                                <input id="FechaPresentacion" class="form-control" ng-model="vm.FechaPresentacion" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">F. Buena Pro:</label>
                            <div class="col-md-7">
                                <input id="FechaBuenaPro" class="form-control" ng-model="vm.FechaBuenaPro" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Monto Capex: </label>
                            <div class="col-md-7">
                                <input id="MontoCapex" class="form-control" ng-model="vm.MontoCapex" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Estado Oportunidad: </label>
                            <div class="col-md-7">
                                <select id="IdEstadoOportunidad" class="form-control input-md"
                                        ng-model="vm.IdEstadoOportunidad"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.listEstadoOportunidad" ng-cloak></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-md-5">Recurrente Mensual Actual:</label>
                            <div class="col-md-7">
                                <input id="RecurrenteMensualActual" class="form-control" ng-model="vm.RecurrenteMensualActual" maxlength="20" autocomplete="off" ng-cloak>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <label class="control-label col-md-2">Descripción:</label>
                <div class="col-md-4">
                    <input id="id" class="form-control" ng-model="vm.DescripcionNuevo" placeholder="Ingrese Descripción" autocomplete="off" ng-cloak>
                </div>

                <label class="control-label col-md-2">Tipo servicio:</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdtipoServicio"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoServicio" ng-cloak></select>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <label class="control-label col-md-2">Costo instalación:</label>
                <div class="col-md-4">
                    <input id="id" class="form-control" ng-model="vm.CostoInstalacion" placeholder="Costo instalación" ng-change="vm.costo()" autocomplete="off" ng-cloak>
                </div>

                <label class="control-label col-md-2"> Depreciación:</label>
                <div class="col-md-4">
                    <select id="" class="form-control"
                            ng-model="vm.IdDepreciacion"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListDepreciacion" ng-cloak></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">

                <div class="modal-footer">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.RegistrarSubServicio()"> Grabar</a>
                </div>
            </div>
        </div>
    </div>*@

</div>

@section scripts{
    <script>

    </script>
@Scripts.Render("~/bundles/app/comun/js")
@Scripts.Render("~/bundles/app/comun/BandejaServicio/js")
@Scripts.Render("~/bundles/app/Trazabilidad/RegistrarDatosPreventaMovil/js")
}
