﻿<div id="IdSmartVpnController" ng-app="app.Oportunidad" ng-controller="SmartVpnController as vm">
    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_Smart" class="alert-edit"></div>
    </div>

    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Equipo<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtEquipoSmart" class="tb form-control" ng-model="vm.Equipo"  autocomplete="off" />
                </div>
                <label class="col-md-2 control-label">Cruce</label>
                <div class="col-md-4">
                    <input id="txtCruceSmart" class="form-control"  ng-model="vm.Cruce" autocomplete="off" disabled="disabled" />
                </div>

            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">A.E. Reducido</label>
                <div class="col-md-4">
                    <input id="txtAEReducidoSmart" class="form-control" autocomplete="off" ng-model="vm.AEReducido"  disabled="disabled" />
                </div>
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidadSmart" type="text" class="form-control" ng-keydown="vm.CantidadSmartVPNComplete();" ng-model="vm.Cantidad" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Capex (USD)</label>
                <div class="col-md-4">
                    <input id="txtCapexDolaresSmart" type="text" class="form-control" disabled="disabled" ng-model="vm.CapexDolares"  />
                </div>
                <label class="col-md-2 control-label">Capex Total (S/.)</label>
                <div class="col-md-4">
                    <input id="txtCapexSolesSmart" class="form-control" autocomplete="off" disabled="disabled"  ng-model="vm.CapexSoles" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Total Capex</label>
                <div class="col-md-4">
                    <input id="txtTotalCapexSmart" type="text" class="form-control" disabled="disabled"  ng-model="vm.TotalCapex" />
                </div>
                <label class="col-md-2 control-label">Mes de RQ (Mes-Año)</label>
                <div class="col-md-4">
                    <input id="txtMesRecuperoSmart" class="form-control" autocomplete="off"  ng-model="vm.MesRecupero" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes de Comprometido</label>
                <div class="col-md-4">
                    <input id="txtMesComprometidoSmart" type="text" class="form-control"  ng-model="vm.MesComprometido"  />
                </div>
                <label class="col-md-2 control-label">Mes Certificado</label>
                <div class="col-md-4">
                    <input id="txtCertificadoSmart" class="form-control" autocomplete="off" ng-model="vm.MesCertificado" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-custom btn-sm" id="btnSmart" type="button" onclick="ModalClose();" ng-click="vm.GrabarConceptoSmartVPN()">Grabar</button>
                </div>
            </div>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>

</div>

@section scripts{

    @Scripts.Render("~/bundles/app/oportunidad/smartvpn/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");

}