﻿
<div id="IdUsuarioController" ng-app="app.Seguridad" ng-controller="UsuarioController as vm">

    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_EEsp" class="alert-edit"></div>
    </div>
    <div class="row">
        <div class="col-md-12">            
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Apellidos</label>
                <div class="col-md-4">
                    <input id="txtApellidos" type="text" disabled="disabled" ng-model="vm.Apellidos" class="form-control" />
                </div>
                <label class="col-md-2 control-label">Nombres</label>
                <div class="col-md-4">
                    <input id="txtNombres" class="form-control" ng-model="vm.Nombres" autocomplete="off" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Correo</label>
                <div class="col-md-4">
                    <input id="txtCorreo" type="text" ng-model="vm.Correo" class="form-control" />
                </div>
                <label class="col-md-2 control-label">Login</label>
                <div class="col-md-4">
                    <input id="txtLogin" class="form-control" autocomplete="off" ng-model="vm.Login" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Correo</label>
                <div class="col-md-4">
                    <input id="txtCorreo" type="text" ng-model="vm.Correo" class="form-control" />
                </div>
                <label class="col-md-2 control-label">Usuario de Windows</label>
                <div class="col-md-4">
                    <input id="txtLoginWindows" class="form-control" autocomplete="off" ng-model="vm.LoginWindows" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Estado</label>
                <div class="col-md-4">
                    <input id="txtCorreo" type="text" ng-model="vm.Correo" class="form-control" />
                </div>
                <label class="col-md-2 control-label">Usuario de Windows</label>
                <div class="col-md-4">
                    <input id="txtLoginWindows" class="form-control" autocomplete="off" ng-model="vm.LoginWindows" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="text-right">
                    <button class="btn btn-custom btn-sm" id="btnEstudiosEspeciales" type="button" ng-click="vm.GrabarConceptoEstudiosEspeciales()">Grabar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var ConceptoDatosCapexDtoResponse = @Html.Raw(Json.Encode(ViewBag.dto));
    </script>
    
    @Scripts.Render("~/bundles/app/seguridad/usuario/js");

}