﻿
<div id="IdRegistroCartaFianzaController" ng-controller="RegistroCartaFianzaController as vm">

    <div class="row">
        <div id="divAlertRegistrar" class="alert-edit col-md-12"></div>
    </div>
    <!-- -->
    <div class="row">
        <div class="col-md-12">


            <input type="hidden" id="IdCartaFianza" ng-model="vm.entidad" />

            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Tipo Accion<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <select id="CmbTipoAccion" class="form-control"
                            ng-model="vm.IdLineaNegocio"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListLineaNegocio"></select>

                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Estado Vencimiento<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <select id="CmbEstadoVencimientoTm" class="form-control"
                            ng-model="vm.IdLineaNegocio"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListLineaNegocio"></select>

                </div>
            </div>

   
    

                <div class="form-group col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Observación <span class="text-danger">*</span></label>
                        <div class="col-md-12">
                            <input type="text" id="Observación" class="form-control" />
                        </div>
                    </div>
                </div>

     


                <div class="form-group col-md-12">
                    <div class="col-md-4">
                        <div class="checkbox">
                            <label>
                                <input id="IdEstado" type="checkbox" ng-model="vm.IdEstado"
                                       ng-true-value="'1'" ng-false-value="'0'">Estado
                            </label>
                        </div>
                    </div>
                </div>




            </div>


            <div class="col-md-12 text-right">
                <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.GrabarCartaFianza()"> Grabar</a>
            </div>


        </div>

    

    </div>
