﻿
<div id="IdClienteCartaFianzaController" ng-app="app.CartaFianza" ng-controller="ClienteCartaFianzaController as vm">
    <div id="frmCartaFianzaBCliente" class="content-page">



        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Registrar Nueva Carta Fianza
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            <div class="panel-body">
                <form>
                    <div class="messages"></div>

                    <div class="controls">


                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5"> Ruc/Nif:</label>
                                    <div class="col-md-7">
                                        <input id="bClienteNumeroIdentificador" class="form-control" ng-model="vm.bClienteNumeroIdentificador" placeholder="RUC / NIF" autocomplete="off" ng-cloak>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Nombre Cliente: </label>
                                    <div class="col-md-9">
                                        <input id="bClienteNombreCliente" class="form-control" ng-model="vm.bClienteNombreCliente" placeholder="Nombre Cliente" autocomplete="off" ng-cloak>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" data-toggle="modal" data-target="#exampleModalCenter" ng-click="vm.BuscarClienteCartaFianza()"> Buscar</a>

                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                Limpiar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>


        <section class="panel">
            <header class="panel-heading">
                <i class="fa fa-chevron-circle-down"> </i>
                Registro de Carta Fianza
            </header>
            <div class="panel-body">
                <section id="flip-scroll">

                    <div class="table-responsive">

                        <table id="tbBuscarCliente" datatable="" dt-options="vm.dtOptionsCartaFianza" dt-columns="vm.dtBuscarClienteColumnsCartaFianza"
                               class="row-border hover dataTable no-footer dtr-inline collapsed"
                               dt-instance="vm.dtBuscarClienteInstanceCartaFianza" style="width:100%;" dt-column-defs="vm.dtBuscarColumnDefs"></table>
                    </div>
                </section>
            </div>
        </section>



    </div>
           
</div>


@section scripts{

    @Scripts.Render("~/bundles/app/CartaFianza/ClienteCartaFianza/js");

}
