﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Oportunidad" block-ui="main">
</body>
<div id="IdRegistrarServicio" ng-app="app.Oportunidad" ng-controller="RegistrarServicio as vm">
    <div class="container">
        <div class="row">
            <div class="col-12 tgestiona_filter">
                <div id="accordion">
                    <div class="panel">
                        <h4 class="text-white  navbar-default">Mantenimiento de Areas de Seguimiento</h4>
                        <div class="panel-header panel-header-tgestiona" id="headingOne">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="mb-0 cabfiltros">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fa"></i> Filtros
                                        </button>
                                    </h5>
                                </div>
                                <div class="col-md-6 text-right">
                                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" data-toggle="modal" data-target="#exampleModalCenter" ng-click="vm.CargaModalServicio()"> Nuevo</a>
                                </div>
                            </div>

                        </div>

                        <div id="collapseOne" class="panel-collapse collapse" aria-labelledby="headingOne" data-parent="#accordion" aria-expanded="true" style="">
                            <div class="panel-body panel-body-filters">
                                <form>
                                    <div class="messages"></div>
                                    <div class="controls">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label col-md-5">Descripción:</label>
                                                    <div class="col-md-7">
                                                        <input id="id" class="form-control" ng-model="vm.Descripcion" placeholder="Ingrese Descripción" autocomplete="off" ng-cloak>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label col-md-5">Tipo Servicio: </label>
                                                    <div class="col-md-7" ng-init="vm.ListarDepreciacion()">
                                                        <select id="" class="form-control"
                                                                ng-model="vm.IdDepreciacion"
                                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListDepreciacion" ng-cloak></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-sm-12 text-right">
                                            <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona" type="submit" ng-click="vm.BuscarServicio()">
                                                Filtrar
                                            </button>
                                            <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                                Limpiar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                   class="table row-border hover dataTable no-footer dtr-inline collapsed"
                   dt-instance="vm.dtInstance" style="width:100%;"></table>
        </div>
    </div>
    </div>



    @section scripts{

        <script>
  
        function EliminarServicio(IdServicio) {
            var scope = angular.element(document.getElementById("IdRegistrarServicio")).scope();
            scope.vm.EliminarServicio(IdServicio);
            scope.$apply();
        }
        </script>

        @Scripts.Render("~/bundles/app/comun/concepto/js")
        @Scripts.Render("~/bundles/app/Oportunidad/RegistrarServicio/js")

    }

