﻿

<div id="IdRegistroCartaFianzaController" ng-app="app.CartaFianza" ng-controller="RegistroCartaFianzaController as vm">

    <div id="frmRegistroCartaFianza" class="content-page">
        <div class="row">
            <div id="divAlertRegistrar" class="alert-edit col-md-12"></div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <input type="hidden" id="IdCartaFianza" ng-model="vm.IdCartaFianza" />

                <div class="form-group col-md-12">

                    <label class="col-md-2 control-label">Tipo Accion<span class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select id="CmbTipoAccion" class="form-control"
                                ng-model="vm.CmbTipoAccion"
                                ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoAccion"></select>

                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Numero Oportunidad<span class="text-danger">*</span></label>
                        <div class="col-md-4">
                            <input id="NumeroOportunidad" ng-model="vm.NumeroOportunidad" class="form-control" placeholder="Numero Oportunidad" autocomplete="off" ng-cloak>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                <section class="panel">
                    <header class="panel-heading">
                        <i class="fa fa-chevron-circle-down"> </i>
                        Datos del Cliente
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <form>
                            <div class="messages"></div>

                            <div class="controls">

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Ruc/Nif</label>
                                            <div class="col-md-9">
                                                <input id="IdentificadorFiscal" class="form-control" ng-model="vm.IdentificadorFiscal" placeholder="Ruc / Nif" autocomplete="off" ng-cloak readonly>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Cliente </label>
                                            <div class="col-md-9">
                                                <input id="Nombrecliente" class="form-control" ng-model="vm.Nombrecliente" placeholder="Nombre Cliente" autocomplete="off" ng-cloak readonly>
                                            </div>
                                        </div>
                                    </div>
                                 
                            </div>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </section>

                <section class="panel">
                    <header class="panel-heading">
                        <i class="fa fa-chevron-circle-down"> </i>
                        Datos del Contrato
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <form>
                            <div class="messages"></div>

                            <div class="controls">


                                <div class="row">

                                    <div class="form-group col-md-12">
                                        <label class="col-md-2 control-label">Tipo Contrato<span class="text-danger">*</span></label>
                                        <div class="col-md-4">
                                            <select id="CmbTipoContratoTm" class="form-control"
                                                    ng-model="vm.CmbTipoContratoTm"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoContrato"></select>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Numero Contrato<span class="text-danger">*</span></label>
                                            <div class="col-md-4">
                                                <input id="NumeroContrato" class="form-control" ng-model="vm.NumeroContrato" placeholder="Numero Contrato" autocomplete="off" ng-cloak>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Processo <span class="text-danger">*</span></label>
                                            <div class="col-md-4">
                                                <input id="Processo" class="form-control" ng-model="vm.Processo" placeholder="Processo" autocomplete="off" ng-cloak>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Descripcion Servicio <span class="text-danger">*</span></label>
                                            <div class="col-md-12">
                                                <input id="vm.DescripcionServicioCartaFianza" class="form-control" ng-model="vm.DescripcionServicioCartaFianza" placeholder="Descripcion Servicio" autocomplete="off" ng-cloak>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Fecha Firma Servicio Contrato<span class="text-danger">*</span></label>
                                            <div class="col-md-4">
                                                <input id="FechaFirmaServicioContrato" type="date" class="form-control input-md" ng-model="vm.FechaFirmaServicioContrato" max="3000-12-31" min="2000-01-01" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Fecha Fin Servicio Contrato<span class="text-danger">*</span></label>
                                            <div class="col-md-4">
                                                <input id="FechaFinServicioContrato" type="date" class="form-control input-md" ng-model="vm.FechaFinServicioContrato" max="3000-12-31" min="2000-01-01" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label class="col-md-2 control-label">Tipo Moneda<span class="text-danger">*</span></label>
                                        <div class="col-md-4">
                                            <select id="CmbTipoMoneda" class="form-control"
                                                    ng-model="vm.CmbTipoMoneda"
                                                    ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoMoneda"></select>

                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="col-md-2 control-label">Importe Soles</label>
                                        <div class="col-md-4">
                                            <input id="ImporteCartaFianzaSoles" ng-model="vm.ImporteCartaFianzaSoles" type="number" class="form-control" />
                                        </div>
                                        <label class="col-md-2 control-label">Importe Dolares</label>
                                        <div class="col-md-4">
                                            <input id="ImporteCartaFianzaDolares" ng-model="vm.ImporteCartaFianzaDolares" type="number" class="form-control" />
                                        </div>

                                    </div>

                                </div>


                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </section>

                <section class="panel">
                    <header class="panel-heading">
                        <i class="fa fa-chevron-circle-down"> </i>
                        Datos del Contrato
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <form>
                            <div class="messages"></div>

                            <div class="controls">

                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label">Empresa Adjudicada<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <select id="CmbEmpresaAdjudicadaTm" class="form-control"
                                                ng-model="vm.CmbEmpresaAdjudicadaTm"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListEmpresaAdjudicada"></select>

                                    </div>

                                    <label class="col-md-2 control-label">Tipo Garantia<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <select id="CmbTipoGarantiaTm" class="form-control"
                                                ng-model="vm.CmbTipoGarantiaTm"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListTipoGarantia"></select>

                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Numero Garantia<span class="text-danger">*</span></label>
                                        <div class="col-md-4">
                                            <input id="NumeroGarantia" class="form-control" ng-model="vm.NumeroGarantia" placeholder="Numero Garantia" autocomplete="off" ng-cloak>
                                        </div>
                                    </div>

                                    <label class="col-md-2 control-label">Entidad Bancaria<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <select id="CmbBanco" class="form-control"
                                                ng-model="vm.CmbBanco"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListEntidadBancaria"></select>

                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <div class="checkbox">
                                            <label>
                                                <input id="ClienteEspecial" type="checkbox" ng-model="vm.ClienteEspecial" ng-true-value="'1'" ng-false-value="'0'">Cliente Especial
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="checkbox">
                                            <label>
                                                <input id="SeguimientoImportante" type="checkbox" ng-model="vm.SeguimientoImportante" ng-true-value="'1'" ng-false-value="'0'">Seguimiento Importante
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="checkbox">
                                            <label>
                                                <input id="IdEstado" type="checkbox" ng-model="vm.IdEstado" ng-true-value="'1'" ng-false-value="'0'">Estado
                                            </label>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </section>

                <section class="panel">
                    <header class="panel-heading">
                        <i class="fa fa-chevron-circle-down"> </i>
                        Datos del Contrato
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <form>
                            <div class="messages"></div>

                            <div class="controls">


                                <div class="form-group col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Observación <span class="text-danger">*</span></label>
                                        <div class="col-md-12">
                                            <input type="text" id="Observacion" ng-model="vm.Observacion" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Incidencia <span class="text-danger">*</span></label>
                                        <div class="col-md-12">
                                            <input type="text" id="Incidencia" ng-model="vm.Incidencia" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </section>


           

            <div class="row">
                <div class="col-md-12 text-right">
                    <a class="btn btn-primary btn-primary-tgestiona cabfiltrosBTN" ng-click="vm.GrabarCartaFianza()"> Grabar</a>
                </div>
            </div>

            </div>
</div>

@section scripts{

  @Scripts.Render("~/bundles/app/CartaFianza/RegistroCartaFianza/js");

}
