﻿@using Tgs.SDIO.Util.Web.Trazabilidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Registrar Rol Recurso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Trazabilidad" block-ui="main">
</body>
<div ng-app="app.Trazabilidad" ng-controller="RegistrarRolRecurso as vm" ng-cloak>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class='col-xs-12 col-sm-12'>
                <div class='form-group'>
                    <h4 class="modal-title">Rol Recurso</h4>
                    <h5 class="font-bold">Los campos con asterisco (*) son obligatorios.</h5>
                </div>
                <div class='form-group text-right acciones'>
                    <button class="btn btn-primary" ng-click="vm.RegistraRolRecurso()"><span class="glyphicon glyphicon-list-alt"></span> Registrar</button>
                    <a class="btn btn-primary" href="{{vm.EnlaceBandeja}}"><span class="glyphicon glyphicon-share-alt"></span> Retornar</a>
                </div>
                <div id="divAlert">
                </div>
            </div>
            <form class="form-horizontal"> 
                    <div class="row form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <label class="col-md-4 control-label" for="txtIdAreaSeguimiento">Código:</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control input-md" id="txtCodigo" ng-model="vm.IdRol" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <label class="col-md-4 control-label" for="txtDescripcion">Descripcion(*):</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control input-md" ng-model="vm.Descripcion" id="txtDescripcion" maxlength="130" />
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <label class="col-md-4 control-label" for="txtDescripcion">Nivel(*):</label>
                            <div class="col-md-2">
                                <input type="number" class="form-control input-md" ng-model="vm.Nivel" id="txtNivel" />
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <label class="col-md-4 control-label" for="ddlEstado">Estado(*):</label>
                            <div class="col-md-8">
                                <select id="ddlIdEstado" class="form-control input-md"
                                        ng-model="vm.IdEstado"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.listEstados" ng-cloak disabled="disabled"></select>
                            </div>
                        </div>
                    </div>     
            </form>
        </div>
    </div>
</div>
@section scripts{

    <script>

        var jsonDatoRolRecurso = @Html.Raw(Json.Encode(ViewBag.vbDatoRolRecurso));
    </script>
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/RegistrarRolRecurso/js")
}

