﻿@using Tgs.SDIO.Util.Web.Trazabilidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Observacion de Oportunidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Trazabilidad" block-ui="main">
</body>
<div ng-app="app.Trazabilidad" id="IdRegistrarObservacionOportunidad" ng-controller="RegistrarObservacionOportunidad as vm" ng-cloak>

    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading-modal">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Datos Generales
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class='col-xs-12 col-sm-12'>
                        <div class='form-group'>
                            <h5 class="font-bold">Los campos con asterisco (*) son obligatorios.</h5>
                        </div>
                        
                        <div id="divAlert">
                        </div>
                    </div>
                    <form>
                        <div class="container">
                            <div class="row form-group">
                                <div class="col-md-8 col-md-offset-2">
                                    <label class="col-md-3 control-label" for="IdObservacion">Código:</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control input-md" id="IdObservacion" ng-model="vm.IdObservacion" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-8 col-md-offset-2">
                                    <label class="col-md-3 control-label" for="IdOportunidad">Oportunidad:</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-md" id="HDescripcionOportunidad" ng-model="vm.HDescripcionOportunidad" disabled="disabled" />
                                            <input type="hidden" class="form-control input-md" id="IdOportunidad" ng-model="vm.IdOportunidad" disabled="disabled" />
                                            <span class="input-group-addon" id="btnBuscar" ng-click="vm.LimpiarFiltros()">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-8 col-md-offset-2">
                                    <label class="col-md-3 control-label" for="IdCaso">Caso:</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control input-md" id="HDescripcionCaso" ng-model="vm.HDescripcionCaso" disabled="disabled" />
                                        <input type="hidden" class="form-control input-md" id="IdCaso" ng-model="vm.IdCaso" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-8 col-md-offset-2">
                                    <label class="col-md-3 control-label" for="FechaSeguimiento">Fecha Seguimiento:</label>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input type="date" class="form-control input-md" ng-model="vm.FechaSeguimiento" id="FechaSeguimiento" max="3000-12-31" min="2000-01-01" />
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label" for="IdSeguimiento">Id Seguimiento:</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="number" class="form-control input-md" id="IdSeguimiento" ng-model="vm.IdSeguimiento" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-8 col-md-offset-2">
                                    <label class="col-md-3 control-label" for="IdConcepto">Concepto(*):</label>
                                    <div class="col-md-9">
                                        <select id="IdConcepto" class="form-control input-md"
                                                ng-model="vm.IdConcepto"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.listConcepto" ng-cloak></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-8 col-md-offset-2">
                                    <label class="col-md-3 control-label" for="Observaciones">Observación:</label>
                                    <div class="col-md-9">
                                        <textarea id="Observaciones" ng-model="vm.Observaciones" class="form-control input-md" maxlength="1900"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-8 col-md-offset-2">
                                    <label class="col-md-3 control-label" for="ddlEstado">Estado(*):</label>
                                    <div class="col-md-9">
                                        <select id="ddlIdEstado" class="form-control input-md"
                                                ng-model="vm.IdEstado"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.listEstados" ng-cloak disabled="disabled"></select>
                                    </div>
                                </div>
                            </div>
                            <div class='modal-footer text-right'>
                                <button class="btn btn-primary" ng-click="vm.RegistraObservacionOportunidad()"><span class="glyphicon glyphicon-list-alt"></span> Registrar</button>
                                <a class="btn btn-primary" href="{{vm.EnlaceBandeja}}"><span class="glyphicon glyphicon-share-alt"></span> Retornar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

</div>
@************************************************* Modal Busqueda Oportunidad **************************************************************@

<div class="modal fade" id="dlgBuscar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-contentTgestiona">
            <div class="modal-header modalheaderTgestiona">
                <h5 class="modal-title text-uppercase">
                    <asp:Label ID="lblNrofactura" Text="Label">Búsqueda de Oportunidad - Caso</asp:Label>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body modal-bodyTgestiona">
                <div class="container">
                    <div class="row">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Oportunidad:</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-md" id="DescripcionOportunidad" ng-model="vm.DescripcionOportunidad" placeholder="Ingrese Descripción" />
                                </div>
                                <div class="col-lg-4">
                                    <button id="btnLimpiar" class="btn btn-default waves-effect m-l-5" type="reset" ng-click="vm.LimpiarFiltros()">
                                        Limpiar
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Caso:</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-md" id="DescripcionCaso" ng-model="vm.DescripcionCaso" placeholder="Ingrese Descripción" />
                                </div>
                                <div class="col-lg-4">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Nro de Caso SF:</label>
                                <div class="col-lg-2">
                                    <input type="text" class="form-control input-md" id="IdCasoSF" ng-model="vm.IdCasoSF" placeholder="Ingrese Codigo" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-md-12 control-label" for="IdOportunidadSF">Oportunidad SF:</label>
                                </div>
                                <div class="col-lg-2">
                                    <input type="text" class="form-control input-md" id="IdOportunidadSF" ng-model="vm.IdOportunidadSF" placeholder="Ingrese Codigo" />
                                </div>
                                <div class="col-lg-4">
                                    <button id="btnBuscar" class="btn btn-primary btn-primary-tgestiona waves-effect m-l-5" type="submit" ng-click="vm.BuscarOportunidadST()">
                                        Filtrar
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="col-lg-12 dflt-marginTop-2">

                            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                                   class="table table-bordered table-striped table-condensed cf"
                                   dt-instance="vm.dtInstance" style="width:150%;"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @************************************************* Modal Busqueda Oportunidad **************************************************************@

</div>
@section scripts{

    <script>
        var jsonDatoObservacionOportunidad = @Html.Raw(Json.Encode(ViewBag.vbDatoObservacionOportunidad));

        function SeleccionarOportunidadSF(IdCaso,IdOportunidad) {
            var scope = angular.element(document.getElementById("IdRegistrarObservacionOportunidad")).scope();
            scope.vm.SeleccionarOportunidadSF(IdCaso,IdOportunidad);
            scope.$apply();
        }
    </script>
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/RegistrarObservacionOportunidad/js")
}
