﻿<div id="IdHardwareController" ng-app="app.Oportunidad" ng-controller="HardwareController as vm">
    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_Hardware" class="alert-edit"></div>
    </div>
    <section class="panel">
        <header class="panel-heading-modal">
            Datos Generales
        </header>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Equipo<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <input id="txtEquipoHardware" class="tb form-control" onkeypress="ConceptoComplete(this,11);" autocomplete="off" ng-model="vm.Equipo" />
                </div>
                <label class="col-md-2 control-label">Cruce</label>
                <div class="col-md-4">
                    <input id="txtCruceHardware" class="form-control" autocomplete="off" ng-model="vm.Cruce"/>
                </div>

            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">A.E. Reducido</label>
                <div class="col-md-4">
                    <input id="txtAEReducidoHardware" class="form-control" autocomplete="off" ng-model="vm.AEReducido"/>
                </div>
                <label class="col-md-2 control-label">Tipo de Hardware</label>
                <div class="col-md-4">
                    <input id="txtTipoEquipoHardware" class="form-control" autocomplete="off" ng-model="vm.Tipo"/>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Marca-Modelo</label>
                <div class="col-md-4">
                    <input id="txtMModeloHardware" class="form-control" autocomplete="off"  ng-model="vm.Marca"/>
                </div>
                <label class="col-md-2 control-label">Antigüedad</label>
                <div class="col-md-4">
                    <input id="txtAntiguedadHardware" class="form-control" autocomplete="off" ng-keydown="vm.CantidadHardwareComplete();"  ng-model="vm.MesesAntiguedad" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Cantidad</label>
                <div class="col-md-4">
                    <input id="txtCantidadHardware" type="text" class="form-control" autocomplete="off" ng-keydown="vm.CantidadHardwareComplete();" ng-model="vm.Cantidad"  />
                </div>
                <label class="col-md-2 control-label">C.U. Antiguo</label>
                <div class="col-md-4">
                    <input id="txtAntiguoHardware" class="form-control" autocomplete="off" ng-model="vm.CostoUnitarioAntiguo"  />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Valor Residual</label>
                <div class="col-md-4">
                    <input id="txtValorResidualHardware" type="text" class="form-control" disabled="disabled" ng-model="vm.ValorResidualSoles" />
                </div>
                <label class="col-md-2 control-label">C.U.  (USD)</label>
                <div class="col-md-4">
                    <input id="txtCostoUnitarioHardware" class="form-control" autocomplete="off" ng-keydown="vm.CantidadHardwareComplete();" ng-model="vm.CostoUnitario" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Capex (USD)</label>
                <div class="col-md-4">
                    <input id="txtCapexDolaresHardware" type="text" class="form-control" disabled="disabled" ng-model="vm.CapexDolares" />
                </div>
                <label class="col-md-2 control-label">Capex Total (S/.)</label>
                <div class="col-md-4">
                    <input id="txtCapexSolesHardware" class="form-control" autocomplete="off" disabled="disabled" ng-model="vm.CapexSoles" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Total Capex</label>
                <div class="col-md-4">
                    <input id="txtTotalCapexHardware" type="text" class="form-control" disabled="disabled" ng-model="vm.TotalCapex" />
                </div>
                <label class="col-md-2 control-label">Mes de RQ (Mes-Año)</label>
                <div class="col-md-4">
                    <input id="txtMesRecuperoHardware" class="form-control" autocomplete="off" ng-model="vm.MesRecupero"  />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Mes de Comprometido</label>
                <div class="col-md-4">
                    <input id="txtMesComprometidoHardware" type="text" class="form-control" ng-model="vm.MesComprometido"  />
                </div>
                <label class="col-md-2 control-label">Mes Certificado</label>
                <div class="col-md-4">
                    <input id="txtCertificadoHardware" class="form-control" autocomplete="off" ng-model="vm.MesCertificado" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="modal-footer">
                    <button class="btn btn-custom btn-sm" id="btnHardware" type="button" ng-click="vm.GrabarConceptoHardware()">Grabar</button>
                </div>
            </div>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading-modal">
            Flujo Caja
        </header>
        <div class="panel-body">
            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
        </div>
    </section>

</div>

@section scripts{

    @Scripts.Render("~/bundles/app/oportunidad/Hardware/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");
}