﻿
<div id="IdRegistrarServicioController" ng-controller="RegistrarServicioController as vm">
    <div class="row">
        <div id="divAlertRegistrar" class="alert-edit col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">Servicio<span class="text-danger">*</span></label>
                <div class="col-md-4">
                    <select id="CmbLineaNegocio" class="form-control"
                            ng-model="vm.IdLineaNegocio"
                            ng-options="item.Codigo as item.Descripcion for item in vm.ListLineaNegocio"></select>

                </div>
            </div>
        </div>

    </div>
</div>
