﻿


<div class="panel panel-default">
    <div class="panel-body">
        <div class='col-xs-12 col-sm-12'>
            <div class='form-group'>

                <h4 class="modal-title">Bandeja de Oportunidades</h4>
                <br />
                <div id="divAlert" class="alert-edit">
                </div>
            </div>
            <div class='form-group text-right acciones'>

                <a class="btn btn-sm btn-primary btn-space right" href="{{vm.EnlaceRegistrar}}0"><span class="glyphicon glyphicon-list-alt"></span> Nuevo</a>

            </div>
        </div>
        <hr />

        <form>
            <div class='form-group'>
                <div class='col-xs-12 col-sm-3'>
                    <h5>Línea producto:</h5>
                    <input id="idlineaProducto" class="form-control" ng-model="vm.IdLineaProducto" autocomplete="off" ng-cloak>
                </div>
                <div class='col-xs-12 col-sm-3'>
                    <h5>Cliente:</h5>
                    <input id="idCliente" class="form-control" ng-model="vm.IdCliente" autocomplete="off" ng-cloak>
                </div>
                <div class='col-xs-12 col-sm-3'>
                    <h5>Oportunidad:</h5>
                    <input id="idOportunidad" class="form-control" ng-model="vm.Proyecto" autocomplete="off" ng-cloak>
                </div>
            </div>
            <div class='form-group text-right'>
                <div class='col-xs-12  col-sm-3 col-sm-3'>
                    <br /><br />
                    <button id="btnLimpiar" class="btn btn-sm btn-primary  text-right" ng-click="vm.LimpiarFiltros()">
                        <span class="glyphicon glyphicon-trash"></span> Limpiar
                    </button>


                    <button id="btnBuscar" class="btn btn-sm btn-primary right" ng-click="vm.BuscarOportunidad()">
                        <span class="glyphicon glyphicon-search"></span> Buscar
                    </button>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 col-sm-3'>
                    <h5>Número de Sales Force:</h5>
                    <input id="idSalesForce" class="form-control" ng-model="vm.NumeroSalesForce" autocomplete="off" ng-cloak>
                </div>
                <div class='col-xs-12 col-sm-3'>
                    <h5>Gerente Comercial:</h5>
                    <input id="idGerenteComercial" class="form-control" ng-model="vm.IdGerente" autocomplete="off" ng-cloak>
                </div>
                <div class='col-xs-12 col-sm-3'>
                    <h5>Dirección Comercial:</h5>
                    <input id="idDireccionComercial" class="form-control" ng-model="vm.IdDireccion" autocomplete="off" ng-cloak>
                </div>
                <div class='col-xs-12 col-sm-3'>

                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 col-sm-3'>
                    <h5>Fecha Inicio Creación:</h5>
                    <input id="idFechaCreacion" class="form-control" ng-model="vm.FechaCreacion" autocomplete="off" ng-cloak>
                </div>
                <div class='col-xs-12 col-sm-3'>
                    <h5>Fecha Fin Creación:</h5>
                    <input id="idFechaFin" class="form-control" ng-model="vm.FechaEdicion" autocomplete="off" ng-cloak>
                </div>
                <div class='col-xs-12 col-sm-3'>
                    <h5>Estado Oportunidad:</h5>
                    <input id="idEstado" class="form-control" ng-model="vm.IdEstado" autocomplete="off" ng-cloak>
                </div>
                <div class='col-xs-12 col-sm-3'>

                </div>
            </div>
        </form>
    </div>
</div>
<!-- Bandeja-->


<hr />
<div class="row">

    <div class="col-md-7">
        <div id="lvEmployeeList">
            <ItemTemplate>
                <div class="card-box widget-box-three" style="background-color: #f3f3f5; padding: 10px; margin-bottom: 10px; cursor: pointer;" onclick="Version();">
                    <div class="row">
                        <div class="col-md-3 mt-3 pull-left-detalle"><i class="fa fa-gears fa-2x"></i></div>
                        <div class="wid-u-info" style="margin-top: -20px">
                            <h5 class="text-info m-t-20 m-b-5"> </h5>

                            <p class="text-info text-muted m-b-0 font-14">
                                Cliente:
                                <label style="color: darkgray; font-size: 12px;"></label>
                            </p>
                            <p class="text-info text-muted m-b-0 font-14">
                                Versiones del proyecto:
                                <label style="color: darkgray;"> </label>
                            </p>
                            <p class="text-info text-muted m-b-0 font-14">
                                Estado:
                                <button class="btn Estado->  waves-effect waves-light btn-xs" style="height: 20px; margin-top: -7px; color:#ffffff; width: 90px;" type="button"></button>
                            </p>
                            <div class="detalle-position">
                                <p class="text-info text-muted m-b-0 font-14">Fecha Creación:</p>
                                <label class="text-muted m-b-0 font-14"></label>
                                <br>
                                <p class="text-info text-muted m-b-0 font-14">Fecha Modificación:</p>
                                <label class="text-muted m-b-0 font-14"> </label>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </ItemTemplate>
        </div>
        <br />
        <div id="lvDataPager1" class="pagination" PageSize="10">
            <Fields>
                <div ButtonType="Link" />
            </Fields>
        </div>
        <br />
        <br />

    </div>

    <div class="col-md-5">
        <div id="versionProyecto" class="card-box" style="background-color: #f3f3f5; display: none">
            <div class="card-box-detalle widget-box-two widget-two-primary">
                <div class="wigdet-two-content">
                    <div class="row">
                        <div class="form-group col-md-12" style="padding-left: 0px">
                            <h5 id="Proyecto" class="col-md-9 m-0 text-uppercase text-white font-24 font-secondary"></h5>
                            <div class="col-md-3" id="demoSelect">
                                <label style="color: #ffffff; font-size: 12px;">
                                    Versi&oacute;n
                                </label>
                                <select id="Select" onchange="idVersion()"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12 l-20">
                            <div class="col-md-12">
                                <label class="col-md-4 control-label text-white">Estado:</label>
                                <label id="Estado" class="col-md-6 control-label text-white"></label>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-4 control-label text-white">Preventa:</label>
                                <label id="NomCompletPreventa" class="col-md-6 control-label text-white"></label>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-4 control-label text-white">Creado por:</label>
                                <label id="NomCompletUsuCrea" class="col-md-6 control-label text-white"></label>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-4 control-label text-white">Modificado por:</label>
                                <label id="NomCompletUsuMod" class="col-md-6 control-label text-white"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div id="pie-chart" class="ct-chart ct-golden-section dash-chart">

                    <br />
                    <div class="row">

                        <h5 id="H2" class="col-md-9 m-0 text-uppercase text-blue font-24 font-secondary" style="margin-top: 12px !important">Resumen del Proyecto</h5>

                    </div>
                    <div class="row ">
                        <div class="form-group col-md-10 t-50" style="height: 266px">

                            <div class=" form-horizontal col-md-6" id="demo">
                                <div id="morris-donut-example" style="width:80%" class="col-md-2"></div>
                            </div>
                            <div class=" form-horizontal col-md-6" style="padding-top: 115px" id="LineaProductoP">
                                <div id="LineaProducto">

                                </div>

                            </div>
                        </div>
                    </div>
                    <input id="idProyectoVersion" />

                    <div id="acciones" style="display:none">
                        <div class="row">
                            <hr />
                            <h5 id="H3" class="col-md-9 m-0 text-uppercase text-blue font-24 font-secondary">Acciones</h5>
                            <br />
                        </div>
                        <div class="row">
                            <div class="panel panel-default acciones">
                                <div class="row w-100-center">
                                    <button type="button" data-toggle="modal" data-target="#exampleModal" class="col-md-2 btn btn-sm w-25">
                                        <i class="fa fa-trash-o fa-2x"></i>
                                    </button>
                                    <button type="button" onclick="Editar();" class="col-md-2 btn btn-sm w-25">
                                        <i class="fa fa-clone fa-2x"></i>
                                    </button>
                                    <button type="button" data-toggle="modal" data-target="#exampleModalN" class="col-md-2 btn btn-sm w-25">
                                        <i class="fa fa-clone fa-2x"></i>
                                    </button>
                                    <button type="button" data-toggle="modal" data-target="#exampleModalG" class="col-md-2 btn btn-sm w-25">
                                        <i class="fa fa-pencil-square-o fa-2x"></i>
                                    </button>
                                </div>
                                <div class="row w-100-center">
                                    <label class="col-md-2 control-label w-25">Inactivar </label>
                                    <label class="col-md-2 control-label w-25">Editar</label>
                                    <label class="col-md-2 control-label w-25">Nueva Versión</label>
                                    <label class="col-md-2 control-label w-25">Ganadora</label>
                                </div>
                            </div>
                        </div>
                        <!-- Modal inactivar -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Esta Seguro que Desea Inactivar Esta Versión
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-primary" onclick="Inactivar();">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal NuevaVersion -->
                        <div class="modal fade" id="exampleModalN" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelN" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabelN"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Esta seguro que desea generar una nueva versión del proyecto.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-primary" onclick="NuevaVersion();">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal Ganadora -->
                        <div class="modal fade" id="exampleModalG" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelG" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabelG"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Esta seguro que desea asignar como proyecto ganador.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-primary" onclick="Ganador();">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

</div>

