﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SDIO</title>
    @Styles.Render("~/bundles/bootstrap/Master/css")
    @Styles.Render("~/bundles/Assets/css")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/angular/js")
</head>
<body ng-app="app.Funnel" >

    @RenderBody()

    <script type="text/javascript">
    var siteFullUrl = '@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))';
    </script>

    @Scripts.Render("~/bundles/modernizr/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/Main/js")
    @Scripts.Render("~/bundles/Assets/js")
    @Scripts.Render("~/bundles/app/base/js")


    @Scripts.Render("~/bundles/app/comun/js")

    @RenderSection("scripts", required: false)

</body>

</html>
