﻿@using Tgs.SDIO.Util.Web.Trazabilidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Registrar Recurso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Trazabilidad" block-ui="main">
</body>
<div ng-app="app.Trazabilidad" ng-controller="RegistrarRecurso as vm" ng-cloak>
    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading-modal">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Datos Generales
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
            </section>
            <div class="panel-body">
                <div class='col-xs-12 col-sm-12'>
                    <div class='form-group'>
                        <h4 class="modal-title">Recursos</h4>
                        <h5 class="font-bold">Los campos con asterisco (*) son obligatorios.</h5>
                    </div>
                    
                    <div id="divAlert">
                    </div>
                </div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <label class="col-md-3 control-label" for="txtIdAreaSeguimiento">Código:</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control input-md" id="txtCodigo" ng-model="vm.IdRecurso" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <label class="col-md-3 control-label" for="txtDescripcion">Descripcion(*):</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control input-md" ng-model="vm.Nombre" id="txtNombre" maxlength="100" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <label class="col-md-3 control-label" for="txtTipoRecurso">Tipo Recurso(*):</label>
                            <div class="col-md-8">
                                <select id="IdTipoRecurso" class="form-control input-md"
                                        ng-model="vm.IdTipoRecurso"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.listRecursos" ng-cloak></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <label class="col-md-3 control-label" for="ddlEstado">Estado(*):</label>
                            <div class="col-md-8">
                                <select id="ddlIdEstado" class="form-control input-md"
                                        ng-model="vm.IdEstado"
                                        ng-options="item.Codigo as item.Descripcion for item in vm.listEstados" ng-cloak disabled="disabled"></select>
                            </div>
                        </div>
                    </div>
                    <div class='modal-footer text-right'>
                        <button class="btn btn-primary" ng-click="vm.RegistraRecurso()"><span class="glyphicon glyphicon-list-alt"></span> Registrar</button>
                        <a class="btn btn-primary" href="{{vm.EnlaceBandeja}}"><span class="glyphicon glyphicon-share-alt"></span> Retornar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
@section scripts{

    <script>

        var jsonDatoRecurso = @Html.Raw(Json.Encode(ViewBag.vbDatoRecurso));
    </script>
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/comun/BandejaServicio/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/RegistrarRecurso/js")
}

