﻿<div id="IdRouterSondaController" ng-app="app.Oportunidad" ng-controller="RouterSondaController as vm">
    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_RouterSonda" class="alert-edit"></div>
    </div>

    <div class="col-12 tgestiona_filter">
        <div id="accordion">
            <div class="panel">
                <div class="panel-header panel-header-tgestiona" id="headingRouterSonda">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="mb-0 cabfiltros">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseRouterSonda" aria-expanded="true" aria-controls="collapseRouterSonda">
                                    <i class="fa"></i> Datos Generales
                                </button>
                            </h5>
                        </div>
                    </div>
                </div>
                <div id="collapseRouterSonda" class="panel-collapse collapse in" data-parent="#accordion" aria-expanded="true" style="" aria-labelledby="headingRouterSonda">
                    <div class="panel-body panel-body-filters">
                        <form>
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label">Concepto<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input id="txtConceptoRsonda" class="tb form-control" autocomplete="off" />
                                    </div>
                                    <label class="col-md-2 control-label">Cantidad</label>
                                    <div class="col-md-4">
                                        <input id="txtCantidad" ng-model="vm.cantidad" class="form-control" autocomplete="off" onkeyup="CantidadRouterComplete();" />
                                    </div>

                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label">Tipo</label>
                                    <div class="col-md-4">
                                        <select id="" class="form-control"
                                                ng-model="vm.IdTipo"
                                                ng-options="item.Codigo as item.Descripcion for item in vm.ListTipo" ng-cloak></select>
                                    </div>
                                    <label class="col-md-2 control-label">Instalación</label>
                                    <div class="col-md-4">
                                        <input id="txtInstalacion" ng-model="vm.instalacion" class="form-control" disabled="disabled" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label">Desinstalación</label>
                                    <div class="col-md-4">
                                        <input id="txtDesinstalacion" ng-model="vm.desinstalacion" class="form-control" disabled="disabled" autocomplete="off" />
                                    </div>
                                    <label class="col-md-2 control-label">P.U($)</label>
                                    <div class="col-md-4">
                                        <input id="txtPuRsonda" ng-model="vm.precioUnitario" class="form-control" disabled="disabled" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label">Alquiler</label>
                                    <div class="col-md-4">
                                        <input id="txtAlquiler" ng-model="vm.alquiler" class="form-control" disabled="disabled" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="text-right">
                                        <button class="btn btn-custom btn-sm" id="btnRouterSonda" type="button" ng-click="vm.GrabarRouterSonda()">Grabar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 tgestiona_filter">
        <div id="accordion">
            <div class="panel">
                <div class="panel-header panel-header-tgestiona" id="headingFlujoCaja">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="mb-0 cabfiltros">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFlujoCaja" aria-expanded="true" aria-controls="collapseFlujoCaja">
                                    <i class="fa"></i> Flujo Caja
                                </button>
                            </h5>
                        </div>
                    </div>
                </div>
                <div id="collapseFlujoCaja" class="panel-collapse collapse in" data-parent="#accordion" aria-expanded="true" style="" aria-labelledby="headingFlujoCaja">
                    <div class="panel-body panel-body-filters">
                        <form>
                            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
