﻿@using Scripts = System.Web.Optimization.Scripts
@using Tgs.SDIO.Util.Web.Oportunidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = Titulos.Titulo_BandejaOportunidad;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body ng-app="app.Oportunidad" block-ui="main">
</body>


<!-- ============================================================== -->
<body ng-app="app.Oportunidad" block-ui="main">
</body>
<div id="idBandejaOportunidad" ng-app="app.Oportunidad" ng-controller="BandejaOportunidad as vm">
    <!-- Start content -->
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Filtros
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-2">Linea producto</label>
                                <div class="col-md-4" ng-init="vm.CargarLineaNegocio()">
                                    <select id="idLineaNegocio" class="form-control"
                                            ng-model="vm.IdLineaNegocio" value="vm.IdLineaNegocio"
                                            ng-options="item.IdLineaNegocio as item.Descripcion for item in vm.ListLineaNegocio" ng-cloak></select>
                                </div>
                                <label class="control-label col-md-2">N de SalesForce</label>
                                <div class="col-md-4">
                                    <input type="text" ng-model="vm.NumeroSalesForce" class="form-control" id="formGroupExampleInput">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-2">F. Inicio</label>
                                <div class="col-md-4" ng-init="vm.CargarLineaNegocio()">
                                    <div class="input-group">
                                        <input id="datepicker" ng-model="vm.FechaCreacion" type="date" name="bday" min="2000-01-01" max="3000-12-31" class="form-control">
                                        <span class="input-group-addon bg-custom b-0"><i class="mdi mdi-calendar text-white"></i></span>
                                    </div>
                                </div>
                                <label class="control-label col-md-2">Cliente</label>
                                <div class="col-md-4">
                                    <input type="text" ng-model="vm.Descripcion" ng-keyup="vm.SelectCliente(vm.Descripcion)" class="form-control" />
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-model="vm.DescripcionCliente" ng-repeat="item in vm.ListCliente" ng-click="vm.fillTextbox(item.Descripcion,item.IdCliente)">{{item.Descripcion}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-2">Gerente Comercial</label>
                                <div class="col-md-4" ng-init="vm.CargarGerente()">
                                    <select id="idUsuario " class="form-control"
                                            ng-model="vm.IdUsuario"
                                            ng-options="item.IdUsuario as item.NombresCompletos for item in vm.ListGerente" ng-cloak></select>
                                </div>
                                <label class="control-label col-md-2">F. Fin</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input id="datepicker" ng-model="vm.FechaEdicion" type="date" name="bday" min="2000-01-01" max="3000-12-31" class="form-control">
                                        <span class="input-group-addon bg-custom b-0"><i class="mdi mdi-calendar text-white"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-2">Dirección Comercial</label>
                                <div class="col-md-4" ng-init="vm.CargarDireccion()">
                                    <select id="idIdDireccion" class="form-control"
                                            ng-model="vm.IdDireccion" value="vm.IdLineaNegocio"
                                            ng-options="item.IdDireccion as item.Descripcion for item in vm.ListDireccion" ng-cloak></select>
                                </div>
                                <label class="control-label col-md-2">Estado Oportunidad</label>
                                <div class="col-md-4" ng-init="vm.CargarMaestra()">
                                    <select id="IdEstado" class="form-control"
                                            ng-model="vm.IdEstadoOportunidad"
                                            ng-options="item.Valor as item.Descripcion for item in vm.ListMaestra" ng-cloak></select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a id="btnNuevo" class="btn btn-primary btn-primary-tgestiona" href="{{vm.Nuevo}}0" ng-hide="vm.OptionPreVenta">
                                Nuevo
                            </a>
                            <button class="btn btn-primary btn-primary-tgestiona" ng-click="vm.BuscarOportunidad()">Filtrar</button>
                        </div>
                    </div>



                </div>

            </section>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-8">
            <div ng-repeat="item in vm.ListOportunidadCabecera">
                <section class="panel">
                    <div class="panel-body">
                    <div class="row align-items-center" style="cursor:pointer" ng-click="vm.Version(item.IdOportunidad);">
                        <div class="col-sm-1 text-center padingTuerca">
                            <i class="fa fa-cogs iconTuerca"></i>
                        </div>
                        <div class="col-sm-7 oportunidad-text">
                            {{item.Oportunidad}}<br />
                                Cliente:    <span class="oportunidades_textgris">{{item.Cliente}}</span>
                            Versiones:   {{item.Versiones}}      <br>
                            Estado:

                            <button class="btn oportunidades_EnProceso  Estado-{{item.IdEstado}}  waves-effect waves-light btn-xs" style="height: 20px; margin-top: -7px; color:#ffffff; width: 140px;" type="button">{{item.Estado}}</button>
                        </div>
                        <div class="col-sm-4">
                            Fecha de creación:<br>
                            <span class="oportunidades_textgris"> {{item.FechaCreacion.substr(6,13) | date:'dd/MM/yyyy'}}</span><br>
                            Fecha de modificación:<br>
                            <span class="oportunidades_textgris"> {{item.FechaEdicion.substr(6,13) | date:'dd/MM/yyyy'}}</span>
                        </div>
                    </div>
                </div>
                </section>
            </div>
            <div>
            </div>
        </div>


        <div class="col-lg-4" ng-hide="vm.DetalleVersiones">
            <section class="panel">
                <div class="panel-body">
                <div class="panel-header panel-oportunidad_v2">
                    <div class="row align-items-center">
                        <div class="col-md-8">{{vm.Oportunidad}}</div>
                        <div class="col-md-4" ng-init="vm.CargarVersiones()">

                            <select id="idOportunidad" class="form-control"
                                    ng-model="vm.IdOportunidad" value="vm.idOportunidad"
                                    ng-options="des.IdOportunidad as des.Version for des in vm.ListVersiones" ng-change="vm.DatosPorVersion(vm.IdOportunidad);" ng-cloak></select>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-oportunidad-body_v2">
                    <div class="row">
                            <div class="col-md-4 text-info">Preventa:</div>
                        <div class="col-md-8">{{vm.NomCompletPreventa}}</div>
                            <div class="col-md-4 text-info">Creado por:</div>
                        <div class="col-md-8">{{vm.NomCompletUsuCrea}}</div>
                            <div class="col-md-4 text-info">Modificado por:</div>
                        <div class="col-md-8">{{vm.NomCompletUsuMod}}</div>
                    </div>
                </div>
            </div>
            </section>

            <div class="panel panel-leyend panel-lateral-tgestiona">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="resumenProy">Resumen del Oportunidad</h4>
                        </div>
                    </div>
                    <div class="row flex-parent">
                        <div class="col-md-8">
                            <div class="col-sm-12 text-center" id="demo">

                                <div id="pie-chart"></div>
                            </div>
                        </div>
                        <div class="col-md-4 text-left flex-parent">
                            <ul class="list-inline chart-detail-list m-b-0 flex-child">
                                <li>
                                    <p><i class="fa fa-square squareGreen"></i> Linea de Datos</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-square squareYellow"></i> Linea Housing</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-square squareRed"></i> Linea Data Center</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-leyend">
                <div class="panel-body botonera">
                    <div class="row">
                        @*<div class="col-md-3 text-center"><a href="#"><i class="fa fa-trash-o"></i> Eliminar</a></div>
                            <div class="col-md-3 text-center"><a href="#"><i class="fa fa-files-o"></i> Version</a></div>*@
                        <div class="col-md-3 text-center"><a href="../OportunidadContenedor/Index/{{vm.IdOportunidad}}"><i class="fa fa-edit"></i> Editar</a></div>
                        <div class="col-md-3 text-center"><a class="button" ng-click="vm.NuevaVersion(vm.IdOportunidad)" ><i class="fa fa-edit"></i> Version</a></div>

                    </div>
                </div>
            </div>

            NuevaVersion
        </div>

    </div>
    <div class="content">
        <div class="container">

        </div>
        <!-- content -->
    </div>
</div>

@section scripts{
    <link href="~/Content/morris.css" rel="stylesheet" />
    <script src="~/Content/morris.min.js"></script>
    <script src="~/Content/raphael-min.js"></script>
    <script>var jsonListOportunidadCabecera= @Html.Raw(Json.Encode(ViewBag.vbListOportunidadCabecera));</script>

    <script>var jsonListLineaNegocio= @Html.Raw(Json.Encode(ViewBag.vbListLineaNegocio));</script>

    <script>var jsonListMaestra= @Html.Raw(Json.Encode(ViewBag.vbListMaestra));</script>

    <script>var jsonListCliente= @Html.Raw(Json.Encode(ViewBag.vbListCliente));</script>

    <script>var jsonListGerente= @Html.Raw(Json.Encode(ViewBag.vbListGerente));</script>

    <script>var jsonListDireccion= @Html.Raw(Json.Encode(ViewBag.vbListDireccion));</script>


    @Scripts.Render("~/bundles/app/comun/js")

    <script src="~/Scripts/app/Oportunidad/Oportunidad.module.js"></script>
    <script src="~/Scripts/app/Comun/Cliente/Cliente.service.js"></script>
    @Scripts.Render("~/bundles/app/Oportunidad/Bandeja/js")
    <script src="~/Scripts/app/Oportunidad/RegistrarOportunidad/RegistrarOportunidad.service.js"></script>
    <script>var jsonOptionPreVenta= @Html.Raw(Json.Encode(ViewBag.vbOptionPreVenta));</script>

}



