﻿<div id="IdOPEX" ng-app="app.Oportunidad" ng-controller="OPEXController as vm">
    <!-- Alert -->
    <div class="row">
        <div id="lblAlerta_OPEX" class="alert-edit"></div>
    </div>

    <div class="col-12 tgestiona_filter">
        <div id="accordion">
            <div class="panel">
                <div class="panel-header panel-header-tgestiona" id="headingOPEX">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="mb-0 cabfiltros">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOPEX" aria-expanded="true" aria-controls="collapseOPEX">
                                    <i class="fa"></i> Datos Generales
                                </button>
                            </h5>
                        </div>
                    </div>
                </div>
                <div id="collapseOPEX" class="panel-collapse collapse in" data-parent="#accordion" aria-expanded="true" style="" aria-labelledby="headingOPEX">
                    <div class="panel-body panel-body-filters">
                        <form>
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label">Servicio<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input id="txtServicio" ng-model="vm.servicio" class="tb form-control" autocomplete="off" />
                                    </div>
                                    <label class="col-md-2 control-label">Cantidad</label>
                                    <div class="col-md-4">
                                        <input id="txtCantidad" ng-model="vm.cantidad" type="text" class="form-control" autocomplete="off" onkeydown="EquipoHardware();" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">                                    
                                    <label class="col-md-2 control-label">N° Meses</label>
                                    <div class="col-md-4">
                                        <input id="txtNumeroMeses" ng-model="vm.numeroMeses" class="form-control" autocomplete="off" />
                                    </div>
                                    <label class="col-md-2 control-label">Monto Unitario</label>
                                    <div class="col-md-4">
                                        <input id="txtMontoUnitario" ng-model="vm.montoUnitarioMensual" class="form-control" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">      
                                    <label class="col-md-2 control-label">N° Mes Inicio gasto</label>
                                    <div class="col-md-4">
                                        <input id="txtMesInicio" ng-model="vm.mesInicio" class="form-control" autocomplete="off" />
                                    </div>                              
                                    <label class="col-md-2 control-label">Monto Total Mensual($)</label>
                                    <div class="col-md-4">
                                        <input id="txtMontoPxQ" ng-model="vm.montoTotalMensual" class="form-control" autocomplete="off" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="text-right">
                                        <button class="btn btn-custom btn-sm" id="btnOPEX" type="button" ng-click="vm.GrabarSOPEX()">Grabar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 tgestiona_filter">
        <div id="accordion">
            <div class="panel">
                <div class="panel-header panel-header-tgestiona" id="headingFlujoCaja">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="mb-0 cabfiltros">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFlujoCaja" aria-expanded="true" aria-controls="collapseFlujoCaja">
                                    <i class="fa"></i> Flujo Caja
                                </button>
                            </h5>
                        </div>
                    </div>
                </div>
                <div id="collapseFlujoCaja" class="panel-collapse collapse in" data-parent="#accordion" aria-expanded="true" style="" aria-labelledby="headingFlujoCaja">
                    <div class="panel-body panel-body-filters">
                        <form>
                            @Html.Action("Index", "FlujoCaja", new { area = "Oportunidad" })
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script>
        var ConceptoDatosCapexDtoResponse = @Html.Raw(Json.Encode(ViewBag.dto));
    </script>

    @Scripts.Render("~/bundles/app/oportunidad/opex/js");
    @Scripts.Render("~/bundles/app/comun/maestra/js");

}