﻿@using Tgs.SDIO.Util.Web.Funnel;
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" ng-app="app.Funnel" ng-controller="ReportDashboardController as vm">
    <div ng-init="vm.MostrarDashboard()"> </div>
    <div class="col-sm-12">
       
        
        
     
                <div class="row">
                    <div class="col-md-4">
                        <div class="mini-stat clearfix">
                            <span class="mini-stat-icon green"><i class="fa fa-eye"></i></span>
                            <div class="mini-stat-info">
                                <span>{{vm.OpexTotal}}</span>
                                CONSULTA OPEX TOTAL
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mini-stat clearfix">
                            <span class="mini-stat-icon green"><i class="fa fa-eye"></i></span>
                            <div class="mini-stat-info">
                                <span>{{vm.OibdaTotal}}</span>
                                CONSULTA OIBDA TOTAL
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mini-stat clearfix">
                            <span class="mini-stat-icon green"><i class="fa fa-eye"></i></span>
                            <div class="mini-stat-info">
                                <span>{{vm.serctorF}}</span>
                                SECTOR F
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mini-stat clearfix">
                            <span class="mini-stat-icon orange"><i class="fa fa-gavel"></i></span>
                            <div class="mini-stat-info">
                                <span>{{vm.OportunidadesTrabajadas}}</span>
                                CONSULTA DE OPORTUNIDADES TRABAJADAS TOTAL
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mini-stat clearfix">
                            <span class="mini-stat-icon tar"><i class="fa fa-tag"></i></span>
                            <div class="mini-stat-info">
                                <span>{{vm.IngresoTotal}}</span>
                                CONSULTA DE INGRESOS TOTAL
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mini-stat clearfix">
                            <span class="mini-stat-icon pink"><i class="fa fa-money"></i></span>
                            <div class="mini-stat-info">
                                <span>{{vm.CapexTotal}}</span>
                                CONSULTA  CAPEX TOTAL
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
          
                    <div class="col-md-3">
                        <section class="panel">
                            <div class="panel-body">
                                <div class="top-stats-panel">
                                    <div class="daily-visit">
                                        <h4 class="widget-h">Daily Visitors</h4>
                                        <div id="daily-visit-chart" style="width:100%; height: 100px; display: block">

                                        </div>
                                        <ul class="chart-meta clearfix">
                                            <li class="pull-left visit-chart-value">3233</li>
                                            <li class="pull-right visit-chart-title"><i class="fa fa-arrow-up"></i> 15%</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-3">
                        <section class="panel">
                            <div class="panel-body">
                                <div class="top-stats-panel">
                                    <h4 class="widget-h">Top Advertise</h4>
                                    <div class="sm-pie">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-3">
                        <section class="panel">
                            <div class="panel-body">
                                <div class="top-stats-panel">
                                    <h4 class="widget-h">Daily Sales</h4>
                                    <div class="bar-stats">
                                        <ul class="progress-stat-bar clearfix">
                                            <li data-percent="50%"><span class="progress-stat-percent pink"></span></li>
                                            <li data-percent="90%"><span class="progress-stat-percent"></span></li>
                                            <li data-percent="70%"><span class="progress-stat-percent yellow-b"></span></li>
                                        </ul>
                                        <ul class="bar-legend">
                                            <li><span class="bar-legend-pointer pink"></span> New York</li>
                                            <li><span class="bar-legend-pointer green"></span> Los Angels</li>
                                            <li><span class="bar-legend-pointer yellow-b"></span> Dallas</li>
                                        </ul>
                                        <div class="daily-sales-info">
                                            <span class="sales-count">1200 </span> <span class="sales-label">Products Sold</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
          
        
    </div>
</div>







  <!--Morris Chart-->
<script src="~/Scripts/js/dashboard_2.js"></script>


@section scripts{
    @Scripts.Render("~/bundles/app/funnel/Dashboard/js")
}





