﻿
@using Tgs.SDIO.Util.Web.Oportunidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



        <!--mini statistics start-->
        <div class="row">
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon orange"><i class="fa fa-gavel"></i></span>
                    <div class="mini-stat-info">
                        <span>320</span>
                        Proyectos
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon tar"><i class="fa fa-tag"></i></span>
                    <div class="mini-stat-info">
                        <span>6200</span>
                        Oportunidades
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon pink"><i class="fa fa-money"></i></span>
                    <div class="mini-stat-info">
                        <span>3.5%</span>
                        Oibda
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon green"><i class="fa fa-eye"></i></span>
                    <div class="mini-stat-info">
                        <span>500</span>
                        Oportunidades En Proceso
                    </div>
                </div>
            </div>
        </div>
        <!--mini statistics end-->

        <!--mini statistics start-->
        <div class="row">
            <div class="col-md-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="top-stats-panel">
                            <div class="daily-visit">
                                <h4 class="widget-h">Daily Visitors</h4>
                                <div id="daily-visit-chart" style="width:100%; height: 100px; display: block">
                                </div>
                                <ul class="chart-meta clearfix">
                                    <li class="pull-left visit-chart-value">3233</li>
                                    <li class="pull-right visit-chart-title"><i class="fa fa-arrow-up"></i> 15%</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="top-stats-panel">
                            <h4 class="widget-h">Lineas de Negocio</h4>
                            <div class="sm-pie">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            
            <div class="col-md-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="top-stats-panel">
                            <h4 class="widget-h">Lineas de Negocio</h4>
                            <div class="bar-stats">
                                <ul class="progress-stat-bar clearfix">
                                    <li data-percent="50%"><span class="progress-stat-percent pink"></span></li>
                                    <li data-percent="90%"><span class="progress-stat-percent"></span></li>
                                    <li data-percent="70%"><span class="progress-stat-percent yellow-b"></span></li>
                                </ul>
                                <ul class="bar-legend">
                                    <li><span class="bar-legend-pointer pink"></span>Outsourcing</li>
                                    <li><span class="bar-legend-pointer green"></span> Datos</li>
                                    <li><span class="bar-legend-pointer yellow-b"></span> Housing</li>
                                </ul>
                                <div class="daily-sales-info">
                                    <span class="sales-count">1200 </span> <span class="sales-label">Lineas Vendidas</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!--mini statistics end-->
        <div class="row">
            <div class="col-md-8">
                <!--earning graph start-->
                <section class="panel">
                    <header class="panel-heading">
                        Oportunidades <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div id="graph-area" class="main-chart">
                        </div>
                    </div>
                </section>
                <!--earning graph end-->
            </div>
            <div class="col-md-4">
                <!--widget graph start-->
                <section class="panel">
                    <div class="panel-body">
                        <div class="monthly-stats pink">
                            <div class="clearfix">
                                <h4 class="pull-left"> Agosto 2018</h4>
                                <!-- Nav tabs -->
                                <div class="btn-group pull-right stat-tab">
                                    <a href="#line-chart" class="btn stat-btn active" data-toggle="tab"><i class="ico-stats"></i></a>
                                    <a href="#bar-chart" class="btn stat-btn" data-toggle="tab"><i class="ico-bars"></i></a>
                                </div>
                            </div>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="line-chart">
                                    <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-min-spot-color="false" data-max-spot-color="false" data-line-color="#ffffff" data-spot-color="#ffffff" data-fill-color="" data-highlight-line-color="#ffffff" data-highlight-spot-color="#e1b8ff" data-spot-radius="3" data-data="[100,200,459,234,600,800,345,987,675,457,765]">
                                    </div>
                                </div>
                                <div class="tab-pane" id="bar-chart">
                                    <div class="sparkline" data-type="bar" data-resize="true" data-height="75" data-width="90%" data-bar-color="#d4a7f5" data-bar-width="10" data-data="[300,200,500,700,654,987,457,300,876,454,788,300,200,500,700,654,987,457,300,876,454,788]"></div>
                                </div>
                            </div>
                        </div>
                        <div class="circle-sat">
                            <ul>
                                <li class="left-stat-label"><span class="sell-percent">60%</span><span>Proyectos Concretados</span></li>
                                <li>
                                    <span class="epie-chart" data-percent="45">
                                        <span class="percent"></span>
                                    </span>
                                </li>
                                <li class="right-stat-label"><span class="sell-percent">40%</span><span>Proyectos Desestimados</span></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!--widget graph end-->
                <!--widget graph start-->
                <section class="panel">
                    <div class="panel-body">
                        <ul class="clearfix prospective-spark-bar">
                            <li class="pull-left spark-bar-label">
                                <span class="bar-label-value"> $18887</span>
                                <span>Ingreso Anual</span>
                            </li>
                            <li class="pull-right">
                                <div class="sparkline" data-type="bar" data-resize="true" data-height="40" data-width="90%" data-bar-color="#f6b0ae" data-bar-width="5" data-data="[300,200,500,700,654,987,457,300,876,454,788,300,200,500,700,654,987,457,300,876,454,788]"></div>
                            </li>
                        </ul>
                    </div>
                </section>
                <!--widget graph end-->
                
            </div>
        </div>
       
  <!--Morris Chart-->
<script src="~/Scripts/js/dashboard.js"></script>