/*
 * ANGULAR-DATABLES CSS
 * ----------
 */

/* ---------------------------------------- */
/* DATATABLE */
/* ---------------------------------------- */

.dataTables_wrapper {
    /*border: 1px solid #DDDDDD;*/
    padding: 1rem 0;
}  
table.dataTable,
table.dataTable.no-footer{
    /*margin: 1rem 0;
    width: 100% !important;
    border-top: 1px solid #DDDDDD;;
    border-bottom: 1px solid #DDDDDD;*/
      clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: separate !important;
}
/* -- select box --*/
.dataTables_length {
    margin: 0.2rem 0 0.8rem 1rem;
}
.dataTables_length select{
    border: none;
}
.dataTables_length select:focus{
    outline: none;
}
/* -- search box --*/
.dataTables_filter {
    margin-right: 1rem;
}
.dataTables_filter input[type="search"] {
    border: 1px solid #E4E4E4;
    border-radius: 3px;
}
/* -- table --*/
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #DDDDDD;;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 0px 0px;
    border: 1px ridge;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #585858;
}
.dataTables_wrapper .dataTables_info {
    margin-left: 1rem;
}



/* ---------------------------------------- */
/* PAGINATION */
/* ---------------------------------------- */
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #042540;
    border: none;
    background: #0a4ca3;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.3em 0.8em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    /*transition: all 0.4s ease;*/
    padding: 0.3em 0.8em;
    background: #0a4ca3;
    border: 1px solid transparent;
}
table.dataTable thead th, table.dataTable thead td {
    border: 1px ridge #ddd;
    padding:3px;
    font-size:14px;
}th.sorting_disabled {
    /*color: #E4E4E4;*/
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}table.dataTable, table.dataTable.no-footer {
    margin: 1rem 0;
    border-top: 1px solid #DDDDDD;
    border: 1px solid #DDDDDD;
    /*background: #3371a2;*/
    font-size:14px;
}table.dataTable.row-border tbody tr:first-child th, table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th, table.dataTable.display tbody tr:first-child td {
    border-top: none;
    color: #004d8e;
}.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #042540;
}.dataTables_paginate a {
    padding: 2px 5px!important;
    background: #ddd!important;
    border-color: #004d8e!important;
    border-radius: 5px;
}a.paginate_button.current {
    background: #004d8e!important;
    border-color: #ddd!important;
    color: #ddd;
}.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #ddd !important;
    border: none;
    background: #0a4ca3;
}.dataTables_paginate a {
    padding: 2px 5px!important;
    background: #063f53!important;
    border-color: #ddd!important;
    border-radius: 5px;
}.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box !important;
    display: inline-block !important;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #ddd !important;
    border: 1px solid transparent;
    border-radius: 2px;
    font-weight: 600;
}.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #ddd !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #004d8e !important;
    border: none;
    background: #0a4ca3;
}a.paginate_button.current {
    background: #ddd!important;
    border-color: #ddd!important;
    color: #ddd;
}.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    /* transition: all 0.4s ease; */
    padding: 0.3em 0.8em;
    background: #0a4ca3;
    border: 1px solid transparent;
    color: #ddd !important;
}