﻿@using Tgs.SDIO.Util.Web.Trazabilidad;
@{
    ViewBag.Area = Titulos.Titulo_Area;
    ViewBag.Title = "Registrar Seguimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="app.Trazabilidad" block-ui="main">
</body>
<div ng-app="app.Trazabilidad" ng-controller="RegistrarAreaSeguimiento as vm" ng-cloak>
    <div class="content-page">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading-modal">
                    <i class="fa fa-chevron-circle-down"> </i>
                    Datos Generales
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class='col-xs-12 col-sm-12'>
                        <div class='form-group'>
                            <h4 class="modal-title">Area Seguimiento</h4>
                            <h5 class="font-bold">Los campos con asterisco (*) son obligatorios.</h5>
                        </div>

                        <div id="divAlert">
                        </div>
                    </div>
                    <form class="form-horizontal">
                        <div class="row form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <label class="col-md-4 control-label" for="txtIdAreaSeguimiento">Código:</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control input-md" id="txtIdAreaSeguimiento" ng-model="vm.IdAreaSeguimiento" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <label class="col-md-4 control-label" for="txtDescripcion">Descripcion(*):</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-md" ng-model="vm.Descripcion" id="txtDescripcion" maxlength="100" />
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <label class="col-md-4 control-label" for="ddlSegmentoNegocio">Segmento Negocio(*):</label>
                                <div class="col-md-8">
                                    <div ng-dropdown-multiselect="" options="vm.SegmentoNegocioData" selected-model="vm.SegmentoNegocioModel" checkboxes="true" extra-settings="vm.SegmentoNegocioSettings"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <label class="col-md-4 control-label" for="txtOrdenVisual">Orden Visual:</label>
                                <div class="col-md-2">
                                    <input type="number" class="form-control input-md" ng-model="vm.OrdenVisual" id="txtOrdenVisual" />
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <label class="col-md-4 control-label" for="ddlEstado">Estado(*):</label>
                                <div class="col-md-8">
                                    <select id="ddlIdEstado" class="form-control input-md"
                                            ng-model="vm.IdEstado"
                                            ng-options="item.Codigo as item.Descripcion for item in vm.listEstados" ng-cloak disabled="disabled"></select>
                                </div>
                            </div>
                        </div>
                        <div class='modal-footer text-right'>
                            <button class="btn btn-primary" ng-click="vm.RegistraAreaSeguimiento()"><span class="glyphicon glyphicon-list-alt"></span> Registrar</button>
                            <a class="btn btn-primary" href="{{vm.EnlaceBandeja}}"><span class="glyphicon glyphicon-share-alt"></span> Retornar</a>
                        </div>
                    </form>

                </div>
            </section>
        </div>
    </div>

</div>
@section scripts{
    <script>

        var jsonDatoAreaSeguimiento = @Html.Raw(Json.Encode(ViewBag.vbDatoAreaSeguimiento));
    </script>
    @Scripts.Render("~/bundles/app/comun/js")
    @Scripts.Render("~/bundles/app/Trazabilidad/RegistrarAreaSeguimiento/js")
}

