﻿
@using Tgs.SDIO.Util.Web.Funnel;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Funnel/Views/Shared/_LayoutFunnel.cshtml";
}

<div class="row" style="margin-top:0px;" ng-app="app.Funnel" ng-controller="ReportDashboardController as vm">
    <div id="divAlert"> </div>

    <div ng-init="vm.MostrarDashboard()"> </div>
</div>




@section scripts{
    @Scripts.Render("~/bundles/app/funnel/Dashboard/js")
}

